Initiating the process for cleaning the branch dataset. The raw data is contained in a json file. The data upload occured on 6/14/24 as prescribed in the Capstone 350 Project Requirements document. The process requires Pyspark modules.

In [1]:
import pyspark
import pyspark.sql.functions as funct
from pyspark.sql import SparkSession
import pandas as pd
import credentials as cred

In [2]:
#This creates the new Sparksession
spark = SparkSession.builder.appName("branch_clean").getOrCreate()

In [3]:
#Creating a shortcut to the filepath for the source file for branches
branch_filepath = r"C:\Users\chito\Developer\Capstone_350\Raw_Data\cdw_sapp_branch.json"

In [4]:
#The raw data json file contains multiline records that output an error when the spark.read.json function is used to attempt to load the data thus use the option("multiline", True)

branch_df = spark.read.option("multiLine", True).json(branch_filepath)

# **Data Exploration**

In [5]:
#Showing the first 10 rows 
branch_df.show(10)

+-----------------+-----------+------------+------------+------------+-----------------+----------+--------------------+
|      BRANCH_CITY|BRANCH_CODE| BRANCH_NAME|BRANCH_PHONE|BRANCH_STATE|    BRANCH_STREET|BRANCH_ZIP|        LAST_UPDATED|
+-----------------+-----------+------------+------------+------------+-----------------+----------+--------------------+
|        Lakeville|          1|Example Bank|  1234565276|          MN|     Bridle Court|     55044|2018-04-18T16:51:...|
|          Huntley|          2|Example Bank|  1234618993|          IL|Washington Street|     60142|2018-04-18T16:51:...|
|SouthRichmondHill|          3|Example Bank|  1234985926|          NY|    Warren Street|     11419|2018-04-18T16:51:...|
|       Middleburg|          4|Example Bank|  1234663064|          FL| Cleveland Street|     32068|2018-04-18T16:51:...|
|    KingOfPrussia|          5|Example Bank|  1234849701|          PA|      14th Street|     19406|2018-04-18T16:51:...|
|         Paterson|          7|Example Bank|  1234144890|          NJ| Jefferson Street|      7501|2018-04-18T16:51:...|
|        Pittsford|          8|Example Bank|  1234678272|          NY|         B Street|     14534|2018-04-18T16:51:...|
|     Wethersfield|          9|Example Bank|  1234675219|          CT|  Jefferson Court|      6109|2018-04-18T16:51:...|
|     NorthOlmsted|         10|Example Bank|  1234145047|          OH|   Cambridge Road|     44070|2018-04-18T16:51:...|
|     Hillsborough|         11|Example Bank|  1234366354|          NJ|  3rd Street West|      8844|2018-04-18T16:51:...|
+-----------------+-----------+------------+------------+------------+-----------------+----------+--------------------+
only showing top 10 rows

In [6]:
branch_df.printSchema()

root
 |-- BRANCH_CITY: string (nullable = true)
 |-- BRANCH_CODE: long (nullable = true)
 |-- BRANCH_NAME: string (nullable = true)
 |-- BRANCH_PHONE: string (nullable = true)
 |-- BRANCH_STATE: string (nullable = true)
 |-- BRANCH_STREET: string (nullable = true)
 |-- BRANCH_ZIP: long (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)

In [7]:
branch_df.count()

115

In [8]:
branch_df.describe().show()

+-------+-----------+-----------------+------------+--------------------+------------+-------------+------------------+--------------------+
|summary|BRANCH_CITY|      BRANCH_CODE| BRANCH_NAME|        BRANCH_PHONE|BRANCH_STATE|BRANCH_STREET|        BRANCH_ZIP|        LAST_UPDATED|
+-------+-----------+-----------------+------------+--------------------+------------+-------------+------------------+--------------------+
|  count|        115|              115|         115|                 115|         115|          115|               115|                 115|
|   mean|       NULL|76.67826086956522|        NULL|1.2345499259478261E9|        NULL|         NULL|  38975.2347826087|                NULL|
| stddev|       NULL|52.94113709535237|        NULL|  258751.74757815443|        NULL|         NULL|23938.156819564818|                NULL|
|    min|    Acworth|                1|Example Bank|          1234105725|          AL|  11th Street|              2155|2018-04-18T16:51:...|
|    max|   YubaCity|              197|Example Bank|          1234985926|          WI|  York Street|             98908|2018-04-18T16:51:...|
+-------+-----------+-----------------+------------+--------------------+------------+-------------+------------------+--------------------+

In [9]:
print(branch_df.distinct().count()) # 115 unique branches
branch_df.select(pyspark.sql.functions.countDistinct("BRANCH_CITY")).show() #115 unique branch cities
branch_df.select(pyspark.sql.functions.countDistinct("BRANCH_CODE")).show() #115 unique branch codes

115
+---------------------------+
|count(DISTINCT BRANCH_CITY)|
+---------------------------+
|                        115|
+---------------------------+

+---------------------------+
|count(DISTINCT BRANCH_CODE)|
+---------------------------+
|                        115|
+---------------------------+

In [10]:
branch_df.explain()

== Physical Plan ==
FileScan json [BRANCH_CITY#0,BRANCH_CODE#1L,BRANCH_NAME#2,BRANCH_PHONE#3,BRANCH_STATE#4,BRANCH_STREET#5,BRANCH_ZIP#6L,LAST_UPDATED#7] Batched: false, DataFilters: [], Format: JSON, Location: InMemoryFileIndex(1 paths)[file:/C:/Users/chito/Developer/Capstone_350/Raw_Data/cdw_sapp_branch.j..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<BRANCH_CITY:string,BRANCH_CODE:bigint,BRANCH_NAME:string,BRANCH_PHONE:string,BRANCH_STATE:...

In [11]:
branch_df.groupBy('BRANCH_NAME').count().orderBy('count').show() #All 115 branches have the Example Bank name
branch_df.groupBy()

+------------+-----+
| BRANCH_NAME|count|
+------------+-----+
|Example Bank|  115|
+------------+-----+

GroupedData[grouping expressions: [], value: [BRANCH_CITY: string, BRANCH_CODE: bigint ... 6 more fields], type: GroupBy]

In [12]:
from pyspark.sql.functions import col
# Find count of NA or missing values for each column
na_counts = {col_name: branch_df.filter(col(col_name).isNull() | (col(col_name) == "")).count() for col_name in branch_df.columns}

# Print the counts of missing values per column
for column, count in na_counts.items():
    print(f"Column {column} has {count} missing values")

Column BRANCH_CITY has 0 missing values
Column BRANCH_CODE has 0 missing values
Column BRANCH_NAME has 0 missing values
Column BRANCH_PHONE has 0 missing values
Column BRANCH_STATE has 0 missing values
Column BRANCH_STREET has 0 missing values
Column BRANCH_ZIP has 0 missing values
Column LAST_UPDATED has 0 missing values

#### Preliminary analysis indicates that the data is consistent, aligns with the schema, and there are no na or null values. As per the mapping requirements for the branch dataset, since there are no NA or Null values, there is no benefit to adding the defalut value of "99999". However, some of the zip code values reveal that they are missing a digit since all US zip codes have a length of 5 digits. Let's investigate how many and which zip codes are of improper length.

In [13]:
branch_df.select('BRANCH_CITY', 'BRANCH_STATE','BRANCH_ZIP')\
    .where(pyspark.sql.functions.length(branch_df["BRANCH_ZIP"]) < 5).show()

+------------+------------+----------+
| BRANCH_CITY|BRANCH_STATE|BRANCH_ZIP|
+------------+------------+----------+
|    Paterson|          NJ|      7501|
|Wethersfield|          CT|      6109|
|Hillsborough|          NJ|      8844|
|     Medford|          MA|      2155|
|    Rockaway|          NJ|      7866|
|  LongBranch|          NJ|      7740|
|   Irvington|          NJ|      7111|
|    NewHaven|          CT|      6511|
|      Quincy|          MA|      2169|
+------------+------------+----------+

!US_zip_code_map

#### **The zip code map reveals that these northeastern US states have zip codes that begin with the range of 02 - 08; thus includes the zip codes presented in the states above. The entire region has zip codes with an intial "0" so we will need to ajust the Branch_ZIP column to correct and add the inital "0" value back to the zip code.**

<img src="US_zip_code_map.png" alt="US Zip Code Map" style="width:750px;height:600px;">

# Transforming the Data

In [14]:
branch_df = branch_df.withColumn('BRANCH_ZIP',\
                    pyspark.sql.functions.when((pyspark.sql.functions.length(branch_df['BRANCH_ZIP']) == 4) &
                        branch_df['BRANCH_STATE'].isin(["NJ", "CT", "NH", "MA", "VT", "RI", "ME"]),
                    pyspark.sql.functions.format_string("0%s",branch_df['BRANCH_ZIP']))\
                    .otherwise(branch_df["BRANCH_ZIP"]))
# "0%s" adds a leading 0 to each string in the column that meets both conditions as specified with the & operator

In [15]:
#Verifying that all zip code values are of length = 5 as per zip code requirements
branch_df.withColumn("zip_len", pyspark.sql.functions.length(branch_df["BRANCH_ZIP"]))\
    .groupBy("zip_len").count().show()

+-------+-----+
|zip_len|count|
+-------+-----+
|      5|  115|
+-------+-----+

In [16]:
branch_ac_df = branch_df.withColumn("first_phone", pyspark.sql.functions.substring("BRANCH_PHONE",0,3))
branch_ac_df.groupBy('first_phone').count().orderBy('count').show()
#Verifying that all phone numbers have the same prefix area code

+-----------+-----+
|first_phone|count|
+-----------+-----+
|        123|  115|
+-----------+-----+

### Creating a User Defined Function(UDF) to transform phone numbers into the format (xxx)xxx-xxxx

In [17]:
def format_phone_number(phone_number):
    if len(phone_number) == 10:
        return f"({phone_number[:3]}){phone_number[3:6]}-{phone_number[6:10]}"
    else:
        return "Invalid phone number length"



formatted_number = format_phone_number("1234567890")
print(formatted_number)

(123)456-7890

In [18]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType



# Create a UDF from the Python function
format_phone_number_udf = udf(format_phone_number, StringType())

# Apply the UDF to the DataFrame column

branch_df = branch_df.withColumn("BRANCH_PHONE", format_phone_number_udf(branch_df["BRANCH_PHONE"]))

branch_df.show(50
               )
#UDF successfully transforms the phone numbers

+-----------------+-----------+------------+-------------+------------+-------------------+----------+--------------------+
|      BRANCH_CITY|BRANCH_CODE| BRANCH_NAME| BRANCH_PHONE|BRANCH_STATE|      BRANCH_STREET|BRANCH_ZIP|        LAST_UPDATED|
+-----------------+-----------+------------+-------------+------------+-------------------+----------+--------------------+
|        Lakeville|          1|Example Bank|(123)456-5276|          MN|       Bridle Court|     55044|2018-04-18T16:51:...|
|          Huntley|          2|Example Bank|(123)461-8993|          IL|  Washington Street|     60142|2018-04-18T16:51:...|
|SouthRichmondHill|          3|Example Bank|(123)498-5926|          NY|      Warren Street|     11419|2018-04-18T16:51:...|
|       Middleburg|          4|Example Bank|(123)466-3064|          FL|   Cleveland Street|     32068|2018-04-18T16:51:...|
|    KingOfPrussia|          5|Example Bank|(123)484-9701|          PA|        14th Street|     19406|2018-04-18T16:51:...|
|         Paterson|          7|Example Bank|(123)414-4890|          NJ|   Jefferson Street|     07501|2018-04-18T16:51:...|
|        Pittsford|          8|Example Bank|(123)467-8272|          NY|           B Street|     14534|2018-04-18T16:51:...|
|     Wethersfield|          9|Example Bank|(123)467-5219|          CT|    Jefferson Court|     06109|2018-04-18T16:51:...|
|     NorthOlmsted|         10|Example Bank|(123)414-5047|          OH|     Cambridge Road|     44070|2018-04-18T16:51:...|
|     Hillsborough|         11|Example Bank|(123)436-6354|          NJ|    3rd Street West|     08844|2018-04-18T16:51:...|
|   MadisonHeights|         12|Example Bank|(123)486-7175|          MI|          Mill Road|     48071|2018-04-18T16:51:...|
|           Oviedo|         14|Example Bank|(123)493-8460|          FL|  Washington Street|     32765|2018-04-18T16:51:...|
|    Mechanicsburg|         15|Example Bank|(123)446-2043|          PA|    Chestnut Street|     17050|2018-04-18T16:51:...|
|        Plainview|         16|Example Bank|(123)485-7525|          NY|       Monroe Drive|     11803|2018-04-18T16:51:...|
|          Paducah|         17|Example Bank|(123)454-6360|          KY|    Railroad Street|     42001|2018-04-18T16:51:...|
|     Harleysville|         18|Example Bank|(123)482-4455|          PA|Church Street South|     19438|2018-04-18T16:51:...|
|     SilverSpring|         19|Example Bank|(123)448-4380|          MD|        King Street|     20901|2018-04-18T16:51:...|
|       Burnsville|         20|Example Bank|(123)484-0138|          MN|   Canterbury Drive|     55337|2018-04-18T16:51:...|
|           Tacoma|         21|Example Bank|(123)436-2433|          WA|         2nd Avenue|     98444|2018-04-18T16:51:...|
|         Carlisle|         22|Example Bank|(123)492-2492|          PA| Front Street South|     17013|2018-04-18T16:51:...|
|           Duarte|         23|Example Bank|(123)446-0645|          CA|    Highland Avenue|     91010|2018-04-18T16:51:...|
|          Redford|         24|Example Bank|(123)461-7414|          MI|       Grove Street|     48239|2018-04-18T16:51:...|
|     NewBaltimore|         25|Example Bank|(123)452-5844|          MI|        Park Avenue|     48047|2018-04-18T16:51:...|
|      LakeJackson|         26|Example Bank|(123)435-6462|          TX|    Chestnut Avenue|     77566|2018-04-18T16:51:...|
|     WinstonSalem|         27|Example Bank|(123)483-6200|          NC|      Pin Oak Drive|     27103|2018-04-18T16:51:...|
|       Midlothian|         28|Example Bank|(123)441-6595|          VA|    3rd Street West|     23112|2018-04-18T16:51:...|
|         Glendora|         29|Example Bank|(123)478-5605|          CA|      School Street|     91740|2018-04-18T16:51:...|
|        SouthLyon|         30|Example Bank|(123)491-5717|          MI|         Shady Lane|     48178|2018-04-18T16:51:...|
|       Carrollton|         31|Example Bank|(123)414-8639|          GA|       Queen Street|     30117|2018-04-18T16:51:...|
|           Helena|         32|Example Bank|(123)430-2170|          MT|        Aspen Court|     59601|2018-04-18T16:51:...|
|       Loganville|         35|Example Bank|(123)431-6769|          GA|        Durham Road|     30052|2018-04-18T16:51:...|
|         ElDorado|         36|Example Bank|(123)468-5988|          AR|      Spruce Avenue|     71730|2018-04-18T16:51:...|
|        CapeCoral|         37|Example Bank|(123)477-1676|          FL|    Lawrence Street|     33904|2018-04-18T16:51:...|
|       Starkville|         38|Example Bank|(123)481-0167|          MS|         7th Street|     39759|2018-04-18T16:51:...|
|       Grandville|         39|Example Bank|(123)420-9297|          MI|   Devonshire Drive|     49418|2018-04-18T16:51:...|
|        Jonesboro|         40|Example Bank|(123)429-5270|          GA|    Franklin Avenue|     30236|2018-04-18T16:51:...|
|       Youngstown|         42|Example Bank|(123)423-7878|          OH|     Elmwood Avenue|     44512|2018-04-18T16:51:...|
|          Houston|         43|Example Bank|(123)475-5992|          TX|       Ashley Court|     77016|2018-04-18T16:51:...|
|       Greenville|         44|Example Bank|(123)473-6019|          NC|   12th Street East|     27834|2018-04-18T16:51:...|
|         Wilmette|         45|Example Bank|(123)445-3475|          IL|     Bayberry Drive|     60091|2018-04-18T16:51:...|
|        Levittown|         46|Example Bank|(123)494-7541|          NY|       Jones Street|     11756|2018-04-18T16:51:...|
|        NewBerlin|         47|Example Bank|(123)487-3625|          WI|           Route 10|     53151|2018-04-18T16:51:...|
|         Bartlett|         48|Example Bank|(123)410-5725|          IL|       Cedar Avenue|     60103|2018-04-18T16:51:...|
|     Chambersburg|         49|Example Bank|(123)415-6589|          PA|        11th Street|     17201|2018-04-18T16:51:...|
|          Granger|         50|Example Bank|(123)411-5442|          IN|      Fairway Drive|     46530|2018-04-18T16:51:...|
|          Lombard|         51|Example Bank|(123)413-2382|          IL|           Route 20|     60148|2018-04-18T16:51:...|
|           ElPaso|         52|Example Bank|(123)424-5465|          TX|      Fulton Street|     79930|2018-04-18T16:51:...|
|          Dundalk|         53|Example Bank|(123)432-3802|          MD|        Manor Drive|     21222|2018-04-18T16:51:...|
|     RedondoBeach|         54|Example Bank|(123)445-2537|          CA|           Oak Lane|     90278|2018-04-18T16:51:...|
|          Rowlett|         56|Example Bank|(123)485-2596|          TX|  State Street East|     75088|2018-04-18T16:51:...|
+-----------------+-----------+------------+-------------+------------+-------------------+----------+--------------------+
only showing top 50 rows

### After review of the table above, one issue has become obvious. Cities that have mutiple words, like El Paso or Redondo Beach, are not seperated with a white space in the BRANCH_City column. Correcting this will provide better presenation of the column data

In [19]:
from pyspark.sql.functions import regexp_replace

#Using regexp_replace, the text is searched through regex functionality to search for a lowercase letter followed by an uppercase letter. The two characters are then separated by a white space.
branch_df = branch_df.withColumn("BRANCH_CITY", regexp_replace(branch_df["BRANCH_CITY"], r"([a-z])([A-Z])", r"$1 $2"))

branch_df.show(50)

+-------------------+-----------+------------+-------------+------------+-------------------+----------+--------------------+
|        BRANCH_CITY|BRANCH_CODE| BRANCH_NAME| BRANCH_PHONE|BRANCH_STATE|      BRANCH_STREET|BRANCH_ZIP|        LAST_UPDATED|
+-------------------+-----------+------------+-------------+------------+-------------------+----------+--------------------+
|          Lakeville|          1|Example Bank|(123)456-5276|          MN|       Bridle Court|     55044|2018-04-18T16:51:...|
|            Huntley|          2|Example Bank|(123)461-8993|          IL|  Washington Street|     60142|2018-04-18T16:51:...|
|South Richmond Hill|          3|Example Bank|(123)498-5926|          NY|      Warren Street|     11419|2018-04-18T16:51:...|
|         Middleburg|          4|Example Bank|(123)466-3064|          FL|   Cleveland Street|     32068|2018-04-18T16:51:...|
|    King Of Prussia|          5|Example Bank|(123)484-9701|          PA|        14th Street|     19406|2018-04-18T16:51:...|
|           Paterson|          7|Example Bank|(123)414-4890|          NJ|   Jefferson Street|     07501|2018-04-18T16:51:...|
|          Pittsford|          8|Example Bank|(123)467-8272|          NY|           B Street|     14534|2018-04-18T16:51:...|
|       Wethersfield|          9|Example Bank|(123)467-5219|          CT|    Jefferson Court|     06109|2018-04-18T16:51:...|
|      North Olmsted|         10|Example Bank|(123)414-5047|          OH|     Cambridge Road|     44070|2018-04-18T16:51:...|
|       Hillsborough|         11|Example Bank|(123)436-6354|          NJ|    3rd Street West|     08844|2018-04-18T16:51:...|
|    Madison Heights|         12|Example Bank|(123)486-7175|          MI|          Mill Road|     48071|2018-04-18T16:51:...|
|             Oviedo|         14|Example Bank|(123)493-8460|          FL|  Washington Street|     32765|2018-04-18T16:51:...|
|      Mechanicsburg|         15|Example Bank|(123)446-2043|          PA|    Chestnut Street|     17050|2018-04-18T16:51:...|
|          Plainview|         16|Example Bank|(123)485-7525|          NY|       Monroe Drive|     11803|2018-04-18T16:51:...|
|            Paducah|         17|Example Bank|(123)454-6360|          KY|    Railroad Street|     42001|2018-04-18T16:51:...|
|       Harleysville|         18|Example Bank|(123)482-4455|          PA|Church Street South|     19438|2018-04-18T16:51:...|
|      Silver Spring|         19|Example Bank|(123)448-4380|          MD|        King Street|     20901|2018-04-18T16:51:...|
|         Burnsville|         20|Example Bank|(123)484-0138|          MN|   Canterbury Drive|     55337|2018-04-18T16:51:...|
|             Tacoma|         21|Example Bank|(123)436-2433|          WA|         2nd Avenue|     98444|2018-04-18T16:51:...|
|           Carlisle|         22|Example Bank|(123)492-2492|          PA| Front Street South|     17013|2018-04-18T16:51:...|
|             Duarte|         23|Example Bank|(123)446-0645|          CA|    Highland Avenue|     91010|2018-04-18T16:51:...|
|            Redford|         24|Example Bank|(123)461-7414|          MI|       Grove Street|     48239|2018-04-18T16:51:...|
|      New Baltimore|         25|Example Bank|(123)452-5844|          MI|        Park Avenue|     48047|2018-04-18T16:51:...|
|       Lake Jackson|         26|Example Bank|(123)435-6462|          TX|    Chestnut Avenue|     77566|2018-04-18T16:51:...|
|      Winston Salem|         27|Example Bank|(123)483-6200|          NC|      Pin Oak Drive|     27103|2018-04-18T16:51:...|
|         Midlothian|         28|Example Bank|(123)441-6595|          VA|    3rd Street West|     23112|2018-04-18T16:51:...|
|           Glendora|         29|Example Bank|(123)478-5605|          CA|      School Street|     91740|2018-04-18T16:51:...|
|         South Lyon|         30|Example Bank|(123)491-5717|          MI|         Shady Lane|     48178|2018-04-18T16:51:...|
|         Carrollton|         31|Example Bank|(123)414-8639|          GA|       Queen Street|     30117|2018-04-18T16:51:...|
|             Helena|         32|Example Bank|(123)430-2170|          MT|        Aspen Court|     59601|2018-04-18T16:51:...|
|         Loganville|         35|Example Bank|(123)431-6769|          GA|        Durham Road|     30052|2018-04-18T16:51:...|
|          El Dorado|         36|Example Bank|(123)468-5988|          AR|      Spruce Avenue|     71730|2018-04-18T16:51:...|
|         Cape Coral|         37|Example Bank|(123)477-1676|          FL|    Lawrence Street|     33904|2018-04-18T16:51:...|
|         Starkville|         38|Example Bank|(123)481-0167|          MS|         7th Street|     39759|2018-04-18T16:51:...|
|         Grandville|         39|Example Bank|(123)420-9297|          MI|   Devonshire Drive|     49418|2018-04-18T16:51:...|
|          Jonesboro|         40|Example Bank|(123)429-5270|          GA|    Franklin Avenue|     30236|2018-04-18T16:51:...|
|         Youngstown|         42|Example Bank|(123)423-7878|          OH|     Elmwood Avenue|     44512|2018-04-18T16:51:...|
|            Houston|         43|Example Bank|(123)475-5992|          TX|       Ashley Court|     77016|2018-04-18T16:51:...|
|         Greenville|         44|Example Bank|(123)473-6019|          NC|   12th Street East|     27834|2018-04-18T16:51:...|
|           Wilmette|         45|Example Bank|(123)445-3475|          IL|     Bayberry Drive|     60091|2018-04-18T16:51:...|
|          Levittown|         46|Example Bank|(123)494-7541|          NY|       Jones Street|     11756|2018-04-18T16:51:...|
|         New Berlin|         47|Example Bank|(123)487-3625|          WI|           Route 10|     53151|2018-04-18T16:51:...|
|           Bartlett|         48|Example Bank|(123)410-5725|          IL|       Cedar Avenue|     60103|2018-04-18T16:51:...|
|       Chambersburg|         49|Example Bank|(123)415-6589|          PA|        11th Street|     17201|2018-04-18T16:51:...|
|            Granger|         50|Example Bank|(123)411-5442|          IN|      Fairway Drive|     46530|2018-04-18T16:51:...|
|            Lombard|         51|Example Bank|(123)413-2382|          IL|           Route 20|     60148|2018-04-18T16:51:...|
|            El Paso|         52|Example Bank|(123)424-5465|          TX|      Fulton Street|     79930|2018-04-18T16:51:...|
|            Dundalk|         53|Example Bank|(123)432-3802|          MD|        Manor Drive|     21222|2018-04-18T16:51:...|
|      Redondo Beach|         54|Example Bank|(123)445-2537|          CA|           Oak Lane|     90278|2018-04-18T16:51:...|
|            Rowlett|         56|Example Bank|(123)485-2596|          TX|  State Street East|     75088|2018-04-18T16:51:...|
+-------------------+-----------+------------+-------------+------------+-------------------+----------+--------------------+
only showing top 50 rows

#### **As outlined in the mapping document requirements, the dataframe columns should be re-ordered to reflect the document column order, such that: 
BRANCH_CODE|
BRANCH_NAME|
BRANCH_STREET|
BRANCH_CITY|
BRANCH_STATE|
BRANCH_ZIP|
BRANCH_PHONE|
LAST_UPDATED|

In [20]:
branch_df = branch_df.select('BRANCH_CODE','BRANCH_NAME','BRANCH_STREET','BRANCH_CITY',
                 'BRANCH_STATE','BRANCH_ZIP','BRANCH_PHONE','LAST_UPDATED')

branch_df.show(5)

+-----------+------------+-----------------+-------------------+------------+----------+-------------+--------------------+
|BRANCH_CODE| BRANCH_NAME|    BRANCH_STREET|        BRANCH_CITY|BRANCH_STATE|BRANCH_ZIP| BRANCH_PHONE|        LAST_UPDATED|
+-----------+------------+-----------------+-------------------+------------+----------+-------------+--------------------+
|          1|Example Bank|     Bridle Court|          Lakeville|          MN|     55044|(123)456-5276|2018-04-18T16:51:...|
|          2|Example Bank|Washington Street|            Huntley|          IL|     60142|(123)461-8993|2018-04-18T16:51:...|
|          3|Example Bank|    Warren Street|South Richmond Hill|          NY|     11419|(123)498-5926|2018-04-18T16:51:...|
|          4|Example Bank| Cleveland Street|         Middleburg|          FL|     32068|(123)466-3064|2018-04-18T16:51:...|
|          5|Example Bank|      14th Street|    King Of Prussia|          PA|     19406|(123)484-9701|2018-04-18T16:51:...|
+-----------+------------+-----------------+-------------------+------------+----------+-------------+--------------------+
only showing top 5 rows

#### The final transformation requires that the LAST_UPDATED column be in a timestamp format as per the mapping document

In [21]:
from pyspark.sql import functions as funct


branch_df = branch_df.withColumn('LAST_UPDATED', funct.to_timestamp('LAST_UPDATED', 'yyyy-MM-dd\'T\'HH:mm:ss.SSSXXX'))
branch_df.show()

+-----------+------------+-------------------+-------------------+------------+----------+-------------+-------------------+
|BRANCH_CODE| BRANCH_NAME|      BRANCH_STREET|        BRANCH_CITY|BRANCH_STATE|BRANCH_ZIP| BRANCH_PHONE|       LAST_UPDATED|
+-----------+------------+-------------------+-------------------+------------+----------+-------------+-------------------+
|          1|Example Bank|       Bridle Court|          Lakeville|          MN|     55044|(123)456-5276|2018-04-18 15:51:47|
|          2|Example Bank|  Washington Street|            Huntley|          IL|     60142|(123)461-8993|2018-04-18 15:51:47|
|          3|Example Bank|      Warren Street|South Richmond Hill|          NY|     11419|(123)498-5926|2018-04-18 15:51:47|
|          4|Example Bank|   Cleveland Street|         Middleburg|          FL|     32068|(123)466-3064|2018-04-18 15:51:47|
|          5|Example Bank|        14th Street|    King Of Prussia|          PA|     19406|(123)484-9701|2018-04-18 15:51:47|
|          7|Example Bank|   Jefferson Street|           Paterson|          NJ|     07501|(123)414-4890|2018-04-18 15:51:47|
|          8|Example Bank|           B Street|          Pittsford|          NY|     14534|(123)467-8272|2018-04-18 15:51:47|
|          9|Example Bank|    Jefferson Court|       Wethersfield|          CT|     06109|(123)467-5219|2018-04-18 15:51:47|
|         10|Example Bank|     Cambridge Road|      North Olmsted|          OH|     44070|(123)414-5047|2018-04-18 15:51:47|
|         11|Example Bank|    3rd Street West|       Hillsborough|          NJ|     08844|(123)436-6354|2018-04-18 15:51:47|
|         12|Example Bank|          Mill Road|    Madison Heights|          MI|     48071|(123)486-7175|2018-04-18 15:51:47|
|         14|Example Bank|  Washington Street|             Oviedo|          FL|     32765|(123)493-8460|2018-04-18 15:51:47|
|         15|Example Bank|    Chestnut Street|      Mechanicsburg|          PA|     17050|(123)446-2043|2018-04-18 15:51:47|
|         16|Example Bank|       Monroe Drive|          Plainview|          NY|     11803|(123)485-7525|2018-04-18 15:51:47|
|         17|Example Bank|    Railroad Street|            Paducah|          KY|     42001|(123)454-6360|2018-04-18 15:51:47|
|         18|Example Bank|Church Street South|       Harleysville|          PA|     19438|(123)482-4455|2018-04-18 15:51:47|
|         19|Example Bank|        King Street|      Silver Spring|          MD|     20901|(123)448-4380|2018-04-18 15:51:47|
|         20|Example Bank|   Canterbury Drive|         Burnsville|          MN|     55337|(123)484-0138|2018-04-18 15:51:47|
|         21|Example Bank|         2nd Avenue|             Tacoma|          WA|     98444|(123)436-2433|2018-04-18 15:51:47|
|         22|Example Bank| Front Street South|           Carlisle|          PA|     17013|(123)492-2492|2018-04-18 15:51:47|
+-----------+------------+-------------------+-------------------+------------+----------+-------------+-------------------+
only showing top 20 rows

In [22]:
print(spark.version)

3.5.1

### **Writing the branch_df directly to the creditcard_capstone DB is key. Below, you will notice several code blocks in which I tried roundabout methods of loading data. TRANSFORMING INTO A PANDAS DATAFRAME AND THEN READING TO JSON FILES CREATES AN INFINITE NUMBER OF ISSUES. DO NOT ATTEMPT THIS APPROACH!!

In [23]:
branch_df.write.format("jdbc") \
  .mode("append") \
  .option("url", "jdbc:mysql://localhost:3306/creditcard_capstone") \
  .option("dbtable", "creditcard_capstone.CDW_SAPP_BRANCH") \
  .option("user", cred.user) \
  .option("password", cred.password) \
  .save()

In [24]:
branch_df.printSchema()

root
 |-- BRANCH_CODE: long (nullable = true)
 |-- BRANCH_NAME: string (nullable = true)
 |-- BRANCH_STREET: string (nullable = true)
 |-- BRANCH_CITY: string (nullable = true)
 |-- BRANCH_STATE: string (nullable = true)
 |-- BRANCH_ZIP: string (nullable = true)
 |-- BRANCH_PHONE: string (nullable = true)
 |-- LAST_UPDATED: timestamp (nullable = true)

In [28]:
pandas_df = branch_df.toPandas()
pandas_df.head()

,BRANCH_CODE,BRANCH_NAME,BRANCH_STREET,BRANCH_CITY,BRANCH_STATE,BRANCH_ZIP,BRANCH_PHONE,LAST_UPDATED
0,1,Example Bank,Bridle Court,Lakeville,MN,55044,(123)456-5276,2018-04-18 15:51:47
1,2,Example Bank,Washington Street,Huntley,IL,60142,(123)461-8993,2018-04-18 15:51:47
2,3,Example Bank,Warren Street,South Richmond Hill,NY,11419,(123)498-5926,2018-04-18 15:51:47
3,4,Example Bank,Cleveland Street,Middleburg,FL,32068,(123)466-3064,2018-04-18 15:51:47
4,5,Example Bank,14th Street,King Of Prussia,PA,19406,(123)484-9701,2018-04-18 15:51:47

In [26]:
!pip list

Package                   Version
------------------------- -----------
asttokens                 2.4.1
attrs                     23.2.0
blinker                   1.8.2
certifi                   2024.2.2
cffi                      1.16.0
charset-normalizer        3.3.2
click                     8.1.7
colorama                  0.4.6
comm                      0.2.2
contourpy                 1.2.1
cryptography              42.0.8
cycler                    0.12.1
dash                      2.17.0
dash-core-components      2.0.0
dash-html-components      2.0.0
dash-table                5.0.0
debugpy                   1.8.1
decorator                 5.1.1
executing                 2.0.1
fastjsonschema            2.19.1
findspark                 2.0.1
Flask                     3.0.3
fonttools                 4.51.0
grpcio                    1.64.1
grpcio-tools              1.64.1
idna                      3.7
importlib_metadata        7.1.0
ipykernel                 6.29.4
ipython                   8.23.0
itsdangerous              2.2.0
jedi                      0.19.1
Jinja2                    3.1.4
joblib                    1.4.2
jsonschema                4.22.0
jsonschema-specifications 2023.12.1
jupyter_client            8.6.1
jupyter_core              5.7.2
kiwisolver                1.4.5
MarkupSafe                2.1.5
matplotlib                3.9.0
matplotlib-inline         0.1.7
more-itertools            10.2.0
mysql-connector           2.2.9
mysql-connector-python    9.0.0
nbformat                  5.10.4
nest-asyncio              1.6.0
numpy                     1.26.4
packaging                 24.0
pandas                    2.2.2
parso                     0.8.4
pillow                    10.3.0
pip                       24.1.1
platformdirs              4.2.1
plotly                    5.22.0
prompt-toolkit            3.0.43
protobuf                  5.27.2
psutil                    5.9.8
pure-eval                 0.2.2
py4j                      0.10.9.7
pyarrow                   16.1.0
pycparser                 2.22
Pygments                  2.17.2
PyMySQL                   1.1.1
pyparsing                 3.1.2
pyspark                   3.5.1
python-dateutil           2.9.0.post0
pytz                      2024.1
pywin32                   306
pyzmq                     26.0.2
referencing               0.35.1
requests                  2.31.0
retrying                  1.3.4
rpds-py                   0.18.1
scikit-learn              1.5.0
scipy                     1.13.1
seaborn                   0.13.2
setuptools                65.5.0
six                       1.16.0
stack-data                0.6.3
tenacity                  8.3.0
threadpoolctl             3.5.0
tornado                   6.4
traitlets                 5.14.3
typing_extensions         4.11.0
tzdata                    2024.1
urllib3                   2.2.1
wcwidth                   0.2.13
Werkzeug                  3.0.3
zipp                      3.19.1