In [1]:
#!pip install pyspark

In [2]:
#Import all necessary libraries and packages

import pyspark
import pyspark.sql.functions as funct
from pyspark.sql import SparkSession
import pandas as pd
import credentials as cred

In [3]:
#Creating a shortcut to the filepath for the source file for branches
customer_filepath = r"C:\Users\chito\Developer\Capstone_350\Raw_Data\cdw_sapp_customer.json"

In [4]:
#This creates the new Sparksession
spark = SparkSession.builder.appName("customer_clean").getOrCreate()
#spark = SparkSession.builder.master("local").appName("test").getOrCreate()

In [5]:
#Google Colab
#Creating a shortcut to the filepath for the source file for branches
#customer_filepath = "/content/cdw_sapp_customer.json"

In [6]:
#The raw data json file contains multiline records that output an error when the spark.read.json function is used to attempt to load the data thus use the option("multiline", True)

customer_df = spark.read.option("multiLine", True).json(customer_filepath)

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
# Data Exploration

In [7]:
#Showing the first 10 rows
customer_df.show(10) #A quick review of the initial 10 rows indicates that the CUST_PHONE column is missing digits for a US based system that uses 10 digits including area code for telephone numbers.

+------+----------------+------------+-------------+--------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
|APT_NO|  CREDIT_CARD_NO|   CUST_CITY| CUST_COUNTRY|          CUST_EMAIL|CUST_PHONE|CUST_STATE|CUST_ZIP|FIRST_NAME|LAST_NAME|        LAST_UPDATED|MIDDLE_NAME|      SSN|      STREET_NAME|
+------+----------------+------------+-------------+--------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
|   656|4210653310061055|     Natchez|United States| AHooper@example.com|   1237818|        MS|   39120|      Alec|   Hooper|2018-04-21T12:49:...|         Wm|123456100|Main Street North|
|   829|4210653310102868|Wethersfield|United States| EHolman@example.com|   1238933|        CT|   06109|      Etta|   Holman|2018-04-21T12:49:...|    Brendan|123453023|    Redwood Drive|
|   683|4210653310116272|     Huntley|United States| WDunham@example.com|   1243018|        IL|   60142|    Wilber|   Dunham|2018-04-21T12:49:...|   Ezequiel|123454487| 12th Street East|
|   253|4210653310195948|   NewBerlin|United States|  EHardy@example.com|   1243215|        WI|   53151|   Eugenio|    Hardy|2018-04-21T12:49:...|      Trina|123459758|Country Club Road|
|   301|4210653310356919|      ElPaso|United States|  WAyers@example.com|   1242074|        TX|   79930|   Wilfred|    Ayers|2018-04-21T12:49:...|        May|123454431|   Madison Street|
|     3|4210653310395982|NorthOlmsted|United States|BWoodard@example.com|   1242570|        OH|   44070|      Beau|  Woodard|2018-04-21T12:49:...|    Ambrose|123454202|   Colonial Drive|
|    84|4210653310400536|      Vienna|United States|   SKemp@example.com|   1239685|        VA|   22180|    Sheila|     Kemp|2018-04-21T12:49:...|      Larry|123451799|   Belmont Avenue|
|   728|4210653310459911|      Duarte|United States| WHurley@example.com|   1238213|        CA|   91010|     Wendy|   Hurley|2018-04-21T12:49:...|        Ora|123453875|     Oxford Court|
|    81|4210653310773972|      Owosso|United States|AGilmore@example.com|   1240689|        MI|   48867|      Alec|  Gilmore|2018-04-21T12:49:...|     Tracie|123457511|    Forest Street|
|   561|4210653310794854|        Zion|United States|    BLau@example.com|   1235222|        IL|   60099|    Barbra|      Lau|2018-04-21T12:49:...|    Mitchel|123457464|     Court Street|
+------+----------------+------------+-------------+--------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
only showing top 10 rows

In [8]:
customer_df.printSchema()

root
 |-- APT_NO: string (nullable = true)
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- CUST_CITY: string (nullable = true)
 |-- CUST_COUNTRY: string (nullable = true)
 |-- CUST_EMAIL: string (nullable = true)
 |-- CUST_PHONE: long (nullable = true)
 |-- CUST_STATE: string (nullable = true)
 |-- CUST_ZIP: string (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)
 |-- MIDDLE_NAME: string (nullable = true)
 |-- SSN: long (nullable = true)
 |-- STREET_NAME: string (nullable = true)

**As the columns will need to be reordered according to the mapping document, it makes sense to place the columns in the order presecribed in the mapping document. <span style="font-size: larger;">A special note here**
</span>. In this analysis, the assumption is that the APT_NO column actually represensents the number portion of a street address since it's unlikely that all customers would live in an apartment. Later in the transformation section of the customer dataframe, placing the APT_NO adjacent to the STREET_NAME column will be the basis of the analysis.

In [9]:
customer_df = customer_df.select('CREDIT_CARD_NO', 'SSN', 'CUST_EMAIL', 'CUST_PHONE','FIRST_NAME','MIDDLE_NAME', 'LAST_NAME', 'APT_NO', 'STREET_NAME','CUST_CITY', 'CUST_ZIP', 'CUST_STATE', 'CUST_COUNTRY', 'LAST_UPDATED')

customer_df.show(5)

+----------------+---------+-------------------+----------+----------+-----------+---------+------+-----------------+------------+--------+----------+-------------+--------------------+
|  CREDIT_CARD_NO|      SSN|         CUST_EMAIL|CUST_PHONE|FIRST_NAME|MIDDLE_NAME|LAST_NAME|APT_NO|      STREET_NAME|   CUST_CITY|CUST_ZIP|CUST_STATE| CUST_COUNTRY|        LAST_UPDATED|
+----------------+---------+-------------------+----------+----------+-----------+---------+------+-----------------+------------+--------+----------+-------------+--------------------+
|4210653310061055|123456100|AHooper@example.com|   1237818|      Alec|         Wm|   Hooper|   656|Main Street North|     Natchez|   39120|        MS|United States|2018-04-21T12:49:...|
|4210653310102868|123453023|EHolman@example.com|   1238933|      Etta|    Brendan|   Holman|   829|    Redwood Drive|Wethersfield|   06109|        CT|United States|2018-04-21T12:49:...|
|4210653310116272|123454487|WDunham@example.com|   1243018|    Wilber|   Ezequiel|   Dunham|   683| 12th Street East|     Huntley|   60142|        IL|United States|2018-04-21T12:49:...|
|4210653310195948|123459758| EHardy@example.com|   1243215|   Eugenio|      Trina|    Hardy|   253|Country Club Road|   NewBerlin|   53151|        WI|United States|2018-04-21T12:49:...|
|4210653310356919|123454431| WAyers@example.com|   1242074|   Wilfred|        May|    Ayers|   301|   Madison Street|      ElPaso|   79930|        TX|United States|2018-04-21T12:49:...|
+----------------+---------+-------------------+----------+----------+-----------+---------+------+-----------------+------------+--------+----------+-------------+--------------------+
only showing top 5 rows

In [10]:
customer_df.describe().show()

+-------+--------------------+--------------------+--------------------+------------------+----------+-----------+---------+------------------+-----------+---------+------------------+----------+-------------+--------------------+
|summary|      CREDIT_CARD_NO|                 SSN|          CUST_EMAIL|        CUST_PHONE|FIRST_NAME|MIDDLE_NAME|LAST_NAME|            APT_NO|STREET_NAME|CUST_CITY|          CUST_ZIP|CUST_STATE| CUST_COUNTRY|        LAST_UPDATED|
+-------+--------------------+--------------------+--------------------+------------------+----------+-----------+---------+------------------+-----------+---------+------------------+----------+-------------+--------------------+
|  count|                 952|                 952|                 952|               952|       952|        952|      952|               952|        952|      952|               952|       952|          952|                 952|
|   mean|4.210653353718597...|1.2345552588130252E8|                NULL|1239196.6649159663|      NULL|       NULL|     NULL| 507.3382352941176|       NULL|     NULL|36312.616596638654|      NULL|         NULL|                NULL|
| stddev| 2.576300828101659E7|  2561.1858044909427|                NULL| 2612.648026005403|      NULL|       NULL|     NULL|287.20283977678935|       NULL|     NULL| 23945.49431677531|      NULL|         NULL|                NULL|
|    min|    4210653310061055|           123451007|AAguilar@example.com|           1234574|      Abby|       Abby|   Abbott|                 1|10th Street|  Acworth|             01810|        AL|United States|2018-04-21T12:49:...|
|    max|    4210653399939240|           123459988|ZStratton@example...|           1243558|     Zelma|    Zachary|   Zapata|               998|York Street|     Zion|             98908|        WI|United States|2018-04-21T12:49:...|
+-------+--------------------+--------------------+--------------------+------------------+----------+-----------+---------+------------------+-----------+---------+------------------+----------+-------------+--------------------+

### Again, as indicated above, the CUST_PHONE column shows the value to be only 7 digits rather than 10 digits thus requiring transformation. Similarly, credit card numbers are 16 digits, social security numbers are 9 digits, US states use the 2 letter postal abbreviation, and zip codes are 5 digits.

In [11]:
customer_df.explain()

== Physical Plan ==
*(1) Project [CREDIT_CARD_NO#1, SSN#12L, CUST_EMAIL#4, CUST_PHONE#5L, FIRST_NAME#8, MIDDLE_NAME#11, LAST_NAME#9, APT_NO#0, STREET_NAME#13, CUST_CITY#2, CUST_ZIP#7, CUST_STATE#6, CUST_COUNTRY#3, LAST_UPDATED#10]
+- FileScan json [APT_NO#0,CREDIT_CARD_NO#1,CUST_CITY#2,CUST_COUNTRY#3,CUST_EMAIL#4,CUST_PHONE#5L,CUST_STATE#6,CUST_ZIP#7,FIRST_NAME#8,LAST_NAME#9,LAST_UPDATED#10,MIDDLE_NAME#11,SSN#12L,STREET_NAME#13] Batched: false, DataFilters: [], Format: JSON, Location: InMemoryFileIndex(1 paths)[file:/C:/Users/chito/Developer/Capstone_350/Raw_Data/cdw_sapp_customer..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<APT_NO:string,CREDIT_CARD_NO:string,CUST_CITY:string,CUST_COUNTRY:string,CUST_EMAIL:string...

In [12]:
#Count of customer records
customer_df.count()

952

In [13]:
print(customer_df.distinct().count()) # Should be 952 unique customers
customer_df.select(funct.countDistinct("CREDIT_CARD_NO")).show() #952 unique Credit Card #s for each customer
customer_df.select(funct.countDistinct("CUST_EMAIL")).show() #928 unique customer emails so the data should be examined for null or missing values
customer_df.select(funct.countDistinct("CUST_PHONE")).show() #901 unique customer phone numbers. This could be because of area code issues which will be engaged in the data transformation section
customer_df.select(funct.countDistinct("SSN")).show()

952
+------------------------------+
|count(DISTINCT CREDIT_CARD_NO)|
+------------------------------+
|                           952|
+------------------------------+

+--------------------------+
|count(DISTINCT CUST_EMAIL)|
+--------------------------+
|                       928|
+--------------------------+

+--------------------------+
|count(DISTINCT CUST_PHONE)|
+--------------------------+
|                       901|
+--------------------------+

+-------------------+
|count(DISTINCT SSN)|
+-------------------+
|                952|
+-------------------+

In [14]:
# Find count of NA or missing values for each column
from pyspark.sql.functions import col
na_counts = {col_name: customer_df.filter(col(col_name).isNull() | (col(col_name) == "")).count() for col_name in customer_df.columns}

# Print the counts of missing values per column
for column, count in na_counts.items():
    print(f"Column {column} has {count} missing values")

Column CREDIT_CARD_NO has 0 missing values
Column SSN has 0 missing values
Column CUST_EMAIL has 0 missing values
Column CUST_PHONE has 0 missing values
Column FIRST_NAME has 0 missing values
Column MIDDLE_NAME has 0 missing values
Column LAST_NAME has 0 missing values
Column APT_NO has 0 missing values
Column STREET_NAME has 0 missing values
Column CUST_CITY has 0 missing values
Column CUST_ZIP has 0 missing values
Column CUST_STATE has 0 missing values
Column CUST_COUNTRY has 0 missing values
Column LAST_UPDATED has 0 missing values

In [15]:
#Since there are no null or missing values, the CUST_EMAIL column needs to be inspected for duplicate values
# Display rows with duplicate CUST_EMAIL values
customer_df.groupBy("CUST_EMAIL").count().where("count > 1").show(24) # of duplicate emails (952-928 = 24). These will need transformation.
#The duplicate emails are exhibited below:

+--------------------+-----+
|          CUST_EMAIL|count|
+--------------------+-----+
|    TLiu@example.com|    2|
|  MSwain@example.com|    2|
| CGamble@example.com|    2|
|   RHood@example.com|    2|
| ETruong@example.com|    2|
|JGodfrey@example.com|    2|
|   BYork@example.com|    2|
| EArthur@example.com|    2|
|CSpencer@example.com|    2|
|   LHaas@example.com|    2|
| KBonner@example.com|    2|
|  LCombs@example.com|    2|
| DDorsey@example.com|    2|
|  PMoore@example.com|    2|
|  SBraun@example.com|    2|
| BGuerra@example.com|    2|
| SCrouch@example.com|    2|
| RDeleon@example.com|    2|
| SHoover@example.com|    2|
|DCrowley@example.com|    2|
|  JEmery@example.com|    2|
|  MHatch@example.com|    2|
|SPadgett@example.com|    2|
|   EOdom@example.com|    2|
+--------------------+-----+

In [16]:
# check that all emails in the CUST_EMAIL column have the correct format with alphanumeric "characters@.example.com" using Regex for pyspark



# Define the regular expression pattern for valid emails
email_pattern = "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.example\.com$"

# Filter the DataFrame to select rows where the CUST_EMAIL column does not match the pattern
invalid_emails_df = customer_df.filter(~funct.col("CUST_EMAIL").rlike(email_pattern))

# Count the number of rows with invalid emails
invalid_email_count = invalid_emails_df.count()

# Print the count of invalid emails
print(f"Number of rows with invalid emails: {invalid_email_count}")

# Show the rows with invalid emails
invalid_emails_df.show(5)

Number of rows with invalid emails: 952
+----------------+---------+-------------------+----------+----------+-----------+---------+------+-----------------+------------+--------+----------+-------------+--------------------+
|  CREDIT_CARD_NO|      SSN|         CUST_EMAIL|CUST_PHONE|FIRST_NAME|MIDDLE_NAME|LAST_NAME|APT_NO|      STREET_NAME|   CUST_CITY|CUST_ZIP|CUST_STATE| CUST_COUNTRY|        LAST_UPDATED|
+----------------+---------+-------------------+----------+----------+-----------+---------+------+-----------------+------------+--------+----------+-------------+--------------------+
|4210653310061055|123456100|AHooper@example.com|   1237818|      Alec|         Wm|   Hooper|   656|Main Street North|     Natchez|   39120|        MS|United States|2018-04-21T12:49:...|
|4210653310102868|123453023|EHolman@example.com|   1238933|      Etta|    Brendan|   Holman|   829|    Redwood Drive|Wethersfield|   06109|        CT|United States|2018-04-21T12:49:...|
|4210653310116272|123454487|WDunham@example.com|   1243018|    Wilber|   Ezequiel|   Dunham|   683| 12th Street East|     Huntley|   60142|        IL|United States|2018-04-21T12:49:...|
|4210653310195948|123459758| EHardy@example.com|   1243215|   Eugenio|      Trina|    Hardy|   253|Country Club Road|   NewBerlin|   53151|        WI|United States|2018-04-21T12:49:...|
|4210653310356919|123454431| WAyers@example.com|   1242074|   Wilfred|        May|    Ayers|   301|   Madison Street|      ElPaso|   79930|        TX|United States|2018-04-21T12:49:...|
+----------------+---------+-------------------+----------+----------+-----------+---------+------+-----------------+------------+--------+----------+-------------+--------------------+
only showing top 5 rows

#### **All customer emails have the correct format. The issue is with the duplicated emails where individuals share the same first name first inititial and the same last name. There are 24 duplicate emails in the dataframe. 952-24 = 928 as the count of count(DISTINCT CUST_EMAIL) showed 928. However, we will need to account for this when transforming the data. The methodology will use the customer middle name, MIDDLE_NAME, as a way to distinguish between duplicate emails since it appears that the email format reflects: first_initial_last_name@example.com. Transformation will only occur for those duplicates and not each emai in the data frame**

____________________________________________________________________________________________________________________________________________
### **Data Transformation**

In [17]:
#Adding space between customer city names that have multiple words therby creating space to appropriate decipher the customer city name, e.g., "El Paso", "King of Prussia"
from pyspark.sql.functions import regexp_replace

#Using regexp_replace, the text is searched through regex functionality to search for a lowercase letter followed by an uppercase letter. The two characters are then separated by a white space.
customer_df = customer_df.withColumn("CUST_CITY", regexp_replace(customer_df["CUST_CITY"], r"([a-z])([A-Z])", r"$1 $2"))
customer_df.show(10)

+----------------+---------+--------------------+----------+----------+-----------+---------+------+-----------------+-------------+--------+----------+-------------+--------------------+
|  CREDIT_CARD_NO|      SSN|          CUST_EMAIL|CUST_PHONE|FIRST_NAME|MIDDLE_NAME|LAST_NAME|APT_NO|      STREET_NAME|    CUST_CITY|CUST_ZIP|CUST_STATE| CUST_COUNTRY|        LAST_UPDATED|
+----------------+---------+--------------------+----------+----------+-----------+---------+------+-----------------+-------------+--------+----------+-------------+--------------------+
|4210653310061055|123456100| AHooper@example.com|   1237818|      Alec|         Wm|   Hooper|   656|Main Street North|      Natchez|   39120|        MS|United States|2018-04-21T12:49:...|
|4210653310102868|123453023| EHolman@example.com|   1238933|      Etta|    Brendan|   Holman|   829|    Redwood Drive| Wethersfield|   06109|        CT|United States|2018-04-21T12:49:...|
|4210653310116272|123454487| WDunham@example.com|   1243018|    Wilber|   Ezequiel|   Dunham|   683| 12th Street East|      Huntley|   60142|        IL|United States|2018-04-21T12:49:...|
|4210653310195948|123459758|  EHardy@example.com|   1243215|   Eugenio|      Trina|    Hardy|   253|Country Club Road|   New Berlin|   53151|        WI|United States|2018-04-21T12:49:...|
|4210653310356919|123454431|  WAyers@example.com|   1242074|   Wilfred|        May|    Ayers|   301|   Madison Street|      El Paso|   79930|        TX|United States|2018-04-21T12:49:...|
|4210653310395982|123454202|BWoodard@example.com|   1242570|      Beau|    Ambrose|  Woodard|     3|   Colonial Drive|North Olmsted|   44070|        OH|United States|2018-04-21T12:49:...|
|4210653310400536|123451799|   SKemp@example.com|   1239685|    Sheila|      Larry|     Kemp|    84|   Belmont Avenue|       Vienna|   22180|        VA|United States|2018-04-21T12:49:...|
|4210653310459911|123453875| WHurley@example.com|   1238213|     Wendy|        Ora|   Hurley|   728|     Oxford Court|       Duarte|   91010|        CA|United States|2018-04-21T12:49:...|
|4210653310773972|123457511|AGilmore@example.com|   1240689|      Alec|     Tracie|  Gilmore|    81|    Forest Street|       Owosso|   48867|        MI|United States|2018-04-21T12:49:...|
|4210653310794854|123457464|    BLau@example.com|   1235222|    Barbra|    Mitchel|      Lau|   561|     Court Street|         Zion|   60099|        IL|United States|2018-04-21T12:49:...|
+----------------+---------+--------------------+----------+----------+-----------+---------+------+-----------------+-------------+--------+----------+-------------+--------------------+
only showing top 10 rows

### Transforming the duplicate emails with the use of the customer MIDDLE_NAME field to differentiate duplicates. This seems the best method to avoid duplicate emails from what are almost certainly unique individuals not sharing a household with the other person.

In [18]:

from pyspark.sql.window import Window
from pyspark.sql import functions as funct  # Using your alias

w = Window.partitionBy('CUST_EMAIL').orderBy('MIDDLE_NAME')
ranked_df = customer_df.withColumn('rank', funct.rank().over(w))

# Update emails for duplicates
ranked_df = (
    ranked_df.withColumn(
        'CUST_EMAIL',  # Correct the column name to 'CUST_EMAIL'
        funct.when(
            funct.col('rank') > 1,
            funct.concat(
                funct.substring('FIRST_NAME', 1, 1),
                funct.substring('MIDDLE_NAME', 1, 1),
                funct.col('LAST_NAME'),                   # Full last name (no slicing)
                funct.lit('@example.com'),
            ),
        ).otherwise(funct.col('CUST_EMAIL')),  # Reference correct original email column
    )
    .drop('rank')
)

ranked_df.show(10)

+----------------+---------+--------------------+----------+----------+-----------+---------+------+---------------+----------------+--------+----------+-------------+--------------------+
|  CREDIT_CARD_NO|      SSN|          CUST_EMAIL|CUST_PHONE|FIRST_NAME|MIDDLE_NAME|LAST_NAME|APT_NO|    STREET_NAME|       CUST_CITY|CUST_ZIP|CUST_STATE| CUST_COUNTRY|        LAST_UPDATED|
+----------------+---------+--------------------+----------+----------+-----------+---------+------+---------------+----------------+--------+----------+-------------+--------------------+
|4210653388841064|123458478|AAguilar@example.com|   1238016|     April|     Damien|  Aguilar|   163|    York Street|            Stow|   44224|        OH|United States|2018-04-21T12:49:...|
|4210653370850340|123456849|  AArias@example.com|   1237253|     Adele|  Constance|    Arias|    13|  Edgewood Road|          Oxnard|   93035|        CA|United States|2018-04-21T12:49:...|
|4210653379318909|123454439|  AAvila@example.com|   1240550|      Alta|      Verna|    Avila|   206|9th Street West|      New Berlin|   53151|        WI|United States|2018-04-21T12:49:...|
|4210653311229354|123452373|ABallard@example.com|   1242113|    Amalia|  Heriberto|  Ballard|    71|  Warren Street|      Grandville|   49418|        MI|United States|2018-04-21T12:49:...|
|4210653364098310|123451594| ABarker@example.com|   1241854|      Alva|      Gerry|   Barker|   539|     New Street|Wappingers Falls|   12590|        NY|United States|2018-04-21T12:49:...|
|4210653333928752|123456704|ABarrera@example.com|   1238751|   Alfonso|        Lee|  Barrera|    64|    High Street|         Acworth|   30101|        GA|United States|2018-04-21T12:49:...|
|4210653358780059|123452269|ABlackwell@exampl...|   1237294|    Armand|     Irving|Blackwell|   545| Jackson Street|    Allison Park|   15101|        PA|United States|2018-04-21T12:49:...|
|4210653364949545|123453919| ABolton@example.com|   1236627|    Alicia|      Jenny|   Bolton|   584|  Forest Street|         Lombard|   60148|        IL|United States|2018-04-21T12:49:...|
|4210653323251469|123458702|ABoucher@example.com|   1234611|    Aubrey|      Billy|  Boucher|    28|Franklin Street|    Harrisonburg|   22801|        VA|United States|2018-04-21T12:49:...|
|4210653321611888|123454344|ABritton@example.com|   1240524|    Alyssa|    Milford|  Britton|   387|Railroad Street|      Hartsville|   29550|        SC|United States|2018-04-21T12:49:...|
+----------------+---------+--------------------+----------+----------+-----------+---------+------+---------------+----------------+--------+----------+-------------+--------------------+
only showing top 10 rows

In [19]:
from pyspark.sql.functions import col

# Perform a join on a unique identifier (e.g., CUST_ID)
joined_df = customer_df.alias("original").join(ranked_df.alias("updated"), on="SSN")

# Filter to show only rows where the email was changed
corrected_duplicates_df = joined_df.filter(
    col("original.CUST_EMAIL") != col("updated.CUST_EMAIL")
).select(
    col("original.SSN"),
    col("original.FIRST_NAME"),
    col("original.MIDDLE_NAME"),
    col("original.LAST_NAME"),
    col("original.CUST_EMAIL").alias("original_email"),
    col("updated.CUST_EMAIL").alias("updated_email"),
)

corrected_duplicates_df.show(24)

+---------+----------+-----------+---------+--------------------+--------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|      original_email|       updated_email|
+---------+----------+-----------+---------+--------------------+--------------------+
|123452454|    Bertie|   Mercedes|     York|   BYork@example.com|  BMYork@example.com|
|123458724|     Tonya|   Porfirio|      Liu|    TLiu@example.com|   TPLiu@example.com|
|123459742|        Jo|     Sylvia|  Godfrey|JGodfrey@example.com|JSGodfrey@example...|
|123454597|   Jillian|    Normand|    Emery|  JEmery@example.com| JNEmery@example.com|
|123451762|   Enrique|      Tasha|   Arthur| EArthur@example.com|ETArthur@example.com|
|123451070|   Rosanne|      Tania|   Deleon| RDeleon@example.com|RTDeleon@example.com|
|123458390| Sylvester|      Wyatt|  Padgett|SPadgett@example.com|SWPadgett@example...|
|123458353|    Susana|   Kendrick|   Crouch| SCrouch@example.com|SKCrouch@example.com|
|123457826|     Eliza|     Krista|   Truong| ETruong@example.com|EKTruong@example.com|
|123458437|    Collin|     Mattie|   Gamble| CGamble@example.com|CMGamble@example.com|
|123452204|    Bonita|   Leopoldo|   Guerra| BGuerra@example.com|BLGuerra@example.com|
|123458563|  Cristina|     Manual|  Spencer|CSpencer@example.com|CMSpencer@example...|
|123453335|     Elisa|  Margarito|     Odom|   EOdom@example.com|  EMOdom@example.com|
|123451846|     Rocco|      Kathi|     Hood|   RHood@example.com|  RKHood@example.com|
|123452856|       Pam|     Odessa|    Moore|  PMoore@example.com| POMoore@example.com|
|123454975|   Socorro|    Laverne|   Hoover| SHoover@example.com|SLHoover@example.com|
|123453756|      Mose|      Wilda|    Hatch|  MHatch@example.com| MWHatch@example.com|
|123451180|     Leona|      Paige|    Combs|  LCombs@example.com| LPCombs@example.com|
|123458101|    Danilo|  Zachariah|   Dorsey| DDorsey@example.com|DZDorsey@example.com|
|123452650|    Kristy|       Chad|   Bonner| KBonner@example.com|KCBonner@example.com|
|123451845|     Sonia|     Olivia|    Braun|  SBraun@example.com| SOBraun@example.com|
|123451837|     Lydia|      Tonya|     Haas|   LHaas@example.com|  LTHaas@example.com|
|123456847|     Dario|      Robin|  Crowley|DCrowley@example.com|DRCrowley@example...|
|123454415|    Milton|      Tracy|    Swain|  MSwain@example.com| MTSwain@example.com|
+---------+----------+-----------+---------+--------------------+--------------------+

In [20]:
from pyspark.sql.functions import col, coalesce

# Join on SSN, prioritize updated emails
updated_customer_df = customer_df.alias("original").join(
    ranked_df.alias("updated"), on="SSN", how="left"
).select(
    # Include all original columns except the original CUST_EMAIL
    *[col("original." + c) for c in customer_df.columns if c != "CUST_EMAIL"],
    # Select the updated or original CUST_EMAIL column
    coalesce(col("updated.CUST_EMAIL"), col("original.CUST_EMAIL")).alias("CUST_EMAIL")
)

# Display the updated dataframe
updated_customer_df.show()

+----------------+---------+----------+----------+-----------+---------+------+-----------------+-------------+--------+----------+-------------+--------------------+--------------------+
|  CREDIT_CARD_NO|      SSN|CUST_PHONE|FIRST_NAME|MIDDLE_NAME|LAST_NAME|APT_NO|      STREET_NAME|    CUST_CITY|CUST_ZIP|CUST_STATE| CUST_COUNTRY|        LAST_UPDATED|          CUST_EMAIL|
+----------------+---------+----------+----------+-----------+---------+------+-----------------+-------------+--------+----------+-------------+--------------------+--------------------+
|4210653310061055|123456100|   1237818|      Alec|         Wm|   Hooper|   656|Main Street North|      Natchez|   39120|        MS|United States|2018-04-21T12:49:...| AHooper@example.com|
|4210653310102868|123453023|   1238933|      Etta|    Brendan|   Holman|   829|    Redwood Drive| Wethersfield|   06109|        CT|United States|2018-04-21T12:49:...| EHolman@example.com|
|4210653310116272|123454487|   1243018|    Wilber|   Ezequiel|   Dunham|   683| 12th Street East|      Huntley|   60142|        IL|United States|2018-04-21T12:49:...| WDunham@example.com|
|4210653310195948|123459758|   1243215|   Eugenio|      Trina|    Hardy|   253|Country Club Road|   New Berlin|   53151|        WI|United States|2018-04-21T12:49:...|  EHardy@example.com|
|4210653310356919|123454431|   1242074|   Wilfred|        May|    Ayers|   301|   Madison Street|      El Paso|   79930|        TX|United States|2018-04-21T12:49:...|  WAyers@example.com|
|4210653310395982|123454202|   1242570|      Beau|    Ambrose|  Woodard|     3|   Colonial Drive|North Olmsted|   44070|        OH|United States|2018-04-21T12:49:...|BWoodard@example.com|
|4210653310400536|123451799|   1239685|    Sheila|      Larry|     Kemp|    84|   Belmont Avenue|       Vienna|   22180|        VA|United States|2018-04-21T12:49:...|   SKemp@example.com|
|4210653310459911|123453875|   1238213|     Wendy|        Ora|   Hurley|   728|     Oxford Court|       Duarte|   91010|        CA|United States|2018-04-21T12:49:...| WHurley@example.com|
|4210653310773972|123457511|   1240689|      Alec|     Tracie|  Gilmore|    81|    Forest Street|       Owosso|   48867|        MI|United States|2018-04-21T12:49:...|AGilmore@example.com|
|4210653310794854|123457464|   1235222|    Barbra|    Mitchel|      Lau|   561|     Court Street|         Zion|   60099|        IL|United States|2018-04-21T12:49:...|    BLau@example.com|
|4210653310817373|123457639|   1241363|   Edmundo|      Denny|  Thomson|   622|    Cypress Court|   Youngstown|   44512|        OH|United States|2018-04-21T12:49:...|EThomson@example.com|
|4210653310844617|123453242|   1236228|      Elsa|   Isabelle|   Truong|   924|  8th Street West|  Summerville|   29483|        SC|United States|2018-04-21T12:49:...| ETruong@example.com|
|4210653311015303|123454339|   1238165|     Homer|      Henry| Mckinney|   611|      East Avenue|      El Paso|   79930|        TX|United States|2018-04-21T12:49:...|HMckinney@example...|
|4210653311215039|123454537|   1234730|      Rita|     Rickey|     Kidd|   680|         Route 44|       Fenton|   48430|        MI|United States|2018-04-21T12:49:...|   RKidd@example.com|
|4210653311229354|123452373|   1242113|    Amalia|  Heriberto|  Ballard|    71|    Warren Street|   Grandville|   49418|        MI|United States|2018-04-21T12:49:...|ABallard@example.com|
|4210653311652836|123455343|   1239888|     Patty|   Angelita|   Thomas|   195|     Jones Street|    Yuba City|   95993|        CA|United States|2018-04-21T12:49:...| PThomas@example.com|
|4210653311707126|123451533|   1240158|  Josefina|   Dorothea|   Morrow|   500|       New Street|   Cape Coral|   33904|        FL|United States|2018-04-21T12:49:...| JMorrow@example.com|
|4210653311730764|123459278|   1241408|    Nelson|  Jefferson|  Andrews|   989|  Division Street|   Brookfield|   53045|        WI|United States|2018-04-21T12:49:...|NAndrews@example.com|
|4210653311898082|123456915|   1238390|    Miquel|     Maximo|Schneider|   810|     Maple Street|     Richmond|   23223|        VA|United States|2018-04-21T12:49:...|MSchneider@exampl...|
|4210653312021765|123453807|   1235067|    Parker|    Arnulfo|  Tidwell|   649|       Eagle Road| West Chester|   19380|        PA|United States|2018-04-21T12:49:...|PTidwell@example.com|
+----------------+---------+----------+----------+-----------+---------+------+-----------------+-------------+--------+----------+-------------+--------------------+--------------------+
only showing top 20 rows

In [21]:
#Reordering columns again as per the mapping document
updated_customer_df = updated_customer_df.select('CREDIT_CARD_NO', 'SSN', 'CUST_EMAIL', 'CUST_PHONE','FIRST_NAME','MIDDLE_NAME', 'LAST_NAME', 'APT_NO', 'STREET_NAME','CUST_CITY', 'CUST_ZIP', 'CUST_STATE', 'CUST_COUNTRY', 'LAST_UPDATED')

updated_customer_df.show(10)

+----------------+---------+--------------------+----------+----------+-----------+---------+------+-----------------+-------------+--------+----------+-------------+--------------------+
|  CREDIT_CARD_NO|      SSN|          CUST_EMAIL|CUST_PHONE|FIRST_NAME|MIDDLE_NAME|LAST_NAME|APT_NO|      STREET_NAME|    CUST_CITY|CUST_ZIP|CUST_STATE| CUST_COUNTRY|        LAST_UPDATED|
+----------------+---------+--------------------+----------+----------+-----------+---------+------+-----------------+-------------+--------+----------+-------------+--------------------+
|4210653310061055|123456100| AHooper@example.com|   1237818|      Alec|         Wm|   Hooper|   656|Main Street North|      Natchez|   39120|        MS|United States|2018-04-21T12:49:...|
|4210653310102868|123453023| EHolman@example.com|   1238933|      Etta|    Brendan|   Holman|   829|    Redwood Drive| Wethersfield|   06109|        CT|United States|2018-04-21T12:49:...|
|4210653310116272|123454487| WDunham@example.com|   1243018|    Wilber|   Ezequiel|   Dunham|   683| 12th Street East|      Huntley|   60142|        IL|United States|2018-04-21T12:49:...|
|4210653310195948|123459758|  EHardy@example.com|   1243215|   Eugenio|      Trina|    Hardy|   253|Country Club Road|   New Berlin|   53151|        WI|United States|2018-04-21T12:49:...|
|4210653310356919|123454431|  WAyers@example.com|   1242074|   Wilfred|        May|    Ayers|   301|   Madison Street|      El Paso|   79930|        TX|United States|2018-04-21T12:49:...|
|4210653310395982|123454202|BWoodard@example.com|   1242570|      Beau|    Ambrose|  Woodard|     3|   Colonial Drive|North Olmsted|   44070|        OH|United States|2018-04-21T12:49:...|
|4210653310400536|123451799|   SKemp@example.com|   1239685|    Sheila|      Larry|     Kemp|    84|   Belmont Avenue|       Vienna|   22180|        VA|United States|2018-04-21T12:49:...|
|4210653310459911|123453875| WHurley@example.com|   1238213|     Wendy|        Ora|   Hurley|   728|     Oxford Court|       Duarte|   91010|        CA|United States|2018-04-21T12:49:...|
|4210653310773972|123457511|AGilmore@example.com|   1240689|      Alec|     Tracie|  Gilmore|    81|    Forest Street|       Owosso|   48867|        MI|United States|2018-04-21T12:49:...|
|4210653310794854|123457464|    BLau@example.com|   1235222|    Barbra|    Mitchel|      Lau|   561|     Court Street|         Zion|   60099|        IL|United States|2018-04-21T12:49:...|
+----------------+---------+--------------------+----------+----------+-----------+---------+------+-----------------+-------------+--------+----------+-------------+--------------------+
only showing top 10 rows

In [22]:
updated_customer_df.select(funct.countDistinct("CUST_EMAIL")).show()

+--------------------------+
|count(DISTINCT CUST_EMAIL)|
+--------------------------+
|                       952|
+--------------------------+

### After transformation, the updated data frame shows 952 distinct customer emails. The dataframe has been updated accordingly. It is now updated_customer_df.

##### **The mapping document requires that the First and Last Names be entered in "Title" case. I will begin this transformation with the LAST_NAME column. However, I did notice that some of the last names with an "Mc" prefix do not have the first letter after the prefix beginning with a capital letter, as in "McKinney". First, I will transform these records to this format: "Mc[A-Z]"**

In [23]:
Last_Name_McC = updated_customer_df.filter(funct.col("LAST_NAME").startswith("Mc"))
total_count = Last_Name_McC.count()
print(total_count)
Last_Name_McC.show()

26
+----------------+---------+--------------------+----------+----------+-----------+----------+------+-----------------+----------------+--------+----------+-------------+--------------------+
|  CREDIT_CARD_NO|      SSN|          CUST_EMAIL|CUST_PHONE|FIRST_NAME|MIDDLE_NAME| LAST_NAME|APT_NO|      STREET_NAME|       CUST_CITY|CUST_ZIP|CUST_STATE| CUST_COUNTRY|        LAST_UPDATED|
+----------------+---------+--------------------+----------+----------+-----------+----------+------+-----------------+----------------+--------+----------+-------------+--------------------+
|4210653311015303|123454339|HMckinney@example...|   1238165|     Homer|      Henry|  Mckinney|   611|      East Avenue|         El Paso|   79930|        TX|United States|2018-04-21T12:49:...|
|4210653312838058|123452805| RMcneil@example.com|   1237290|     Reyes|    Chasity|    Mcneil|   850|    School Street|        Paterson|   07501|        NJ|United States|2018-04-21T12:49:...|
|4210653313088465|123455975|CMcdermott@exampl...|   1240377|   Celeste|     Andrew| Mcdermott|   563|    Edgewood Road|      Gettysburg|   17325|        PA|United States|2018-04-21T12:49:...|
|4210653315118577|123459532|FMccarty@example.com|   1242721|    Freddy|    Thurman|   Mccarty|   811|     Jones Street|      Greenville|   27834|        NC|United States|2018-04-21T12:49:...|
|4210653315669217|123455734|FMckinley@example...|   1241925|   Felicia|        May|  Mckinley|   698|Washington Street|       Pittsford|   14534|        NY|United States|2018-04-21T12:49:...|
|4210653328770662|123453008|  DMckay@example.com|   1240492|     Danny|    Valarie|     Mckay|    49|      Oxford Road|            Zion|   60099|        IL|United States|2018-04-21T12:49:...|
|4210653335163700|123457514|OMcmullen@example...|   1242633|      Omer|       Joan|  Mcmullen|   413|  Columbia Street|        Richmond|   23223|        VA|United States|2018-04-21T12:49:...|
|4210653335694967|123459175|RMcintosh@example...|   1237110|      Ruby|    Domingo|  Mcintosh|   350|   Jackson Avenue|Yorktown Heights|   10598|        NY|United States|2018-04-21T12:49:...|
|4210653339017599|123455101|SMclaughlin@examp...|   1241910|    Shelby|    Maynard|Mclaughlin|   168|       7th Avenue|        Dearborn|   48124|        MI|United States|2018-04-21T12:49:...|
|4210653348834084|123453327|MMcintosh@example...|   1242559|     Major|     Olivia|  Mcintosh|   821|      Park Street|         Seymour|   47274|        IN|United States|2018-04-21T12:49:...|
|4210653348932823|123459400|RMcdermott@exampl...|   1241460|      Rhea|      Leroy| Mcdermott|   313|       1st Avenue|   Silver Spring|   20901|        MD|United States|2018-04-21T12:49:...|
|4210653352628771|123452100|  BMckee@example.com|   1236162|    Bonnie|    Matthew|     Mckee|   378|    Linden Street|       Plainview|   11803|        NY|United States|2018-04-21T12:49:...|
|4210653353323670|123455349|EMcknight@example...|   1239122| Esperanza|      Britt|  Mcknight|   496|     Front Street|       Hempstead|   11550|        NY|United States|2018-04-21T12:49:...|
|4210653360481256|123455001|EMcfarland@exampl...|   1236877|    Emmitt|   Angeline| Mcfarland|   197|          Route 7|    Harleysville|   19438|        PA|United States|2018-04-21T12:49:...|
|4210653360578881|123452087| LMccann@example.com|   1240059|      Long|     Harris|    Mccann|   181|         Route 20|       Frankfort|   40601|        KY|United States|2018-04-21T12:49:...|
|4210653361046455|123454163|AMccullough@examp...|   1238817|    Austin|     Dalton|Mccullough|   872|  5th Street West|          Chaska|   55318|        MN|United States|2018-04-21T12:49:...|
|4210653361070574|123451422|JMcelroy@example.com|   1236155|   Jamison|      Myrna|   Mcelroy|   982|      Park Avenue|      Youngstown|   44512|        OH|United States|2018-04-21T12:49:...|
|4210653364170273|123452137|  EMcgee@example.com|   1242022|      Emma|     Bettie|     Mcgee|   675|   Edgewood Drive|            Stow|   44224|        OH|United States|2018-04-21T12:49:...|
|4210653367134037|123451164|MMcwilliams@examp...|   1240021|      Matt|     Arthur|Mcwilliams|   712|  Sheffield Drive|        Bethesda|   20814|        MD|United States|2018-04-21T12:49:...|
|4210653371997788|123451104|JMcconnell@exampl...|   1241487|   Justina|   Clifford| Mcconnell|   116|      Aspen Court|       New Haven|   06511|        CT|United States|2018-04-21T12:49:...|
+----------------+---------+--------------------+----------+----------+-----------+----------+------+-----------------+----------------+--------+----------+-------------+--------------------+
only showing top 20 rows

In [24]:


# Apply a user defined function to capitalize the second and third letters
def fix_mc_name(name):
    if name and len(name) >= 3 and name.startswith("Mc"):
        return f"Mc{name[2].upper()}{name[3:].lower()}"
    return name

fix_mc_name_udf = funct.udf(fix_mc_name)

# Update the original DataFrame
updated_customer_df = updated_customer_df.withColumn(
    "LAST_NAME", fix_mc_name_udf(funct.col("LAST_NAME"))
)

# Display the updated DataFrame to verify changes
updated_customer_df.show()

+----------------+---------+--------------------+----------+----------+-----------+---------+------+-----------------+-------------+--------+----------+-------------+--------------------+
|  CREDIT_CARD_NO|      SSN|          CUST_EMAIL|CUST_PHONE|FIRST_NAME|MIDDLE_NAME|LAST_NAME|APT_NO|      STREET_NAME|    CUST_CITY|CUST_ZIP|CUST_STATE| CUST_COUNTRY|        LAST_UPDATED|
+----------------+---------+--------------------+----------+----------+-----------+---------+------+-----------------+-------------+--------+----------+-------------+--------------------+
|4210653310061055|123456100| AHooper@example.com|   1237818|      Alec|         Wm|   Hooper|   656|Main Street North|      Natchez|   39120|        MS|United States|2018-04-21T12:49:...|
|4210653310102868|123453023| EHolman@example.com|   1238933|      Etta|    Brendan|   Holman|   829|    Redwood Drive| Wethersfield|   06109|        CT|United States|2018-04-21T12:49:...|
|4210653310116272|123454487| WDunham@example.com|   1243018|    Wilber|   Ezequiel|   Dunham|   683| 12th Street East|      Huntley|   60142|        IL|United States|2018-04-21T12:49:...|
|4210653310195948|123459758|  EHardy@example.com|   1243215|   Eugenio|      Trina|    Hardy|   253|Country Club Road|   New Berlin|   53151|        WI|United States|2018-04-21T12:49:...|
|4210653310356919|123454431|  WAyers@example.com|   1242074|   Wilfred|        May|    Ayers|   301|   Madison Street|      El Paso|   79930|        TX|United States|2018-04-21T12:49:...|
|4210653310395982|123454202|BWoodard@example.com|   1242570|      Beau|    Ambrose|  Woodard|     3|   Colonial Drive|North Olmsted|   44070|        OH|United States|2018-04-21T12:49:...|
|4210653310400536|123451799|   SKemp@example.com|   1239685|    Sheila|      Larry|     Kemp|    84|   Belmont Avenue|       Vienna|   22180|        VA|United States|2018-04-21T12:49:...|
|4210653310459911|123453875| WHurley@example.com|   1238213|     Wendy|        Ora|   Hurley|   728|     Oxford Court|       Duarte|   91010|        CA|United States|2018-04-21T12:49:...|
|4210653310773972|123457511|AGilmore@example.com|   1240689|      Alec|     Tracie|  Gilmore|    81|    Forest Street|       Owosso|   48867|        MI|United States|2018-04-21T12:49:...|
|4210653310794854|123457464|    BLau@example.com|   1235222|    Barbra|    Mitchel|      Lau|   561|     Court Street|         Zion|   60099|        IL|United States|2018-04-21T12:49:...|
|4210653310817373|123457639|EThomson@example.com|   1241363|   Edmundo|      Denny|  Thomson|   622|    Cypress Court|   Youngstown|   44512|        OH|United States|2018-04-21T12:49:...|
|4210653310844617|123453242| ETruong@example.com|   1236228|      Elsa|   Isabelle|   Truong|   924|  8th Street West|  Summerville|   29483|        SC|United States|2018-04-21T12:49:...|
|4210653311015303|123454339|HMckinney@example...|   1238165|     Homer|      Henry| McKinney|   611|      East Avenue|      El Paso|   79930|        TX|United States|2018-04-21T12:49:...|
|4210653311215039|123454537|   RKidd@example.com|   1234730|      Rita|     Rickey|     Kidd|   680|         Route 44|       Fenton|   48430|        MI|United States|2018-04-21T12:49:...|
|4210653311229354|123452373|ABallard@example.com|   1242113|    Amalia|  Heriberto|  Ballard|    71|    Warren Street|   Grandville|   49418|        MI|United States|2018-04-21T12:49:...|
|4210653311652836|123455343| PThomas@example.com|   1239888|     Patty|   Angelita|   Thomas|   195|     Jones Street|    Yuba City|   95993|        CA|United States|2018-04-21T12:49:...|
|4210653311707126|123451533| JMorrow@example.com|   1240158|  Josefina|   Dorothea|   Morrow|   500|       New Street|   Cape Coral|   33904|        FL|United States|2018-04-21T12:49:...|
|4210653311730764|123459278|NAndrews@example.com|   1241408|    Nelson|  Jefferson|  Andrews|   989|  Division Street|   Brookfield|   53045|        WI|United States|2018-04-21T12:49:...|
|4210653311898082|123456915|MSchneider@exampl...|   1238390|    Miquel|     Maximo|Schneider|   810|     Maple Street|     Richmond|   23223|        VA|United States|2018-04-21T12:49:...|
|4210653312021765|123453807|PTidwell@example.com|   1235067|    Parker|    Arnulfo|  Tidwell|   649|       Eagle Road| West Chester|   19380|        PA|United States|2018-04-21T12:49:...|
+----------------+---------+--------------------+----------+----------+-----------+---------+------+-----------------+-------------+--------+----------+-------------+--------------------+
only showing top 20 rows

In [25]:
Last_Name_McC = updated_customer_df.filter(funct.col("LAST_NAME").startswith("Mc"))
total_count = Last_Name_McC.count()
print(total_count)
Last_Name_McC.show()
#The last names have been adjusted to reflect the correct format to Mc[A-Z]

26
+----------------+---------+--------------------+----------+----------+-----------+----------+------+-----------------+----------------+--------+----------+-------------+--------------------+
|  CREDIT_CARD_NO|      SSN|          CUST_EMAIL|CUST_PHONE|FIRST_NAME|MIDDLE_NAME| LAST_NAME|APT_NO|      STREET_NAME|       CUST_CITY|CUST_ZIP|CUST_STATE| CUST_COUNTRY|        LAST_UPDATED|
+----------------+---------+--------------------+----------+----------+-----------+----------+------+-----------------+----------------+--------+----------+-------------+--------------------+
|4210653311015303|123454339|HMckinney@example...|   1238165|     Homer|      Henry|  McKinney|   611|      East Avenue|         El Paso|   79930|        TX|United States|2018-04-21T12:49:...|
|4210653312838058|123452805| RMcneil@example.com|   1237290|     Reyes|    Chasity|    McNeil|   850|    School Street|        Paterson|   07501|        NJ|United States|2018-04-21T12:49:...|
|4210653313088465|123455975|CMcdermott@exampl...|   1240377|   Celeste|     Andrew| McDermott|   563|    Edgewood Road|      Gettysburg|   17325|        PA|United States|2018-04-21T12:49:...|
|4210653315118577|123459532|FMccarty@example.com|   1242721|    Freddy|    Thurman|   McCarty|   811|     Jones Street|      Greenville|   27834|        NC|United States|2018-04-21T12:49:...|
|4210653315669217|123455734|FMckinley@example...|   1241925|   Felicia|        May|  McKinley|   698|Washington Street|       Pittsford|   14534|        NY|United States|2018-04-21T12:49:...|
|4210653328770662|123453008|  DMckay@example.com|   1240492|     Danny|    Valarie|     McKay|    49|      Oxford Road|            Zion|   60099|        IL|United States|2018-04-21T12:49:...|
|4210653335163700|123457514|OMcmullen@example...|   1242633|      Omer|       Joan|  McMullen|   413|  Columbia Street|        Richmond|   23223|        VA|United States|2018-04-21T12:49:...|
|4210653335694967|123459175|RMcintosh@example...|   1237110|      Ruby|    Domingo|  McIntosh|   350|   Jackson Avenue|Yorktown Heights|   10598|        NY|United States|2018-04-21T12:49:...|
|4210653339017599|123455101|SMclaughlin@examp...|   1241910|    Shelby|    Maynard|McLaughlin|   168|       7th Avenue|        Dearborn|   48124|        MI|United States|2018-04-21T12:49:...|
|4210653348834084|123453327|MMcintosh@example...|   1242559|     Major|     Olivia|  McIntosh|   821|      Park Street|         Seymour|   47274|        IN|United States|2018-04-21T12:49:...|
|4210653348932823|123459400|RMcdermott@exampl...|   1241460|      Rhea|      Leroy| McDermott|   313|       1st Avenue|   Silver Spring|   20901|        MD|United States|2018-04-21T12:49:...|
|4210653352628771|123452100|  BMckee@example.com|   1236162|    Bonnie|    Matthew|     McKee|   378|    Linden Street|       Plainview|   11803|        NY|United States|2018-04-21T12:49:...|
|4210653353323670|123455349|EMcknight@example...|   1239122| Esperanza|      Britt|  McKnight|   496|     Front Street|       Hempstead|   11550|        NY|United States|2018-04-21T12:49:...|
|4210653360481256|123455001|EMcfarland@exampl...|   1236877|    Emmitt|   Angeline| McFarland|   197|          Route 7|    Harleysville|   19438|        PA|United States|2018-04-21T12:49:...|
|4210653360578881|123452087| LMccann@example.com|   1240059|      Long|     Harris|    McCann|   181|         Route 20|       Frankfort|   40601|        KY|United States|2018-04-21T12:49:...|
|4210653361046455|123454163|AMccullough@examp...|   1238817|    Austin|     Dalton|McCullough|   872|  5th Street West|          Chaska|   55318|        MN|United States|2018-04-21T12:49:...|
|4210653361070574|123451422|JMcelroy@example.com|   1236155|   Jamison|      Myrna|   McElroy|   982|      Park Avenue|      Youngstown|   44512|        OH|United States|2018-04-21T12:49:...|
|4210653364170273|123452137|  EMcgee@example.com|   1242022|      Emma|     Bettie|     McGee|   675|   Edgewood Drive|            Stow|   44224|        OH|United States|2018-04-21T12:49:...|
|4210653367134037|123451164|MMcwilliams@examp...|   1240021|      Matt|     Arthur|McWilliams|   712|  Sheffield Drive|        Bethesda|   20814|        MD|United States|2018-04-21T12:49:...|
|4210653371997788|123451104|JMcconnell@exampl...|   1241487|   Justina|   Clifford| McConnell|   116|      Aspen Court|       New Haven|   06511|        CT|United States|2018-04-21T12:49:...|
+----------------+---------+--------------------+----------+----------+-----------+----------+------+-----------------+----------------+--------+----------+-------------+--------------------+
only showing top 20 rows

#### Now, let us inititiate the transformation to title case for both the first and last names as per the mapping document.

In [26]:
first_name_filter = updated_customer_df.filter(~funct.col('FIRST_NAME').rlike('^[A-Z][a-z]+$'))
last_name_filter = updated_customer_df.filter(~funct.col('LAST_NAME').rlike('^[A-Z][a-z]+$'))

# ^[A-Z] checks to see if there is a single capital letter at the start of the string.
# [a-z]+$ checks to see if there are only lower case letters after the first letter
# and those letters also go on till the end of the string. Since this is using a ~ operation, the Mc[A-Z] format names I transformed will be identified in the filter. However, none of these have to be transformed. Likewise, no first names need to be transformed to reflect title case.
first_name_filter.select('FIRST_NAME').show()
last_name_filter.select('LAST_NAME').show(26)

+----------+
|FIRST_NAME|
+----------+
+----------+

+----------+
| LAST_NAME|
+----------+
|  McKinney|
|    McNeil|
| McDermott|
|   McCarty|
|  McKinley|
|     McKay|
|  McMullen|
|  McIntosh|
|McLaughlin|
|  McIntosh|
| McDermott|
|     McKee|
|  McKnight|
| McFarland|
|    McCann|
|McCullough|
|   McElroy|
|     McGee|
|McWilliams|
| McConnell|
|   McGuire|
| McConnell|
|  McCauley|
|   McClain|
|     McCoy|
|   McClain|
+----------+

##### No additional transformation of first and last names is required, all First and Last Names are in title case. The middle name must now be converted to lowercase as required by the mapping document.

In [27]:
from pyspark.sql.functions import lower

# Convert MIDDLE_NAME to lowercase
updated_customer_df = updated_customer_df.withColumn("MIDDLE_NAME", lower(funct.col("MIDDLE_NAME")))

# Display updated DataFrame
updated_customer_df.show()

+----------------+---------+--------------------+----------+----------+-----------+---------+------+-----------------+-------------+--------+----------+-------------+--------------------+
|  CREDIT_CARD_NO|      SSN|          CUST_EMAIL|CUST_PHONE|FIRST_NAME|MIDDLE_NAME|LAST_NAME|APT_NO|      STREET_NAME|    CUST_CITY|CUST_ZIP|CUST_STATE| CUST_COUNTRY|        LAST_UPDATED|
+----------------+---------+--------------------+----------+----------+-----------+---------+------+-----------------+-------------+--------+----------+-------------+--------------------+
|4210653310061055|123456100| AHooper@example.com|   1237818|      Alec|         wm|   Hooper|   656|Main Street North|      Natchez|   39120|        MS|United States|2018-04-21T12:49:...|
|4210653310102868|123453023| EHolman@example.com|   1238933|      Etta|    brendan|   Holman|   829|    Redwood Drive| Wethersfield|   06109|        CT|United States|2018-04-21T12:49:...|
|4210653310116272|123454487| WDunham@example.com|   1243018|    Wilber|   ezequiel|   Dunham|   683| 12th Street East|      Huntley|   60142|        IL|United States|2018-04-21T12:49:...|
|4210653310195948|123459758|  EHardy@example.com|   1243215|   Eugenio|      trina|    Hardy|   253|Country Club Road|   New Berlin|   53151|        WI|United States|2018-04-21T12:49:...|
|4210653310356919|123454431|  WAyers@example.com|   1242074|   Wilfred|        may|    Ayers|   301|   Madison Street|      El Paso|   79930|        TX|United States|2018-04-21T12:49:...|
|4210653310395982|123454202|BWoodard@example.com|   1242570|      Beau|    ambrose|  Woodard|     3|   Colonial Drive|North Olmsted|   44070|        OH|United States|2018-04-21T12:49:...|
|4210653310400536|123451799|   SKemp@example.com|   1239685|    Sheila|      larry|     Kemp|    84|   Belmont Avenue|       Vienna|   22180|        VA|United States|2018-04-21T12:49:...|
|4210653310459911|123453875| WHurley@example.com|   1238213|     Wendy|        ora|   Hurley|   728|     Oxford Court|       Duarte|   91010|        CA|United States|2018-04-21T12:49:...|
|4210653310773972|123457511|AGilmore@example.com|   1240689|      Alec|     tracie|  Gilmore|    81|    Forest Street|       Owosso|   48867|        MI|United States|2018-04-21T12:49:...|
|4210653310794854|123457464|    BLau@example.com|   1235222|    Barbra|    mitchel|      Lau|   561|     Court Street|         Zion|   60099|        IL|United States|2018-04-21T12:49:...|
|4210653310817373|123457639|EThomson@example.com|   1241363|   Edmundo|      denny|  Thomson|   622|    Cypress Court|   Youngstown|   44512|        OH|United States|2018-04-21T12:49:...|
|4210653310844617|123453242| ETruong@example.com|   1236228|      Elsa|   isabelle|   Truong|   924|  8th Street West|  Summerville|   29483|        SC|United States|2018-04-21T12:49:...|
|4210653311015303|123454339|HMckinney@example...|   1238165|     Homer|      henry| McKinney|   611|      East Avenue|      El Paso|   79930|        TX|United States|2018-04-21T12:49:...|
|4210653311215039|123454537|   RKidd@example.com|   1234730|      Rita|     rickey|     Kidd|   680|         Route 44|       Fenton|   48430|        MI|United States|2018-04-21T12:49:...|
|4210653311229354|123452373|ABallard@example.com|   1242113|    Amalia|  heriberto|  Ballard|    71|    Warren Street|   Grandville|   49418|        MI|United States|2018-04-21T12:49:...|
|4210653311652836|123455343| PThomas@example.com|   1239888|     Patty|   angelita|   Thomas|   195|     Jones Street|    Yuba City|   95993|        CA|United States|2018-04-21T12:49:...|
|4210653311707126|123451533| JMorrow@example.com|   1240158|  Josefina|   dorothea|   Morrow|   500|       New Street|   Cape Coral|   33904|        FL|United States|2018-04-21T12:49:...|
|4210653311730764|123459278|NAndrews@example.com|   1241408|    Nelson|  jefferson|  Andrews|   989|  Division Street|   Brookfield|   53045|        WI|United States|2018-04-21T12:49:...|
|4210653311898082|123456915|MSchneider@exampl...|   1238390|    Miquel|     maximo|Schneider|   810|     Maple Street|     Richmond|   23223|        VA|United States|2018-04-21T12:49:...|
|4210653312021765|123453807|PTidwell@example.com|   1235067|    Parker|    arnulfo|  Tidwell|   649|       Eagle Road| West Chester|   19380|        PA|United States|2018-04-21T12:49:...|
+----------------+---------+--------------------+----------+----------+-----------+---------+------+-----------------+-------------+--------+----------+-------------+--------------------+
only showing top 20 rows

#### Previously discussed, I will merge the APT_NO and STREET_NAME columns into a new column called FULL_STREET_ADDRESS.

In [28]:
from pyspark.sql.functions import concat, lit

# Concatenate APT_NO and STREET_NAME, adding a space in between
updated_customer_df = updated_customer_df.withColumn(
    "FULL_STREET_ADDRESS",
    concat(funct.col("APT_NO"), lit(" "), funct.col("STREET_NAME"))
)

updated_customer_df = updated_customer_df.drop("APT_NO", "STREET_NAME")

# Display updated DataFrame
updated_customer_df.show()

+----------------+---------+--------------------+----------+----------+-----------+---------+-------------+--------+----------+-------------+--------------------+--------------------+
|  CREDIT_CARD_NO|      SSN|          CUST_EMAIL|CUST_PHONE|FIRST_NAME|MIDDLE_NAME|LAST_NAME|    CUST_CITY|CUST_ZIP|CUST_STATE| CUST_COUNTRY|        LAST_UPDATED| FULL_STREET_ADDRESS|
+----------------+---------+--------------------+----------+----------+-----------+---------+-------------+--------+----------+-------------+--------------------+--------------------+
|4210653310061055|123456100| AHooper@example.com|   1237818|      Alec|         wm|   Hooper|      Natchez|   39120|        MS|United States|2018-04-21T12:49:...|656 Main Street N...|
|4210653310102868|123453023| EHolman@example.com|   1238933|      Etta|    brendan|   Holman| Wethersfield|   06109|        CT|United States|2018-04-21T12:49:...|   829 Redwood Drive|
|4210653310116272|123454487| WDunham@example.com|   1243018|    Wilber|   ezequiel|   Dunham|      Huntley|   60142|        IL|United States|2018-04-21T12:49:...|683 12th Street East|
|4210653310195948|123459758|  EHardy@example.com|   1243215|   Eugenio|      trina|    Hardy|   New Berlin|   53151|        WI|United States|2018-04-21T12:49:...|253 Country Club ...|
|4210653310356919|123454431|  WAyers@example.com|   1242074|   Wilfred|        may|    Ayers|      El Paso|   79930|        TX|United States|2018-04-21T12:49:...|  301 Madison Street|
|4210653310395982|123454202|BWoodard@example.com|   1242570|      Beau|    ambrose|  Woodard|North Olmsted|   44070|        OH|United States|2018-04-21T12:49:...|    3 Colonial Drive|
|4210653310400536|123451799|   SKemp@example.com|   1239685|    Sheila|      larry|     Kemp|       Vienna|   22180|        VA|United States|2018-04-21T12:49:...|   84 Belmont Avenue|
|4210653310459911|123453875| WHurley@example.com|   1238213|     Wendy|        ora|   Hurley|       Duarte|   91010|        CA|United States|2018-04-21T12:49:...|    728 Oxford Court|
|4210653310773972|123457511|AGilmore@example.com|   1240689|      Alec|     tracie|  Gilmore|       Owosso|   48867|        MI|United States|2018-04-21T12:49:...|    81 Forest Street|
|4210653310794854|123457464|    BLau@example.com|   1235222|    Barbra|    mitchel|      Lau|         Zion|   60099|        IL|United States|2018-04-21T12:49:...|    561 Court Street|
|4210653310817373|123457639|EThomson@example.com|   1241363|   Edmundo|      denny|  Thomson|   Youngstown|   44512|        OH|United States|2018-04-21T12:49:...|   622 Cypress Court|
|4210653310844617|123453242| ETruong@example.com|   1236228|      Elsa|   isabelle|   Truong|  Summerville|   29483|        SC|United States|2018-04-21T12:49:...| 924 8th Street West|
|4210653311015303|123454339|HMckinney@example...|   1238165|     Homer|      henry| McKinney|      El Paso|   79930|        TX|United States|2018-04-21T12:49:...|     611 East Avenue|
|4210653311215039|123454537|   RKidd@example.com|   1234730|      Rita|     rickey|     Kidd|       Fenton|   48430|        MI|United States|2018-04-21T12:49:...|        680 Route 44|
|4210653311229354|123452373|ABallard@example.com|   1242113|    Amalia|  heriberto|  Ballard|   Grandville|   49418|        MI|United States|2018-04-21T12:49:...|    71 Warren Street|
|4210653311652836|123455343| PThomas@example.com|   1239888|     Patty|   angelita|   Thomas|    Yuba City|   95993|        CA|United States|2018-04-21T12:49:...|    195 Jones Street|
|4210653311707126|123451533| JMorrow@example.com|   1240158|  Josefina|   dorothea|   Morrow|   Cape Coral|   33904|        FL|United States|2018-04-21T12:49:...|      500 New Street|
|4210653311730764|123459278|NAndrews@example.com|   1241408|    Nelson|  jefferson|  Andrews|   Brookfield|   53045|        WI|United States|2018-04-21T12:49:...| 989 Division Street|
|4210653311898082|123456915|MSchneider@exampl...|   1238390|    Miquel|     maximo|Schneider|     Richmond|   23223|        VA|United States|2018-04-21T12:49:...|    810 Maple Street|
|4210653312021765|123453807|PTidwell@example.com|   1235067|    Parker|    arnulfo|  Tidwell| West Chester|   19380|        PA|United States|2018-04-21T12:49:...|      649 Eagle Road|
+----------------+---------+--------------------+----------+----------+-----------+---------+-------------+--------+----------+-------------+--------------------+--------------------+
only showing top 20 rows

**This transformation requires that the LAST_UPDATED column be in a timestamp format as per the mapping document**

In [29]:
from pyspark.sql import functions as funct


updated_customer_df = updated_customer_df.withColumn('LAST_UPDATED', funct.to_timestamp('LAST_UPDATED', 'yyyy-MM-dd\'T\'HH:mm:ss.SSSXXX'))
updated_customer_df.show()

+----------------+---------+--------------------+----------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+
|  CREDIT_CARD_NO|      SSN|          CUST_EMAIL|CUST_PHONE|FIRST_NAME|MIDDLE_NAME|LAST_NAME|    CUST_CITY|CUST_ZIP|CUST_STATE| CUST_COUNTRY|       LAST_UPDATED| FULL_STREET_ADDRESS|
+----------------+---------+--------------------+----------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+
|4210653310061055|123456100| AHooper@example.com|   1237818|      Alec|         wm|   Hooper|      Natchez|   39120|        MS|United States|2018-04-21 11:49:02|656 Main Street N...|
|4210653310102868|123453023| EHolman@example.com|   1238933|      Etta|    brendan|   Holman| Wethersfield|   06109|        CT|United States|2018-04-21 11:49:02|   829 Redwood Drive|
|4210653310116272|123454487| WDunham@example.com|   1243018|    Wilber|   ezequiel|   Dunham|      Huntley|   60142|        IL|United States|2018-04-21 11:49:02|683 12th Street East|
|4210653310195948|123459758|  EHardy@example.com|   1243215|   Eugenio|      trina|    Hardy|   New Berlin|   53151|        WI|United States|2018-04-21 11:49:02|253 Country Club ...|
|4210653310356919|123454431|  WAyers@example.com|   1242074|   Wilfred|        may|    Ayers|      El Paso|   79930|        TX|United States|2018-04-21 11:49:02|  301 Madison Street|
|4210653310395982|123454202|BWoodard@example.com|   1242570|      Beau|    ambrose|  Woodard|North Olmsted|   44070|        OH|United States|2018-04-21 11:49:02|    3 Colonial Drive|
|4210653310400536|123451799|   SKemp@example.com|   1239685|    Sheila|      larry|     Kemp|       Vienna|   22180|        VA|United States|2018-04-21 11:49:02|   84 Belmont Avenue|
|4210653310459911|123453875| WHurley@example.com|   1238213|     Wendy|        ora|   Hurley|       Duarte|   91010|        CA|United States|2018-04-21 11:49:02|    728 Oxford Court|
|4210653310773972|123457511|AGilmore@example.com|   1240689|      Alec|     tracie|  Gilmore|       Owosso|   48867|        MI|United States|2018-04-21 11:49:02|    81 Forest Street|
|4210653310794854|123457464|    BLau@example.com|   1235222|    Barbra|    mitchel|      Lau|         Zion|   60099|        IL|United States|2018-04-21 11:49:02|    561 Court Street|
|4210653310817373|123457639|EThomson@example.com|   1241363|   Edmundo|      denny|  Thomson|   Youngstown|   44512|        OH|United States|2018-04-21 11:49:02|   622 Cypress Court|
|4210653310844617|123453242| ETruong@example.com|   1236228|      Elsa|   isabelle|   Truong|  Summerville|   29483|        SC|United States|2018-04-21 11:49:02| 924 8th Street West|
|4210653311015303|123454339|HMckinney@example...|   1238165|     Homer|      henry| McKinney|      El Paso|   79930|        TX|United States|2018-04-21 11:49:02|     611 East Avenue|
|4210653311215039|123454537|   RKidd@example.com|   1234730|      Rita|     rickey|     Kidd|       Fenton|   48430|        MI|United States|2018-04-21 11:49:02|        680 Route 44|
|4210653311229354|123452373|ABallard@example.com|   1242113|    Amalia|  heriberto|  Ballard|   Grandville|   49418|        MI|United States|2018-04-21 11:49:02|    71 Warren Street|
|4210653311652836|123455343| PThomas@example.com|   1239888|     Patty|   angelita|   Thomas|    Yuba City|   95993|        CA|United States|2018-04-21 11:49:02|    195 Jones Street|
|4210653311707126|123451533| JMorrow@example.com|   1240158|  Josefina|   dorothea|   Morrow|   Cape Coral|   33904|        FL|United States|2018-04-21 11:49:02|      500 New Street|
|4210653311730764|123459278|NAndrews@example.com|   1241408|    Nelson|  jefferson|  Andrews|   Brookfield|   53045|        WI|United States|2018-04-21 11:49:02| 989 Division Street|
|4210653311898082|123456915|MSchneider@exampl...|   1238390|    Miquel|     maximo|Schneider|     Richmond|   23223|        VA|United States|2018-04-21 11:49:02|    810 Maple Street|
|4210653312021765|123453807|PTidwell@example.com|   1235067|    Parker|    arnulfo|  Tidwell| West Chester|   19380|        PA|United States|2018-04-21 11:49:02|      649 Eagle Road|
+----------------+---------+--------------------+----------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+
only showing top 20 rows

### The area code for each customer is missing. The mapping document requires that the customer phone number be entered as a 10 digiit format of (xxx)xxx-xxxx. However, all the customer phone numbers are missing an area code. The challenge then becomes finding a way to map the location of each customer's home address to a viable area code. Very few resources exist for matching area codes to zip codes or city/town jurisdictions. I found a resource; however, that had an easy crosswalk from zip code and city/town to area codes that didnn't require multiple transformation steps. This dataset is in a CSV format that I will match to the existing updated_customer df to add area code values to each customer phone number.

##### **NOTE: There are some zip codes that have more than 1 area code attached. For simplicity and ease of processing, the first area code listed will be utilized. Finding exact area codes would require signficant time resources and geocoding for exactly precise matches well beyond the intent of this ETL Capstone**

In [30]:
#area_code_df = spark.read.csv(r"C:\Users\chito\Developer\Capstone_350\Raw_Data\ZipData.csv", header=False, inferSchema=True)
#area_code_df = spark.read.csv("/content/ZipData.csv", header=False, inferSchema=True)#Google Colab code
area_code_df = spark.read.csv("ZipData.csv", header=False, inferSchema=True)
area_code_df = area_code_df.toDF('CUST_ZIP', 'CUST_STATE', 'CUST_CITY', 'CUST_COUNTY', 'AREA_CODE', 'TIME_ZONE', 'DST')
area_code_df.show()
area_code_df.count() # There are 42407 records in the area code dataframe.

+--------+----------+-----------+-----------+---------+----------+---+
|CUST_ZIP|CUST_STATE|  CUST_CITY|CUST_COUNTY|AREA_CODE| TIME_ZONE|DST|
+--------+----------+-----------+-----------+---------+----------+---+
|   00501|        NY| Holtsville|    Suffolk|  631/934| UTC -5:00|  Y|
|   00544|        NY| Holtsville|    Suffolk|  631/934| UTC -5:00|  Y|
|   00601|        PR|   Adjuntas|   Adjuntas|  787/939|UTC -04:00|  N|
|   00602|        PR|     Aguada|     Aguada|  787/939|UTC -04:00|  N|
|   00603|        PR|  Aguadilla|  Aguadilla|  787/939|UTC -04:00|  N|
|   00604|        PR|  Aguadilla|  Aguadilla|  787/939|UTC -04:00|  N|
|   00605|        PR|  Aguadilla|  Aguadilla|  787/939|UTC -04:00|  N|
|   00606|        PR|    Maricao|    Maricao|  787/939|UTC -04:00|  N|
|   00610|        PR|     Anasco|     Anasco|  787/939|UTC -04:00|  N|
|   00611|        PR|    Angeles|     Utuado|  787/939|UTC -04:00|  N|
|   00612|        PR|    Arecibo|    Arecibo|  787/939|UTC -04:00|  N|
|   00613|        PR|    Arecibo|    Arecibo|  787/939|UTC -04:00|  N|
|   00614|        PR|    Arecibo|    Arecibo|  787/939|UTC -04:00|  N|
|   00616|        PR|   Bajadero|    Arecibo|  787/939|UTC -04:00|  N|
|   00617|        PR|Barceloneta|Barceloneta|  787/939|UTC -04:00|  N|
|   00622|        PR|   Boqueron|  Cabo Rojo|  787/939|UTC -04:00|  N|
|   00623|        PR|  Cabo Rojo|  Cabo Rojo|  787/939|UTC -04:00|  N|
|   00624|        PR|   Penuelas|   Penuelas|  787/939|UTC -04:00|  N|
|   00627|        PR|      Camuy|      Camuy|  787/939|UTC -04:00|  N|
|   00631|        PR|   Castaner|      Lares|  787/939|UTC -04:00|  N|
+--------+----------+-----------+-----------+---------+----------+---+
only showing top 20 rows

42407

In [31]:
# Assuming 'updated_customer_df' is the left DataFrame and 'area_code_df' is the right DataFrame
joined_df = updated_customer_df.join(area_code_df,
                                  on=updated_customer_df['CUST_ZIP'] == area_code_df['CUST_ZIP'],
                                  how='left') \
                             .select(updated_customer_df["*"],
                                     area_code_df["CUST_CITY"].alias("right_CUST_CITY"),
                                     area_code_df["CUST_STATE"].alias("right_CUST_STATE"),
                                     area_code_df["CUST_COUNTY"].alias("right_CUST_COUNTY"),
                                     area_code_df["AREA_CODE"].alias("right_AREA_CODE"))

joined_df.show()
joined_df.count()
joined_df.printSchema()

+----------------+---------+--------------------+----------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+---------------+----------------+-----------------+---------------+
|  CREDIT_CARD_NO|      SSN|          CUST_EMAIL|CUST_PHONE|FIRST_NAME|MIDDLE_NAME|LAST_NAME|    CUST_CITY|CUST_ZIP|CUST_STATE| CUST_COUNTRY|       LAST_UPDATED| FULL_STREET_ADDRESS|right_CUST_CITY|right_CUST_STATE|right_CUST_COUNTY|right_AREA_CODE|
+----------------+---------+--------------------+----------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+---------------+----------------+-----------------+---------------+
|4210653310061055|123456100| AHooper@example.com|   1237818|      Alec|         wm|   Hooper|      Natchez|   39120|        MS|United States|2018-04-21 11:49:02|656 Main Street N...|        Natchez|              MS|            Adams|        601/769|
|4210653310102868|123453023| EHolman@example.com|   1238933|      Etta|    brendan|   Holman| Wethersfield|   06109|        CT|United States|2018-04-21 11:49:02|   829 Redwood Drive|   Wethersfield|              CT|         Hartford|        860/959|
|4210653310116272|123454487| WDunham@example.com|   1243018|    Wilber|   ezequiel|   Dunham|      Huntley|   60142|        IL|United States|2018-04-21 11:49:02|683 12th Street East|        Huntley|              IL|          Mchenry|        847/224|
|4210653310195948|123459758|  EHardy@example.com|   1243215|   Eugenio|      trina|    Hardy|   New Berlin|   53151|        WI|United States|2018-04-21 11:49:02|253 Country Club ...|     New Berlin|              WI|         Waukesha|            262|
|4210653310356919|123454431|  WAyers@example.com|   1242074|   Wilfred|        may|    Ayers|      El Paso|   79930|        TX|United States|2018-04-21 11:49:02|  301 Madison Street|        El Paso|              TX|          El Paso|            915|
|4210653310395982|123454202|BWoodard@example.com|   1242570|      Beau|    ambrose|  Woodard|North Olmsted|   44070|        OH|United States|2018-04-21 11:49:02|    3 Colonial Drive|  North Olmsted|              OH|         Cuyahoga|        436/440|
|4210653310400536|123451799|   SKemp@example.com|   1239685|    Sheila|      larry|     Kemp|       Vienna|   22180|        VA|United States|2018-04-21 11:49:02|   84 Belmont Avenue|         Vienna|              VA|          Fairfax|        703/571|
|4210653310459911|123453875| WHurley@example.com|   1238213|     Wendy|        ora|   Hurley|       Duarte|   91010|        CA|United States|2018-04-21 11:49:02|    728 Oxford Court|         Duarte|              CA|      Los Angeles|            626|
|4210653310773972|123457511|AGilmore@example.com|   1240689|      Alec|     tracie|  Gilmore|       Owosso|   48867|        MI|United States|2018-04-21 11:49:02|    81 Forest Street|         Owosso|              MI|       Shiawassee|            989|
|4210653310794854|123457464|    BLau@example.com|   1235222|    Barbra|    mitchel|      Lau|         Zion|   60099|        IL|United States|2018-04-21 11:49:02|    561 Court Street|           Zion|              IL|             Lake|        847/224|
|4210653310817373|123457639|EThomson@example.com|   1241363|   Edmundo|      denny|  Thomson|   Youngstown|   44512|        OH|United States|2018-04-21 11:49:02|   622 Cypress Court|     Youngstown|              OH|         Mahoning|        330/234|
|4210653310844617|123453242| ETruong@example.com|   1236228|      Elsa|   isabelle|   Truong|  Summerville|   29483|        SC|United States|2018-04-21 11:49:02| 924 8th Street West|    Summerville|              SC|       Dorchester|        843/854|
|4210653311015303|123454339|HMckinney@example...|   1238165|     Homer|      henry| McKinney|      El Paso|   79930|        TX|United States|2018-04-21 11:49:02|     611 East Avenue|        El Paso|              TX|          El Paso|            915|
|4210653311215039|123454537|   RKidd@example.com|   1234730|      Rita|     rickey|     Kidd|       Fenton|   48430|        MI|United States|2018-04-21 11:49:02|        680 Route 44|         Fenton|              MI|          Genesee|            810|
|4210653311229354|123452373|ABallard@example.com|   1242113|    Amalia|  heriberto|  Ballard|   Grandville|   49418|        MI|United States|2018-04-21 11:49:02|    71 Warren Street|     Grandville|              MI|             Kent|            616|
|4210653311652836|123455343| PThomas@example.com|   1239888|     Patty|   angelita|   Thomas|    Yuba City|   95993|        CA|United States|2018-04-21 11:49:02|    195 Jones Street|      Yuba City|              CA|           Sutter|            530|
|4210653311707126|123451533| JMorrow@example.com|   1240158|  Josefina|   dorothea|   Morrow|   Cape Coral|   33904|        FL|United States|2018-04-21 11:49:02|      500 New Street|     Cape Coral|              FL|              Lee|            239|
|4210653311730764|123459278|NAndrews@example.com|   1241408|    Nelson|  jefferson|  Andrews|   Brookfield|   53045|        WI|United States|2018-04-21 11:49:02| 989 Division Street|     Brookfield|              WI|         Waukesha|            262|
|4210653311898082|123456915|MSchneider@exampl...|   1238390|    Miquel|     maximo|Schneider|     Richmond|   23223|        VA|United States|2018-04-21 11:49:02|    810 Maple Street|       Richmond|              VA|    Richmond City|        686/804|
|4210653312021765|123453807|PTidwell@example.com|   1235067|    Parker|    arnulfo|  Tidwell| West Chester|   19380|        PA|United States|2018-04-21 11:49:02|      649 Eagle Road|   West Chester|              PA|          Chester|    484/610/835|
+----------------+---------+--------------------+----------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+---------------+----------------+-----------------+---------------+
only showing top 20 rows

root
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- SSN: long (nullable = true)
 |-- CUST_EMAIL: string (nullable = true)
 |-- CUST_PHONE: long (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- MIDDLE_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- CUST_CITY: string (nullable = true)
 |-- CUST_ZIP: string (nullable = true)
 |-- CUST_STATE: string (nullable = true)
 |-- CUST_COUNTRY: string (nullable = true)
 |-- LAST_UPDATED: timestamp (nullable = true)
 |-- FULL_STREET_ADDRESS: string (nullable = true)
 |-- right_CUST_CITY: string (nullable = true)
 |-- right_CUST_STATE: string (nullable = true)
 |-- right_CUST_COUNTY: string (nullable = true)
 |-- right_AREA_CODE: string (nullable = true)

### Unfortunately, after the join the number of records increased from 952 to 979. I'm assuming there were duplicate values on the zip code since that is what was used to join the dataframes. I need to correct for this now.

In [32]:
duplicate_zip_counts = area_code_df.groupBy('CUST_ZIP').count().filter("count > 1")
duplicate_zip_counts.show()

+--------+-----+
|CUST_ZIP|count|
+--------+-----+
|   08648|    4|
|   77339|    2|
|   06063|    3|
|   60491|    2|
|   84118|    4|
|   90094|    2|
|   39218|    2|
|   84660|    2|
|   14227|    3|
|   74549|    2|
|   31027|    2|
|   56678|    3|
|   78641|    2|
|   02494|    2|
|   84511|    2|
|   00803|    2|
|   23847|    2|
|   38002|    2|
|   41135|    4|
|   02125|    2|
+--------+-----+
only showing top 20 rows

In [33]:
from pyspark.sql.functions import split, col

# Split the 'AREA_CODE' column by '/' and extract the first element

joined_df = joined_df.withColumn('right_AREA_CODE', split(col('right_AREA_CODE'), '/')[0])
joined_df.show()

+----------------+---------+--------------------+----------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+---------------+----------------+-----------------+---------------+
|  CREDIT_CARD_NO|      SSN|          CUST_EMAIL|CUST_PHONE|FIRST_NAME|MIDDLE_NAME|LAST_NAME|    CUST_CITY|CUST_ZIP|CUST_STATE| CUST_COUNTRY|       LAST_UPDATED| FULL_STREET_ADDRESS|right_CUST_CITY|right_CUST_STATE|right_CUST_COUNTY|right_AREA_CODE|
+----------------+---------+--------------------+----------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+---------------+----------------+-----------------+---------------+
|4210653310061055|123456100| AHooper@example.com|   1237818|      Alec|         wm|   Hooper|      Natchez|   39120|        MS|United States|2018-04-21 11:49:02|656 Main Street N...|        Natchez|              MS|            Adams|            601|
|4210653310102868|123453023| EHolman@example.com|   1238933|      Etta|    brendan|   Holman| Wethersfield|   06109|        CT|United States|2018-04-21 11:49:02|   829 Redwood Drive|   Wethersfield|              CT|         Hartford|            860|
|4210653310116272|123454487| WDunham@example.com|   1243018|    Wilber|   ezequiel|   Dunham|      Huntley|   60142|        IL|United States|2018-04-21 11:49:02|683 12th Street East|        Huntley|              IL|          Mchenry|            847|
|4210653310195948|123459758|  EHardy@example.com|   1243215|   Eugenio|      trina|    Hardy|   New Berlin|   53151|        WI|United States|2018-04-21 11:49:02|253 Country Club ...|     New Berlin|              WI|         Waukesha|            262|
|4210653310356919|123454431|  WAyers@example.com|   1242074|   Wilfred|        may|    Ayers|      El Paso|   79930|        TX|United States|2018-04-21 11:49:02|  301 Madison Street|        El Paso|              TX|          El Paso|            915|
|4210653310395982|123454202|BWoodard@example.com|   1242570|      Beau|    ambrose|  Woodard|North Olmsted|   44070|        OH|United States|2018-04-21 11:49:02|    3 Colonial Drive|  North Olmsted|              OH|         Cuyahoga|            436|
|4210653310400536|123451799|   SKemp@example.com|   1239685|    Sheila|      larry|     Kemp|       Vienna|   22180|        VA|United States|2018-04-21 11:49:02|   84 Belmont Avenue|         Vienna|              VA|          Fairfax|            703|
|4210653310459911|123453875| WHurley@example.com|   1238213|     Wendy|        ora|   Hurley|       Duarte|   91010|        CA|United States|2018-04-21 11:49:02|    728 Oxford Court|         Duarte|              CA|      Los Angeles|            626|
|4210653310773972|123457511|AGilmore@example.com|   1240689|      Alec|     tracie|  Gilmore|       Owosso|   48867|        MI|United States|2018-04-21 11:49:02|    81 Forest Street|         Owosso|              MI|       Shiawassee|            989|
|4210653310794854|123457464|    BLau@example.com|   1235222|    Barbra|    mitchel|      Lau|         Zion|   60099|        IL|United States|2018-04-21 11:49:02|    561 Court Street|           Zion|              IL|             Lake|            847|
|4210653310817373|123457639|EThomson@example.com|   1241363|   Edmundo|      denny|  Thomson|   Youngstown|   44512|        OH|United States|2018-04-21 11:49:02|   622 Cypress Court|     Youngstown|              OH|         Mahoning|            330|
|4210653310844617|123453242| ETruong@example.com|   1236228|      Elsa|   isabelle|   Truong|  Summerville|   29483|        SC|United States|2018-04-21 11:49:02| 924 8th Street West|    Summerville|              SC|       Dorchester|            843|
|4210653311015303|123454339|HMckinney@example...|   1238165|     Homer|      henry| McKinney|      El Paso|   79930|        TX|United States|2018-04-21 11:49:02|     611 East Avenue|        El Paso|              TX|          El Paso|            915|
|4210653311215039|123454537|   RKidd@example.com|   1234730|      Rita|     rickey|     Kidd|       Fenton|   48430|        MI|United States|2018-04-21 11:49:02|        680 Route 44|         Fenton|              MI|          Genesee|            810|
|4210653311229354|123452373|ABallard@example.com|   1242113|    Amalia|  heriberto|  Ballard|   Grandville|   49418|        MI|United States|2018-04-21 11:49:02|    71 Warren Street|     Grandville|              MI|             Kent|            616|
|4210653311652836|123455343| PThomas@example.com|   1239888|     Patty|   angelita|   Thomas|    Yuba City|   95993|        CA|United States|2018-04-21 11:49:02|    195 Jones Street|      Yuba City|              CA|           Sutter|            530|
|4210653311707126|123451533| JMorrow@example.com|   1240158|  Josefina|   dorothea|   Morrow|   Cape Coral|   33904|        FL|United States|2018-04-21 11:49:02|      500 New Street|     Cape Coral|              FL|              Lee|            239|
|4210653311730764|123459278|NAndrews@example.com|   1241408|    Nelson|  jefferson|  Andrews|   Brookfield|   53045|        WI|United States|2018-04-21 11:49:02| 989 Division Street|     Brookfield|              WI|         Waukesha|            262|
|4210653311898082|123456915|MSchneider@exampl...|   1238390|    Miquel|     maximo|Schneider|     Richmond|   23223|        VA|United States|2018-04-21 11:49:02|    810 Maple Street|       Richmond|              VA|    Richmond City|            686|
|4210653312021765|123453807|PTidwell@example.com|   1235067|    Parker|    arnulfo|  Tidwell| West Chester|   19380|        PA|United States|2018-04-21 11:49:02|      649 Eagle Road|   West Chester|              PA|          Chester|            484|
+----------------+---------+--------------------+----------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+---------------+----------------+-----------------+---------------+
only showing top 20 rows

In [34]:
from pyspark.sql.functions import concat, lit

# Concatenate AREA_CODE and CUST_PHONE in the desired format 
joined_df = joined_df.withColumn('FORMATTED_PHONE',
                                 concat(lit('('),
                                        col('right_AREA_CODE'), lit(')'),
                                        col('CUST_PHONE').substr(1, 3), lit('-'),
                                        col('CUST_PHONE').substr(4, 4)))

joined_df.show()

+----------------+---------+--------------------+----------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+---------------+----------------+-----------------+---------------+---------------+
|  CREDIT_CARD_NO|      SSN|          CUST_EMAIL|CUST_PHONE|FIRST_NAME|MIDDLE_NAME|LAST_NAME|    CUST_CITY|CUST_ZIP|CUST_STATE| CUST_COUNTRY|       LAST_UPDATED| FULL_STREET_ADDRESS|right_CUST_CITY|right_CUST_STATE|right_CUST_COUNTY|right_AREA_CODE|FORMATTED_PHONE|
+----------------+---------+--------------------+----------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+---------------+----------------+-----------------+---------------+---------------+
|4210653310061055|123456100| AHooper@example.com|   1237818|      Alec|         wm|   Hooper|      Natchez|   39120|        MS|United States|2018-04-21 11:49:02|656 Main Street N...|        Natchez|              MS|            Adams|            601|  (601)123-7818|
|4210653310102868|123453023| EHolman@example.com|   1238933|      Etta|    brendan|   Holman| Wethersfield|   06109|        CT|United States|2018-04-21 11:49:02|   829 Redwood Drive|   Wethersfield|              CT|         Hartford|            860|  (860)123-8933|
|4210653310116272|123454487| WDunham@example.com|   1243018|    Wilber|   ezequiel|   Dunham|      Huntley|   60142|        IL|United States|2018-04-21 11:49:02|683 12th Street East|        Huntley|              IL|          Mchenry|            847|  (847)124-3018|
|4210653310195948|123459758|  EHardy@example.com|   1243215|   Eugenio|      trina|    Hardy|   New Berlin|   53151|        WI|United States|2018-04-21 11:49:02|253 Country Club ...|     New Berlin|              WI|         Waukesha|            262|  (262)124-3215|
|4210653310356919|123454431|  WAyers@example.com|   1242074|   Wilfred|        may|    Ayers|      El Paso|   79930|        TX|United States|2018-04-21 11:49:02|  301 Madison Street|        El Paso|              TX|          El Paso|            915|  (915)124-2074|
|4210653310395982|123454202|BWoodard@example.com|   1242570|      Beau|    ambrose|  Woodard|North Olmsted|   44070|        OH|United States|2018-04-21 11:49:02|    3 Colonial Drive|  North Olmsted|              OH|         Cuyahoga|            436|  (436)124-2570|
|4210653310400536|123451799|   SKemp@example.com|   1239685|    Sheila|      larry|     Kemp|       Vienna|   22180|        VA|United States|2018-04-21 11:49:02|   84 Belmont Avenue|         Vienna|              VA|          Fairfax|            703|  (703)123-9685|
|4210653310459911|123453875| WHurley@example.com|   1238213|     Wendy|        ora|   Hurley|       Duarte|   91010|        CA|United States|2018-04-21 11:49:02|    728 Oxford Court|         Duarte|              CA|      Los Angeles|            626|  (626)123-8213|
|4210653310773972|123457511|AGilmore@example.com|   1240689|      Alec|     tracie|  Gilmore|       Owosso|   48867|        MI|United States|2018-04-21 11:49:02|    81 Forest Street|         Owosso|              MI|       Shiawassee|            989|  (989)124-0689|
|4210653310794854|123457464|    BLau@example.com|   1235222|    Barbra|    mitchel|      Lau|         Zion|   60099|        IL|United States|2018-04-21 11:49:02|    561 Court Street|           Zion|              IL|             Lake|            847|  (847)123-5222|
|4210653310817373|123457639|EThomson@example.com|   1241363|   Edmundo|      denny|  Thomson|   Youngstown|   44512|        OH|United States|2018-04-21 11:49:02|   622 Cypress Court|     Youngstown|              OH|         Mahoning|            330|  (330)124-1363|
|4210653310844617|123453242| ETruong@example.com|   1236228|      Elsa|   isabelle|   Truong|  Summerville|   29483|        SC|United States|2018-04-21 11:49:02| 924 8th Street West|    Summerville|              SC|       Dorchester|            843|  (843)123-6228|
|4210653311015303|123454339|HMckinney@example...|   1238165|     Homer|      henry| McKinney|      El Paso|   79930|        TX|United States|2018-04-21 11:49:02|     611 East Avenue|        El Paso|              TX|          El Paso|            915|  (915)123-8165|
|4210653311215039|123454537|   RKidd@example.com|   1234730|      Rita|     rickey|     Kidd|       Fenton|   48430|        MI|United States|2018-04-21 11:49:02|        680 Route 44|         Fenton|              MI|          Genesee|            810|  (810)123-4730|
|4210653311229354|123452373|ABallard@example.com|   1242113|    Amalia|  heriberto|  Ballard|   Grandville|   49418|        MI|United States|2018-04-21 11:49:02|    71 Warren Street|     Grandville|              MI|             Kent|            616|  (616)124-2113|
|4210653311652836|123455343| PThomas@example.com|   1239888|     Patty|   angelita|   Thomas|    Yuba City|   95993|        CA|United States|2018-04-21 11:49:02|    195 Jones Street|      Yuba City|              CA|           Sutter|            530|  (530)123-9888|
|4210653311707126|123451533| JMorrow@example.com|   1240158|  Josefina|   dorothea|   Morrow|   Cape Coral|   33904|        FL|United States|2018-04-21 11:49:02|      500 New Street|     Cape Coral|              FL|              Lee|            239|  (239)124-0158|
|4210653311730764|123459278|NAndrews@example.com|   1241408|    Nelson|  jefferson|  Andrews|   Brookfield|   53045|        WI|United States|2018-04-21 11:49:02| 989 Division Street|     Brookfield|              WI|         Waukesha|            262|  (262)124-1408|
|4210653311898082|123456915|MSchneider@exampl...|   1238390|    Miquel|     maximo|Schneider|     Richmond|   23223|        VA|United States|2018-04-21 11:49:02|    810 Maple Street|       Richmond|              VA|    Richmond City|            686|  (686)123-8390|
|4210653312021765|123453807|PTidwell@example.com|   1235067|    Parker|    arnulfo|  Tidwell| West Chester|   19380|        PA|United States|2018-04-21 11:49:02|      649 Eagle Road|   West Chester|              PA|          Chester|            484|  (484)123-5067|
+----------------+---------+--------------------+----------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+---------------+----------------+-----------------+---------------+---------------+
only showing top 20 rows

In [35]:
# Replace CUST_PHONE with FORMATTED_PHONE
joined_df = joined_df.drop('CUST_PHONE').withColumnRenamed('FORMATTED_PHONE', 'CUST_PHONE')

joined_df.show()

+----------------+---------+--------------------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+---------------+----------------+-----------------+---------------+-------------+
|  CREDIT_CARD_NO|      SSN|          CUST_EMAIL|FIRST_NAME|MIDDLE_NAME|LAST_NAME|    CUST_CITY|CUST_ZIP|CUST_STATE| CUST_COUNTRY|       LAST_UPDATED| FULL_STREET_ADDRESS|right_CUST_CITY|right_CUST_STATE|right_CUST_COUNTY|right_AREA_CODE|   CUST_PHONE|
+----------------+---------+--------------------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+---------------+----------------+-----------------+---------------+-------------+
|4210653310061055|123456100| AHooper@example.com|      Alec|         wm|   Hooper|      Natchez|   39120|        MS|United States|2018-04-21 11:49:02|656 Main Street N...|        Natchez|              MS|            Adams|            601|(601)123-7818|
|4210653310102868|123453023| EHolman@example.com|      Etta|    brendan|   Holman| Wethersfield|   06109|        CT|United States|2018-04-21 11:49:02|   829 Redwood Drive|   Wethersfield|              CT|         Hartford|            860|(860)123-8933|
|4210653310116272|123454487| WDunham@example.com|    Wilber|   ezequiel|   Dunham|      Huntley|   60142|        IL|United States|2018-04-21 11:49:02|683 12th Street East|        Huntley|              IL|          Mchenry|            847|(847)124-3018|
|4210653310195948|123459758|  EHardy@example.com|   Eugenio|      trina|    Hardy|   New Berlin|   53151|        WI|United States|2018-04-21 11:49:02|253 Country Club ...|     New Berlin|              WI|         Waukesha|            262|(262)124-3215|
|4210653310356919|123454431|  WAyers@example.com|   Wilfred|        may|    Ayers|      El Paso|   79930|        TX|United States|2018-04-21 11:49:02|  301 Madison Street|        El Paso|              TX|          El Paso|            915|(915)124-2074|
|4210653310395982|123454202|BWoodard@example.com|      Beau|    ambrose|  Woodard|North Olmsted|   44070|        OH|United States|2018-04-21 11:49:02|    3 Colonial Drive|  North Olmsted|              OH|         Cuyahoga|            436|(436)124-2570|
|4210653310400536|123451799|   SKemp@example.com|    Sheila|      larry|     Kemp|       Vienna|   22180|        VA|United States|2018-04-21 11:49:02|   84 Belmont Avenue|         Vienna|              VA|          Fairfax|            703|(703)123-9685|
|4210653310459911|123453875| WHurley@example.com|     Wendy|        ora|   Hurley|       Duarte|   91010|        CA|United States|2018-04-21 11:49:02|    728 Oxford Court|         Duarte|              CA|      Los Angeles|            626|(626)123-8213|
|4210653310773972|123457511|AGilmore@example.com|      Alec|     tracie|  Gilmore|       Owosso|   48867|        MI|United States|2018-04-21 11:49:02|    81 Forest Street|         Owosso|              MI|       Shiawassee|            989|(989)124-0689|
|4210653310794854|123457464|    BLau@example.com|    Barbra|    mitchel|      Lau|         Zion|   60099|        IL|United States|2018-04-21 11:49:02|    561 Court Street|           Zion|              IL|             Lake|            847|(847)123-5222|
|4210653310817373|123457639|EThomson@example.com|   Edmundo|      denny|  Thomson|   Youngstown|   44512|        OH|United States|2018-04-21 11:49:02|   622 Cypress Court|     Youngstown|              OH|         Mahoning|            330|(330)124-1363|
|4210653310844617|123453242| ETruong@example.com|      Elsa|   isabelle|   Truong|  Summerville|   29483|        SC|United States|2018-04-21 11:49:02| 924 8th Street West|    Summerville|              SC|       Dorchester|            843|(843)123-6228|
|4210653311015303|123454339|HMckinney@example...|     Homer|      henry| McKinney|      El Paso|   79930|        TX|United States|2018-04-21 11:49:02|     611 East Avenue|        El Paso|              TX|          El Paso|            915|(915)123-8165|
|4210653311215039|123454537|   RKidd@example.com|      Rita|     rickey|     Kidd|       Fenton|   48430|        MI|United States|2018-04-21 11:49:02|        680 Route 44|         Fenton|              MI|          Genesee|            810|(810)123-4730|
|4210653311229354|123452373|ABallard@example.com|    Amalia|  heriberto|  Ballard|   Grandville|   49418|        MI|United States|2018-04-21 11:49:02|    71 Warren Street|     Grandville|              MI|             Kent|            616|(616)124-2113|
|4210653311652836|123455343| PThomas@example.com|     Patty|   angelita|   Thomas|    Yuba City|   95993|        CA|United States|2018-04-21 11:49:02|    195 Jones Street|      Yuba City|              CA|           Sutter|            530|(530)123-9888|
|4210653311707126|123451533| JMorrow@example.com|  Josefina|   dorothea|   Morrow|   Cape Coral|   33904|        FL|United States|2018-04-21 11:49:02|      500 New Street|     Cape Coral|              FL|              Lee|            239|(239)124-0158|
|4210653311730764|123459278|NAndrews@example.com|    Nelson|  jefferson|  Andrews|   Brookfield|   53045|        WI|United States|2018-04-21 11:49:02| 989 Division Street|     Brookfield|              WI|         Waukesha|            262|(262)124-1408|
|4210653311898082|123456915|MSchneider@exampl...|    Miquel|     maximo|Schneider|     Richmond|   23223|        VA|United States|2018-04-21 11:49:02|    810 Maple Street|       Richmond|              VA|    Richmond City|            686|(686)123-8390|
|4210653312021765|123453807|PTidwell@example.com|    Parker|    arnulfo|  Tidwell| West Chester|   19380|        PA|United States|2018-04-21 11:49:02|      649 Eagle Road|   West Chester|              PA|          Chester|            484|(484)123-5067|
+----------------+---------+--------------------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+---------------+----------------+-----------------+---------------+-------------+
only showing top 20 rows

In [36]:
# List of columns to drop
columns_to_drop = ["right_CUST_CITY", "right_CUST_STATE", "right_CUST_COUNTY", "right_AREA_CODE"]
# Drop the columns
joined_df = joined_df.drop(*columns_to_drop)

joined_df.show()
joined_df.describe().show()

+----------------+---------+--------------------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+-------------+
|  CREDIT_CARD_NO|      SSN|          CUST_EMAIL|FIRST_NAME|MIDDLE_NAME|LAST_NAME|    CUST_CITY|CUST_ZIP|CUST_STATE| CUST_COUNTRY|       LAST_UPDATED| FULL_STREET_ADDRESS|   CUST_PHONE|
+----------------+---------+--------------------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+-------------+
|4210653310061055|123456100| AHooper@example.com|      Alec|         wm|   Hooper|      Natchez|   39120|        MS|United States|2018-04-21 11:49:02|656 Main Street N...|(601)123-7818|
|4210653310102868|123453023| EHolman@example.com|      Etta|    brendan|   Holman| Wethersfield|   06109|        CT|United States|2018-04-21 11:49:02|   829 Redwood Drive|(860)123-8933|
|4210653310116272|123454487| WDunham@example.com|    Wilber|   ezequiel|   Dunham|      Huntley|   60142|        IL|United States|2018-04-21 11:49:02|683 12th Street East|(847)124-3018|
|4210653310195948|123459758|  EHardy@example.com|   Eugenio|      trina|    Hardy|   New Berlin|   53151|        WI|United States|2018-04-21 11:49:02|253 Country Club ...|(262)124-3215|
|4210653310356919|123454431|  WAyers@example.com|   Wilfred|        may|    Ayers|      El Paso|   79930|        TX|United States|2018-04-21 11:49:02|  301 Madison Street|(915)124-2074|
|4210653310395982|123454202|BWoodard@example.com|      Beau|    ambrose|  Woodard|North Olmsted|   44070|        OH|United States|2018-04-21 11:49:02|    3 Colonial Drive|(436)124-2570|
|4210653310400536|123451799|   SKemp@example.com|    Sheila|      larry|     Kemp|       Vienna|   22180|        VA|United States|2018-04-21 11:49:02|   84 Belmont Avenue|(703)123-9685|
|4210653310459911|123453875| WHurley@example.com|     Wendy|        ora|   Hurley|       Duarte|   91010|        CA|United States|2018-04-21 11:49:02|    728 Oxford Court|(626)123-8213|
|4210653310773972|123457511|AGilmore@example.com|      Alec|     tracie|  Gilmore|       Owosso|   48867|        MI|United States|2018-04-21 11:49:02|    81 Forest Street|(989)124-0689|
|4210653310794854|123457464|    BLau@example.com|    Barbra|    mitchel|      Lau|         Zion|   60099|        IL|United States|2018-04-21 11:49:02|    561 Court Street|(847)123-5222|
|4210653310817373|123457639|EThomson@example.com|   Edmundo|      denny|  Thomson|   Youngstown|   44512|        OH|United States|2018-04-21 11:49:02|   622 Cypress Court|(330)124-1363|
|4210653310844617|123453242| ETruong@example.com|      Elsa|   isabelle|   Truong|  Summerville|   29483|        SC|United States|2018-04-21 11:49:02| 924 8th Street West|(843)123-6228|
|4210653311015303|123454339|HMckinney@example...|     Homer|      henry| McKinney|      El Paso|   79930|        TX|United States|2018-04-21 11:49:02|     611 East Avenue|(915)123-8165|
|4210653311215039|123454537|   RKidd@example.com|      Rita|     rickey|     Kidd|       Fenton|   48430|        MI|United States|2018-04-21 11:49:02|        680 Route 44|(810)123-4730|
|4210653311229354|123452373|ABallard@example.com|    Amalia|  heriberto|  Ballard|   Grandville|   49418|        MI|United States|2018-04-21 11:49:02|    71 Warren Street|(616)124-2113|
|4210653311652836|123455343| PThomas@example.com|     Patty|   angelita|   Thomas|    Yuba City|   95993|        CA|United States|2018-04-21 11:49:02|    195 Jones Street|(530)123-9888|
|4210653311707126|123451533| JMorrow@example.com|  Josefina|   dorothea|   Morrow|   Cape Coral|   33904|        FL|United States|2018-04-21 11:49:02|      500 New Street|(239)124-0158|
|4210653311730764|123459278|NAndrews@example.com|    Nelson|  jefferson|  Andrews|   Brookfield|   53045|        WI|United States|2018-04-21 11:49:02| 989 Division Street|(262)124-1408|
|4210653311898082|123456915|MSchneider@exampl...|    Miquel|     maximo|Schneider|     Richmond|   23223|        VA|United States|2018-04-21 11:49:02|    810 Maple Street|(686)123-8390|
|4210653312021765|123453807|PTidwell@example.com|    Parker|    arnulfo|  Tidwell| West Chester|   19380|        PA|United States|2018-04-21 11:49:02|      649 Eagle Road|(484)123-5067|
+----------------+---------+--------------------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+-------------+
only showing top 20 rows

+-------+--------------------+--------------------+--------------------+----------+-----------+---------+---------+-----------------+----------+-------------+-------------------+-------------+
|summary|      CREDIT_CARD_NO|                 SSN|          CUST_EMAIL|FIRST_NAME|MIDDLE_NAME|LAST_NAME|CUST_CITY|         CUST_ZIP|CUST_STATE| CUST_COUNTRY|FULL_STREET_ADDRESS|   CUST_PHONE|
+-------+--------------------+--------------------+--------------------+----------+-----------+---------+---------+-----------------+----------+-------------+-------------------+-------------+
|  count|                 979|                 979|                 979|       979|        979|      979|      979|              979|       979|          979|                979|          979|
|   mean| 4.21065335355088E15|1.2345552243615934E8|                NULL|      NULL|       NULL|     NULL|     NULL|36746.42900919305|      NULL|         NULL|               NULL|         NULL|
| stddev|2.5745125576696172E7|  2562.0766821303164|                NULL|      NULL|       NULL|     NULL|     NULL|23812.96463688128|      NULL|         NULL|               NULL|         NULL|
|    min|    4210653310061055|           123451007|AAguilar@example.com|      Abby|       abby|   Abbott|  Acworth|            01810|        AL|United States|     1 Circle Drive|(201)123-5108|
|    max|    4210653399939240|           123459988|ZStratton@example...|     Zelma|    zachary|   Zapata|     Zion|            98908|        WI|United States|     998 Shady Lane|(989)124-1244|
+-------+--------------------+--------------------+--------------------+----------+-----------+---------+---------+-----------------+----------+-------------+-------------------+-------------+

In [37]:
from pyspark.sql.functions import col

updated_customer_df = updated_customer_df.select(col("*"), "CUST_PHONE")
updated_customer_df.show()

+----------------+---------+--------------------+----------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+----------+
|  CREDIT_CARD_NO|      SSN|          CUST_EMAIL|CUST_PHONE|FIRST_NAME|MIDDLE_NAME|LAST_NAME|    CUST_CITY|CUST_ZIP|CUST_STATE| CUST_COUNTRY|       LAST_UPDATED| FULL_STREET_ADDRESS|CUST_PHONE|
+----------------+---------+--------------------+----------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+----------+
|4210653310061055|123456100| AHooper@example.com|   1237818|      Alec|         wm|   Hooper|      Natchez|   39120|        MS|United States|2018-04-21 11:49:02|656 Main Street N...|   1237818|
|4210653310102868|123453023| EHolman@example.com|   1238933|      Etta|    brendan|   Holman| Wethersfield|   06109|        CT|United States|2018-04-21 11:49:02|   829 Redwood Drive|   1238933|
|4210653310116272|123454487| WDunham@example.com|   1243018|    Wilber|   ezequiel|   Dunham|      Huntley|   60142|        IL|United States|2018-04-21 11:49:02|683 12th Street East|   1243018|
|4210653310195948|123459758|  EHardy@example.com|   1243215|   Eugenio|      trina|    Hardy|   New Berlin|   53151|        WI|United States|2018-04-21 11:49:02|253 Country Club ...|   1243215|
|4210653310356919|123454431|  WAyers@example.com|   1242074|   Wilfred|        may|    Ayers|      El Paso|   79930|        TX|United States|2018-04-21 11:49:02|  301 Madison Street|   1242074|
|4210653310395982|123454202|BWoodard@example.com|   1242570|      Beau|    ambrose|  Woodard|North Olmsted|   44070|        OH|United States|2018-04-21 11:49:02|    3 Colonial Drive|   1242570|
|4210653310400536|123451799|   SKemp@example.com|   1239685|    Sheila|      larry|     Kemp|       Vienna|   22180|        VA|United States|2018-04-21 11:49:02|   84 Belmont Avenue|   1239685|
|4210653310459911|123453875| WHurley@example.com|   1238213|     Wendy|        ora|   Hurley|       Duarte|   91010|        CA|United States|2018-04-21 11:49:02|    728 Oxford Court|   1238213|
|4210653310773972|123457511|AGilmore@example.com|   1240689|      Alec|     tracie|  Gilmore|       Owosso|   48867|        MI|United States|2018-04-21 11:49:02|    81 Forest Street|   1240689|
|4210653310794854|123457464|    BLau@example.com|   1235222|    Barbra|    mitchel|      Lau|         Zion|   60099|        IL|United States|2018-04-21 11:49:02|    561 Court Street|   1235222|
|4210653310817373|123457639|EThomson@example.com|   1241363|   Edmundo|      denny|  Thomson|   Youngstown|   44512|        OH|United States|2018-04-21 11:49:02|   622 Cypress Court|   1241363|
|4210653310844617|123453242| ETruong@example.com|   1236228|      Elsa|   isabelle|   Truong|  Summerville|   29483|        SC|United States|2018-04-21 11:49:02| 924 8th Street West|   1236228|
|4210653311015303|123454339|HMckinney@example...|   1238165|     Homer|      henry| McKinney|      El Paso|   79930|        TX|United States|2018-04-21 11:49:02|     611 East Avenue|   1238165|
|4210653311215039|123454537|   RKidd@example.com|   1234730|      Rita|     rickey|     Kidd|       Fenton|   48430|        MI|United States|2018-04-21 11:49:02|        680 Route 44|   1234730|
|4210653311229354|123452373|ABallard@example.com|   1242113|    Amalia|  heriberto|  Ballard|   Grandville|   49418|        MI|United States|2018-04-21 11:49:02|    71 Warren Street|   1242113|
|4210653311652836|123455343| PThomas@example.com|   1239888|     Patty|   angelita|   Thomas|    Yuba City|   95993|        CA|United States|2018-04-21 11:49:02|    195 Jones Street|   1239888|
|4210653311707126|123451533| JMorrow@example.com|   1240158|  Josefina|   dorothea|   Morrow|   Cape Coral|   33904|        FL|United States|2018-04-21 11:49:02|      500 New Street|   1240158|
|4210653311730764|123459278|NAndrews@example.com|   1241408|    Nelson|  jefferson|  Andrews|   Brookfield|   53045|        WI|United States|2018-04-21 11:49:02| 989 Division Street|   1241408|
|4210653311898082|123456915|MSchneider@exampl...|   1238390|    Miquel|     maximo|Schneider|     Richmond|   23223|        VA|United States|2018-04-21 11:49:02|    810 Maple Street|   1238390|
|4210653312021765|123453807|PTidwell@example.com|   1235067|    Parker|    arnulfo|  Tidwell| West Chester|   19380|        PA|United States|2018-04-21 11:49:02|      649 Eagle Road|   1235067|
+----------------+---------+--------------------+----------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+----------+
only showing top 20 rows

In [38]:

# Select all columns from joined_df, including the renamed 'CUST_PHONE'
final_df = joined_df.select(col("*"))
final_df.show()

+----------------+---------+--------------------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+-------------+
|  CREDIT_CARD_NO|      SSN|          CUST_EMAIL|FIRST_NAME|MIDDLE_NAME|LAST_NAME|    CUST_CITY|CUST_ZIP|CUST_STATE| CUST_COUNTRY|       LAST_UPDATED| FULL_STREET_ADDRESS|   CUST_PHONE|
+----------------+---------+--------------------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+-------------+
|4210653310061055|123456100| AHooper@example.com|      Alec|         wm|   Hooper|      Natchez|   39120|        MS|United States|2018-04-21 11:49:02|656 Main Street N...|(601)123-7818|
|4210653310102868|123453023| EHolman@example.com|      Etta|    brendan|   Holman| Wethersfield|   06109|        CT|United States|2018-04-21 11:49:02|   829 Redwood Drive|(860)123-8933|
|4210653310116272|123454487| WDunham@example.com|    Wilber|   ezequiel|   Dunham|      Huntley|   60142|        IL|United States|2018-04-21 11:49:02|683 12th Street East|(847)124-3018|
|4210653310195948|123459758|  EHardy@example.com|   Eugenio|      trina|    Hardy|   New Berlin|   53151|        WI|United States|2018-04-21 11:49:02|253 Country Club ...|(262)124-3215|
|4210653310356919|123454431|  WAyers@example.com|   Wilfred|        may|    Ayers|      El Paso|   79930|        TX|United States|2018-04-21 11:49:02|  301 Madison Street|(915)124-2074|
|4210653310395982|123454202|BWoodard@example.com|      Beau|    ambrose|  Woodard|North Olmsted|   44070|        OH|United States|2018-04-21 11:49:02|    3 Colonial Drive|(436)124-2570|
|4210653310400536|123451799|   SKemp@example.com|    Sheila|      larry|     Kemp|       Vienna|   22180|        VA|United States|2018-04-21 11:49:02|   84 Belmont Avenue|(703)123-9685|
|4210653310459911|123453875| WHurley@example.com|     Wendy|        ora|   Hurley|       Duarte|   91010|        CA|United States|2018-04-21 11:49:02|    728 Oxford Court|(626)123-8213|
|4210653310773972|123457511|AGilmore@example.com|      Alec|     tracie|  Gilmore|       Owosso|   48867|        MI|United States|2018-04-21 11:49:02|    81 Forest Street|(989)124-0689|
|4210653310794854|123457464|    BLau@example.com|    Barbra|    mitchel|      Lau|         Zion|   60099|        IL|United States|2018-04-21 11:49:02|    561 Court Street|(847)123-5222|
|4210653310817373|123457639|EThomson@example.com|   Edmundo|      denny|  Thomson|   Youngstown|   44512|        OH|United States|2018-04-21 11:49:02|   622 Cypress Court|(330)124-1363|
|4210653310844617|123453242| ETruong@example.com|      Elsa|   isabelle|   Truong|  Summerville|   29483|        SC|United States|2018-04-21 11:49:02| 924 8th Street West|(843)123-6228|
|4210653311015303|123454339|HMckinney@example...|     Homer|      henry| McKinney|      El Paso|   79930|        TX|United States|2018-04-21 11:49:02|     611 East Avenue|(915)123-8165|
|4210653311215039|123454537|   RKidd@example.com|      Rita|     rickey|     Kidd|       Fenton|   48430|        MI|United States|2018-04-21 11:49:02|        680 Route 44|(810)123-4730|
|4210653311229354|123452373|ABallard@example.com|    Amalia|  heriberto|  Ballard|   Grandville|   49418|        MI|United States|2018-04-21 11:49:02|    71 Warren Street|(616)124-2113|
|4210653311652836|123455343| PThomas@example.com|     Patty|   angelita|   Thomas|    Yuba City|   95993|        CA|United States|2018-04-21 11:49:02|    195 Jones Street|(530)123-9888|
|4210653311707126|123451533| JMorrow@example.com|  Josefina|   dorothea|   Morrow|   Cape Coral|   33904|        FL|United States|2018-04-21 11:49:02|      500 New Street|(239)124-0158|
|4210653311730764|123459278|NAndrews@example.com|    Nelson|  jefferson|  Andrews|   Brookfield|   53045|        WI|United States|2018-04-21 11:49:02| 989 Division Street|(262)124-1408|
|4210653311898082|123456915|MSchneider@exampl...|    Miquel|     maximo|Schneider|     Richmond|   23223|        VA|United States|2018-04-21 11:49:02|    810 Maple Street|(686)123-8390|
|4210653312021765|123453807|PTidwell@example.com|    Parker|    arnulfo|  Tidwell| West Chester|   19380|        PA|United States|2018-04-21 11:49:02|      649 Eagle Road|(484)123-5067|
+----------------+---------+--------------------+----------+-----------+---------+-------------+--------+----------+-------------+-------------------+--------------------+-------------+
only showing top 20 rows

In [39]:
final_df.printSchema()

root
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- SSN: long (nullable = true)
 |-- CUST_EMAIL: string (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- MIDDLE_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- CUST_CITY: string (nullable = true)
 |-- CUST_ZIP: string (nullable = true)
 |-- CUST_STATE: string (nullable = true)
 |-- CUST_COUNTRY: string (nullable = true)
 |-- LAST_UPDATED: timestamp (nullable = true)
 |-- FULL_STREET_ADDRESS: string (nullable = true)
 |-- CUST_PHONE: string (nullable = true)

In [40]:
final_df = final_df.select('SSN','FIRST_NAME','MIDDLE_NAME','LAST_NAME','CREDIT_CARD_NO', 'FULL_STREET_ADDRESS', 'CUST_CITY', 'CUST_STATE', 'CUST_COUNTRY', 'CUST_ZIP', 'CUST_PHONE', 'CUST_EMAIL', 'LAST_UPDATED')

In [41]:
final_df.show()

+---------+----------+-----------+---------+----------------+--------------------+-------------+----------+-------------+--------+-------------+--------------------+-------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  CREDIT_CARD_NO| FULL_STREET_ADDRESS|    CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|   CUST_PHONE|          CUST_EMAIL|       LAST_UPDATED|
+---------+----------+-----------+---------+----------------+--------------------+-------------+----------+-------------+--------+-------------+--------------------+-------------------+
|123456100|      Alec|         wm|   Hooper|4210653310061055|656 Main Street N...|      Natchez|        MS|United States|   39120|(601)123-7818| AHooper@example.com|2018-04-21 11:49:02|
|123453023|      Etta|    brendan|   Holman|4210653310102868|   829 Redwood Drive| Wethersfield|        CT|United States|   06109|(860)123-8933| EHolman@example.com|2018-04-21 11:49:02|
|123454487|    Wilber|   ezequiel|   Dunham|4210653310116272|683 12th Street East|      Huntley|        IL|United States|   60142|(847)124-3018| WDunham@example.com|2018-04-21 11:49:02|
|123459758|   Eugenio|      trina|    Hardy|4210653310195948|253 Country Club ...|   New Berlin|        WI|United States|   53151|(262)124-3215|  EHardy@example.com|2018-04-21 11:49:02|
|123454431|   Wilfred|        may|    Ayers|4210653310356919|  301 Madison Street|      El Paso|        TX|United States|   79930|(915)124-2074|  WAyers@example.com|2018-04-21 11:49:02|
|123454202|      Beau|    ambrose|  Woodard|4210653310395982|    3 Colonial Drive|North Olmsted|        OH|United States|   44070|(436)124-2570|BWoodard@example.com|2018-04-21 11:49:02|
|123451799|    Sheila|      larry|     Kemp|4210653310400536|   84 Belmont Avenue|       Vienna|        VA|United States|   22180|(703)123-9685|   SKemp@example.com|2018-04-21 11:49:02|
|123453875|     Wendy|        ora|   Hurley|4210653310459911|    728 Oxford Court|       Duarte|        CA|United States|   91010|(626)123-8213| WHurley@example.com|2018-04-21 11:49:02|
|123457511|      Alec|     tracie|  Gilmore|4210653310773972|    81 Forest Street|       Owosso|        MI|United States|   48867|(989)124-0689|AGilmore@example.com|2018-04-21 11:49:02|
|123457464|    Barbra|    mitchel|      Lau|4210653310794854|    561 Court Street|         Zion|        IL|United States|   60099|(847)123-5222|    BLau@example.com|2018-04-21 11:49:02|
|123457639|   Edmundo|      denny|  Thomson|4210653310817373|   622 Cypress Court|   Youngstown|        OH|United States|   44512|(330)124-1363|EThomson@example.com|2018-04-21 11:49:02|
|123453242|      Elsa|   isabelle|   Truong|4210653310844617| 924 8th Street West|  Summerville|        SC|United States|   29483|(843)123-6228| ETruong@example.com|2018-04-21 11:49:02|
|123454339|     Homer|      henry| McKinney|4210653311015303|     611 East Avenue|      El Paso|        TX|United States|   79930|(915)123-8165|HMckinney@example...|2018-04-21 11:49:02|
|123454537|      Rita|     rickey|     Kidd|4210653311215039|        680 Route 44|       Fenton|        MI|United States|   48430|(810)123-4730|   RKidd@example.com|2018-04-21 11:49:02|
|123452373|    Amalia|  heriberto|  Ballard|4210653311229354|    71 Warren Street|   Grandville|        MI|United States|   49418|(616)124-2113|ABallard@example.com|2018-04-21 11:49:02|
|123455343|     Patty|   angelita|   Thomas|4210653311652836|    195 Jones Street|    Yuba City|        CA|United States|   95993|(530)123-9888| PThomas@example.com|2018-04-21 11:49:02|
|123451533|  Josefina|   dorothea|   Morrow|4210653311707126|      500 New Street|   Cape Coral|        FL|United States|   33904|(239)124-0158| JMorrow@example.com|2018-04-21 11:49:02|
|123459278|    Nelson|  jefferson|  Andrews|4210653311730764| 989 Division Street|   Brookfield|        WI|United States|   53045|(262)124-1408|NAndrews@example.com|2018-04-21 11:49:02|
|123456915|    Miquel|     maximo|Schneider|4210653311898082|    810 Maple Street|     Richmond|        VA|United States|   23223|(686)123-8390|MSchneider@exampl...|2018-04-21 11:49:02|
|123453807|    Parker|    arnulfo|  Tidwell|4210653312021765|      649 Eagle Road| West Chester|        PA|United States|   19380|(484)123-5067|PTidwell@example.com|2018-04-21 11:49:02|
+---------+----------+-----------+---------+----------------+--------------------+-------------+----------+-------------+--------+-------------+--------------------+-------------------+
only showing top 20 rows

In [42]:
final_df.count()
final_df.show(979)

+---------+----------+-----------+-------------+----------------+--------------------+-------------------+----------+-------------+--------+-------------+--------------------+-------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|    LAST_NAME|  CREDIT_CARD_NO| FULL_STREET_ADDRESS|          CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|   CUST_PHONE|          CUST_EMAIL|       LAST_UPDATED|
+---------+----------+-----------+-------------+----------------+--------------------+-------------------+----------+-------------+--------+-------------+--------------------+-------------------+
|123456100|      Alec|         wm|       Hooper|4210653310061055|656 Main Street N...|            Natchez|        MS|United States|   39120|(601)123-7818| AHooper@example.com|2018-04-21 11:49:02|
|123453023|      Etta|    brendan|       Holman|4210653310102868|   829 Redwood Drive|       Wethersfield|        CT|United States|   06109|(860)123-8933| EHolman@example.com|2018-04-21 11:49:02|
|123454487|    Wilber|   ezequiel|       Dunham|4210653310116272|683 12th Street East|            Huntley|        IL|United States|   60142|(847)124-3018| WDunham@example.com|2018-04-21 11:49:02|
|123459758|   Eugenio|      trina|        Hardy|4210653310195948|253 Country Club ...|         New Berlin|        WI|United States|   53151|(262)124-3215|  EHardy@example.com|2018-04-21 11:49:02|
|123454431|   Wilfred|        may|        Ayers|4210653310356919|  301 Madison Street|            El Paso|        TX|United States|   79930|(915)124-2074|  WAyers@example.com|2018-04-21 11:49:02|
|123454202|      Beau|    ambrose|      Woodard|4210653310395982|    3 Colonial Drive|      North Olmsted|        OH|United States|   44070|(436)124-2570|BWoodard@example.com|2018-04-21 11:49:02|
|123451799|    Sheila|      larry|         Kemp|4210653310400536|   84 Belmont Avenue|             Vienna|        VA|United States|   22180|(703)123-9685|   SKemp@example.com|2018-04-21 11:49:02|
|123453875|     Wendy|        ora|       Hurley|4210653310459911|    728 Oxford Court|             Duarte|        CA|United States|   91010|(626)123-8213| WHurley@example.com|2018-04-21 11:49:02|
|123457511|      Alec|     tracie|      Gilmore|4210653310773972|    81 Forest Street|             Owosso|        MI|United States|   48867|(989)124-0689|AGilmore@example.com|2018-04-21 11:49:02|
|123457464|    Barbra|    mitchel|          Lau|4210653310794854|    561 Court Street|               Zion|        IL|United States|   60099|(847)123-5222|    BLau@example.com|2018-04-21 11:49:02|
|123457639|   Edmundo|      denny|      Thomson|4210653310817373|   622 Cypress Court|         Youngstown|        OH|United States|   44512|(330)124-1363|EThomson@example.com|2018-04-21 11:49:02|
|123453242|      Elsa|   isabelle|       Truong|4210653310844617| 924 8th Street West|        Summerville|        SC|United States|   29483|(843)123-6228| ETruong@example.com|2018-04-21 11:49:02|
|123454339|     Homer|      henry|     McKinney|4210653311015303|     611 East Avenue|            El Paso|        TX|United States|   79930|(915)123-8165|HMckinney@example...|2018-04-21 11:49:02|
|123454537|      Rita|     rickey|         Kidd|4210653311215039|        680 Route 44|             Fenton|        MI|United States|   48430|(810)123-4730|   RKidd@example.com|2018-04-21 11:49:02|
|123452373|    Amalia|  heriberto|      Ballard|4210653311229354|    71 Warren Street|         Grandville|        MI|United States|   49418|(616)124-2113|ABallard@example.com|2018-04-21 11:49:02|
|123455343|     Patty|   angelita|       Thomas|4210653311652836|    195 Jones Street|          Yuba City|        CA|United States|   95993|(530)123-9888| PThomas@example.com|2018-04-21 11:49:02|
|123451533|  Josefina|   dorothea|       Morrow|4210653311707126|      500 New Street|         Cape Coral|        FL|United States|   33904|(239)124-0158| JMorrow@example.com|2018-04-21 11:49:02|
|123459278|    Nelson|  jefferson|      Andrews|4210653311730764| 989 Division Street|         Brookfield|        WI|United States|   53045|(262)124-1408|NAndrews@example.com|2018-04-21 11:49:02|
|123456915|    Miquel|     maximo|    Schneider|4210653311898082|    810 Maple Street|           Richmond|        VA|United States|   23223|(686)123-8390|MSchneider@exampl...|2018-04-21 11:49:02|
|123453807|    Parker|    arnulfo|      Tidwell|4210653312021765|      649 Eagle Road|       West Chester|        PA|United States|   19380|(484)123-5067|PTidwell@example.com|2018-04-21 11:49:02|
|123458078|     Basil|     ramiro|        Swift|4210653312200846|   298 George Street|      New Baltimore|        MI|United States|   48047|(586)124-0001|  BSwift@example.com|2018-04-21 11:49:02|
|123459628|    Wilmer|    nanette|        Lopez|4210653312241914|  761 Cottage Street|           Bethesda|        MD|United States|   20814|(227)124-1312|  WLopez@example.com|2018-04-21 11:49:02|
|123453196|     Karyn|   isabella|      Higgins|4210653312261759| 242 2nd Street East|             Parlin|        NJ|United States|   08859|(732)123-5511|KHiggins@example.com|2018-04-21 11:49:02|
|123456466|    Lauren|      edith|       Gaines|4210653312346064|     133 Winding Way|           Dearborn|        MI|United States|   48124|(313)123-7317| LGaines@example.com|2018-04-21 11:49:02|
|123457402|    Leslie|    jacklyn|          Poe|4210653312454227|  147 Lincoln Street|             Vienna|        VA|United States|   22180|(703)124-0777|    LPoe@example.com|2018-04-21 11:49:02|
|123455692|   Maurice|      lorna|        Ramey|4210653312478046|    860 Grant Avenue|          Davenport|        IA|United States|   52804|(563)123-9863|  MRamey@example.com|2018-04-21 11:49:02|
|123451806|  Courtney|     debora|       Ibarra|4210653312480040|     743 Penn Street|           Victoria|        TX|United States|   77904|(361)124-1909| CIbarra@example.com|2018-04-21 11:49:02|
|123459918|      Ines|      tomas|      Sellers|4210653312528499|   644 School Street|         South Lyon|        MI|United States|   48178|(248)124-0817|ISellers@example.com|2018-04-21 11:49:02|
|123453988|     Elden|   carolina|       Murphy|4210653312535133|   760 Madison Court|           Torrance|        CA|United States|   90505|(310)123-7126| EMurphy@example.com|2018-04-21 11:49:02|
|123457321|    Edison|    shannon|        Garza|4210653312569486|      599 New Street|         New Berlin|        WI|United States|   53151|(262)124-1268|  EGarza@example.com|2018-04-21 11:49:02|
|123451068|    Tracey|     austin|     Richards|4210653312588692|     147 Durham Road|            Rowlett|        TX|United States|   75088|(214)123-6077|TRichards@example...|2018-04-21 11:49:02|
|123455295|     Benny|     lorrie|      Oconnor|4210653312665358|     740 Maiden Lane|         Bettendorf|        IA|United States|   52722|(563)123-6989|BOconnor@example.com|2018-04-21 11:49:02|
|123458509| Jeannette|       phil|       Ramsey|4210653312797359|  214 Edgewood Drive|          Frederick|        MD|United States|   21701|(227)123-9774| JRamsey@example.com|2018-04-21 11:49:02|
|123454698|       Rey|      britt|         Hood|4210653312837854| 111 Riverside Drive|          Jonesboro|        GA|United States|   30236|(404)123-6561|   RHood@example.com|2018-04-21 11:49:02|
|123452805|     Reyes|    chasity|       McNeil|4210653312838058|   850 School Street|           Paterson|        NJ|United States|   07501|(973)123-7290| RMcneil@example.com|2018-04-21 11:49:02|
|123453796|     Shari|    mildred|      Coulter|4210653312952302|       824 Fawn Lane|           Torrance|        CA|United States|   90505|(310)124-1213|SCoulter@example.com|2018-04-21 11:49:02|
|123459916|      Elsa|        ted|      Anthony|4210653313003223| 475 Hillcrest Drive|      Redondo Beach|        CA|United States|   90278|(424)124-0339|EAnthony@example.com|2018-04-21 11:49:02|
|123454933|   Marcelo|    gonzalo|      Emerson|4210653313038847| 404 Marshall Street|         Grandville|        MI|United States|   49418|(616)124-3173|MEmerson@example.com|2018-04-21 11:49:02|
|123453463| Katherine|     harvey|          Ali|4210653313070993|   413 Hamilton Road|             Helena|        MT|United States|   59601|(406)123-9467|    KAli@example.com|2018-04-21 11:49:02|
|123455975|   Celeste|     andrew|    McDermott|4210653313088465|   563 Edgewood Road|         Gettysburg|        PA|United States|   17325|(717)124-0377|CMcdermott@exampl...|2018-04-21 11:49:02|
|123452214|   Miranda|     corina|      Chapman|4210653313138450|340 Jefferson Street|             Chaska|        MN|United States|   55318|(952)123-6237|MChapman@example.com|2018-04-21 11:49:02|
|123454458|  Eldridge|       oren|      Estrada|4210653313155866|105 4th Street South|             Helena|        MT|United States|   59601|(406)123-9268|EEstrada@example.com|2018-04-21 11:49:02|
|123455875|      Kyle|      cathy|           Wu|4210653313170152|   411 Fairway Drive|           Rockaway|        NJ|United States|   07866|(973)124-0334|     KWu@example.com|2018-04-21 11:49:02|
|123453014| Broderick|    raleigh|         Choi|4210653313259504|        182 Route 29|      Redondo Beach|        CA|United States|   90278|(424)123-8212|   BChoi@example.com|2018-04-21 11:49:02|
|123458645|     Addie|      scott|     Cisneros|4210653313338885|158 Fieldstone Drive|              Osseo|        MN|United States|   55311|(763)123-7706|ACisneros@example...|2018-04-21 11:49:02|
|123458645|     Addie|      scott|     Cisneros|4210653313338885|158 Fieldstone Drive|              Osseo|        MN|United States|   55311|(763)123-7706|ACisneros@example...|2018-04-21 11:49:02|
|123455038|   Merrill|     santos|    Nicholson|4210653313592576|  618 Woodland Drive|         Middleburg|        FL|United States|   32068|(324)124-1801|MNicholson@exampl...|2018-04-21 11:49:02|
|123458633| Johnathon|   jennifer|   Valenzuela|4210653313622611| 610 Briarwood Court|      Mechanicsburg|        PA|United States|   17050|(717)123-9079|JValenzuela@examp...|2018-04-21 11:49:02|
|123459909|    Jasmin|    rosario|        Moody|4210653313825914|    472 Grant Street|   New Philadelphia|        OH|United States|   44663|(330)123-5080|  JMoody@example.com|2018-04-21 11:49:02|
|123458342|     Bette|     leonor|       Galvan|4210653313922436| 448 Columbia Street|             Racine|        WI|United States|   53402|(262)124-2974| BGalvan@example.com|2018-04-21 11:49:02|
|123454006|    Joanne|   laurence|      Hampton|4210653313938481|      605 3rd Street|           Bethesda|        MD|United States|   20814|(227)123-8964|JHampton@example.com|2018-04-21 11:49:02|
|123451071|     Daryl|       erin|        Parks|4210653314009556|     84 Broad Street|            Trenton|        NJ|United States|   08610|(609)123-5784|  DParks@example.com|2018-04-21 11:49:02|
|123455726|       Ted|      brain|         Metz|4210653314024981|    44 Myrtle Avenue|       Simpsonville|        SC|United States|   29680|(864)124-2024|   TMetz@example.com|2018-04-21 11:49:02|
|123453966|     Titus|     antone|       Sharpe|4210653314044121|     471 Lake Avenue|            Conyers|        GA|United States|   30012|(404)123-6528| TSharpe@example.com|2018-04-21 11:49:02|
|123452454|    Bertie|   mercedes|         York|4210653314209155|      398 Eagle Road|          Palm City|        FL|United States|   34990|(772)123-5377|  BMYork@example.com|2018-04-21 11:49:02|
|123457640|     Nigel|       aida|      Escobar|4210653314345212|   791 School Street|South Richmond Hill|        NY|United States|   11419|(917)123-8055|NEscobar@example.com|2018-04-21 11:49:02|
|123454917|  Cristina|    beatriz|     Phillips|4210653314449645|833 Westminster D...|          Pittsford|        NY|United States|   14534|(585)123-4648|CPhillips@example...|2018-04-21 11:49:02|
|123456436|      Alex|       jame|    Dougherty|4210653314629341| 501 Crescent Street|         Reidsville|        NC|United States|   27320|(336)123-8759|ADougherty@exampl...|2018-04-21 11:49:02|
|123451995|     Lorna|      aimee|         Diaz|4210653314812374|847 Lafayette Street|              Osseo|        MN|United States|   55311|(763)124-1214|   LDiaz@example.com|2018-04-21 11:49:02|
|123451995|     Lorna|      aimee|         Diaz|4210653314812374|847 Lafayette Street|              Osseo|        MN|United States|   55311|(763)124-1214|   LDiaz@example.com|2018-04-21 11:49:02|
|123457910|     Pearl|     marion|       Gaines|4210653314932835|     249 Aspen Court|         Sioux City|        IA|United States|   51106|(712)123-8426| PGaines@example.com|2018-04-21 11:49:02|
|123451152| Rigoberto|    annette|      Kennedy|4210653314938984|   235 Laurel Street|       Kernersville|        NC|United States|   27284|(336)124-0490|RKennedy@example.com|2018-04-21 11:49:02|
|123456143|     Kayla|     dionne|        Neely|4210653314968535|         936 Route 4|             Apopka|        FL|United States|   32703|(407)123-5742|  KNeely@example.com|2018-04-21 11:49:02|
|123456538|   Jasmine|     doreen|          Law|4210653315077043|   953 Poplar Street|             Racine|        WI|United States|   53402|(262)123-8023|    JLaw@example.com|2018-04-21 11:49:02|
|123459532|    Freddy|    thurman|      McCarty|4210653315118577|    811 Jones Street|         Greenville|        NC|United States|   27834|(252)124-2721|FMccarty@example.com|2018-04-21 11:49:02|
|123454003|    Calvin|     angelo|     Hilliard|4210653315377872|   757 Parker Street|              Osseo|        MN|United States|   55311|(763)123-6666|CHilliard@example...|2018-04-21 11:49:02|
|123454003|    Calvin|     angelo|     Hilliard|4210653315377872|   757 Parker Street|              Osseo|        MN|United States|   55311|(763)123-6666|CHilliard@example...|2018-04-21 11:49:02|
|123451818|   Aurelia|    leonard|     Mitchell|4210653315430155|   888 Dogwood Drive|           Marietta|        GA|United States|   30008|(404)123-6567|AMitchell@example...|2018-04-21 11:49:02|
|123457867|    Dionne|    refugio|        Boyer|4210653315439830|  627 Orchard Street|           Richmond|        VA|United States|   23223|(686)123-7087|  DBoyer@example.com|2018-04-21 11:49:02|
|123459968|     Lucio|      bette|      Britton|4210653315516879|  635 Central Avenue|          Pittsford|        NY|United States|   14534|(585)123-4689|LBritton@example.com|2018-04-21 11:49:02|
|123451454|  Mercedes|    coleman|      Woodard|4210653315537073|   660 Bridge Street|         Middleburg|        FL|United States|   32068|(324)123-5632|MWoodard@example.com|2018-04-21 11:49:02|
|123459940|     Alyce|     alissa|       Parker|4210653315577947|   265 Summer Street|        Floral Park|        NY|United States|   11001|(363)123-5625| AParker@example.com|2018-04-21 11:49:02|
|123455734|   Felicia|        may|     McKinley|4210653315669217|698 Washington St...|          Pittsford|        NY|United States|   14534|(585)124-1925|FMckinley@example...|2018-04-21 11:49:02|
|123455638|   Francis|    donnell|     Meredith|4210653315752398|  417 Lincoln Street|           Wilmette|        IL|United States|   60091|(847)123-6886|FMeredith@example...|2018-04-21 11:49:02|
|123452555|   Jasmine|     manual|          Ali|4210653315806331| 414 Hamilton Street|         Loganville|        GA|United States|   30052|(404)124-1596|    JAli@example.com|2018-04-21 11:49:02|
|123459155|      Tony|     millie|      Raymond|4210653315863825|    177 Pearl Street|           Rockaway|        NJ|United States|   07866|(973)123-7046|TRaymond@example.com|2018-04-21 11:49:02|
|123457454|    Lillie|     deanne|       Whalen|4210653315888773|   697 Myrtle Street|      Redondo Beach|        CA|United States|   90278|(424)124-1870| LWhalen@example.com|2018-04-21 11:49:02|
|123453191|   Janelle|    claudia|        Stone|4210653316211933| 701 Virginia Street|            Andover|        MA|United States|   01810|(978)123-7809|  JStone@example.com|2018-04-21 11:49:02|
|123457655|    Cherry|    rodrick|      Oconnor|4210653316373749|    122 Jones Street|         Starkville|        MS|United States|   39759|(662)123-5055|COconnor@example.com|2018-04-21 11:49:02|
|123458966| Jeannette|       alan|       Golden|4210653316379921|496 Hillcrest Avenue|            Taunton|        MA|United States|   02780|(508)124-0126| JGolden@example.com|2018-04-21 11:49:02|
|123457778|    Palmer|        lee|       Kelley|4210653316451779|      662 2nd Avenue|       Hillsborough|        NJ|United States|   08844|(908)124-2953| PKelley@example.com|2018-04-21 11:49:02|
|123456356| Elizabeth|    desiree|       Howard|4210653316473643|     226 West Street|          Jonesboro|        GA|United States|   30236|(404)123-8707| EHoward@example.com|2018-04-21 11:49:02|
|123457245|    Rodger|      ronny|       Chacon|4210653316474645|   793 Summer Street|            Huntley|        IL|United States|   60142|(847)124-1884| RChacon@example.com|2018-04-21 11:49:02|
|123456455|    Arline|    marcelo|      Hammond|4210653316625296| 365 Franklin Avenue|         Burnsville|        MN|United States|   55337|(952)123-6710|AHammond@example.com|2018-04-21 11:49:02|
|123458724|     Tonya|   porfirio|          Liu|4210653316694056| 193 Harrison Avenue|             Boston|        MA|United States|   02127|(617)124-1788|   TPLiu@example.com|2018-04-21 11:49:02|
|123453881|    Lonnie|     anibal|       Alford|4210653316694706| 202 Highland Avenue|         Sykesville|        MD|United States|   21784|(410)124-1627| LAlford@example.com|2018-04-21 11:49:02|
|123455462|      Kris|    herbert|         Ball|4210653316705450|     34 Heather Lane|         Youngstown|        OH|United States|   44512|(330)123-6413|   KBall@example.com|2018-04-21 11:49:02|
|123453534|    Elnora|   beatrice|        North|4210653316731195|66 Washington Avenue|   Fernandina Beach|        FL|United States|   32034|(324)123-9786|  ENorth@example.com|2018-04-21 11:49:02|
|123451037|      Oren| bernadette|         Finn|4210653316827505|     389 Winding Way|         Carrollton|        GA|United States|   30117|(404)124-3309|   OFinn@example.com|2018-04-21 11:49:02|
|123458809|     Mindy|       lucy|      Skinner|4210653316957315|    529 Laurel Drive|           Clermont|        FL|United States|   34711|(352)123-8484|MSkinner@example.com|2018-04-21 11:49:02|
|123459879|   Carroll|   emmanuel|    Greenberg|4210653317141342| 293 3rd Street East|          Irvington|        NJ|United States|   07111|(973)124-2571|CGreenberg@exampl...|2018-04-21 11:49:02|
|123454064|   Stephen|     prince|         Dang|4210653317157493|     197 Wall Street|         Grandville|        MI|United States|   49418|(616)123-7680|   SDang@example.com|2018-04-21 11:49:02|
|123458668|   Thurman|  granville|         Vera|4210653317182916| 831 Glenwood Avenue|        Mooresville|        NC|United States|   28115|(704)123-7294|   TVera@example.com|2018-04-21 11:49:02|
|123457998|   Rosario|   eldridge|        Terry|4210653317297619|   862 Willow Street|            Paducah|        KY|United States|   42001|(270)123-9486|  RTerry@example.com|2018-04-21 11:49:02|
|123459742|        Jo|     sylvia|      Godfrey|4210653317338150|   310 Sunset Avenue|          La Crosse|        WI|United States|   54601|(608)123-5810|JSGodfrey@example...|2018-04-21 11:49:02|
|123456582|    Vaughn|   valentin|      Butcher|4210653317357817|    267 Maple Avenue|    Deerfield Beach|        FL|United States|   33442|(954)123-7499|VButcher@example.com|2018-04-21 11:49:02|
|123453565|   Ambrose|        iva|       Graves|4210653317360015|   830 Edgewood Road|           Wilmette|        IL|United States|   60091|(847)124-3302| AGraves@example.com|2018-04-21 11:49:02|
|123457286| Charmaine|     kelsey|        Noble|4210653317392678| 736 Harrison Avenue|         Oconomowoc|        WI|United States|   53066|(262)124-0992|  CNoble@example.com|2018-04-21 11:49:02|
|123454502|      Bill|  cornelius|    Arredondo|4210653317478942| 298 Strawberry Lane|        Mooresville|        NC|United States|   28115|(704)123-7603|BArredondo@exampl...|2018-04-21 11:49:02|

In [43]:
from pyspark.sql.functions import count

grouped_df = final_df.groupBy('CREDIT_CARD_NO').agg(count('*').alias('num_records'))
grouped_df.show(979)

+----------------+-----------+
|  CREDIT_CARD_NO|num_records|
+----------------+-----------+
|4210653373626291|          1|
|4210653383230786|          1|
|4210653328645639|          1|
|4210653374779886|          1|
|4210653385559404|          1|
|4210653319826232|          1|
|4210653330396787|          1|
|4210653349028689|          1|
|4210653354436037|          1|
|4210653313922436|          1|
|4210653317141342|          1|
|4210653380077193|          1|
|4210653382394208|          1|
|4210653385932779|          1|
|4210653316211933|          1|
|4210653327599222|          1|
|4210653342532702|          1|
|4210653378239100|          1|
|4210653393389344|          1|
|4210653397435570|          1|
|4210653316625296|          1|
|4210653343509148|          1|
|4210653315669217|          1|
|4210653321728527|          4|
|4210653347187692|          1|
|4210653379290313|          1|
|4210653396887042|          1|
|4210653325318749|          1|
|4210653333257054|          1|
|4210653342274947|          1|
|4210653372703172|          1|
|4210653382525923|          1|
|4210653389719729|          2|
|4210653392635174|          1|
|4210653313259504|          1|
|4210653324188844|          1|
|4210653348574254|          1|
|4210653355100786|          1|
|4210653356030493|          1|
|4210653391639969|          1|
|4210653393396097|          1|
|4210653366365663|          1|
|4210653351740502|          1|
|4210653352289017|          1|
|4210653321615305|          1|
|4210653341085139|          1|
|4210653347012691|          1|
|4210653357615375|          1|
|4210653360649149|          1|
|4210653369171115|          1|
|4210653370890538|          1|
|4210653386787595|          1|
|4210653317157493|          1|
|4210653319637723|          1|
|4210653325680076|          1|
|4210653335819167|          1|
|4210653338000840|          1|
|4210653347101133|          1|
|4210653354309464|          1|
|4210653394581050|          1|
|4210653327130934|          1|
|4210653328570849|          1|
|4210653328770662|          1|
|4210653353233566|          1|
|4210653387601569|          1|
|4210653315439830|          1|
|4210653317813826|          1|
|4210653337015193|          1|
|4210653339077001|          1|
|4210653371997788|          1|
|4210653386936558|          1|
|4210653315888773|          1|
|4210653327926509|          1|
|4210653336729188|          1|
|4210653343170796|          1|
|4210653364380528|          1|
|4210653367134037|          1|
|4210653331288832|          1|
|4210653381566399|          1|
|4210653390959197|          1|
|4210653317478942|          1|
|4210653322807170|          1|
|4210653347305169|          1|
|4210653382459169|          1|
|4210653397985221|          1|
|4210653317357817|          1|
|4210653321036329|          1|
|4210653325679516|          1|
|4210653363298691|          1|
|4210653368879921|          1|
|4210653380991667|          1|
|4210653390509374|          1|
|4210653312241914|          1|
|4210653330748870|          1|
|4210653332958550|          1|
|4210653356656459|          1|
|4210653360803200|          1|
|4210653377231460|          1|
|4210653382968758|          1|
|4210653333031957|          1|
|4210653336552198|          1|
|4210653336676415|          1|
|4210653382827863|          1|
|4210653390995615|          1|
|4210653312535133|          1|
|4210653324603872|          1|
|4210653325414547|          1|
|4210653333641362|          1|
|4210653336455677|          1|
|4210653342945303|          1|
|4210653382605538|          1|
|4210653339514829|          1|
|4210653340296427|          1|
|4210653352282525|          2|
|4210653355579180|          1|
|4210653360484113|          1|
|4210653360578881|          1|
|4210653395813903|          1|
|4210653322591693|          1|
|4210653327324219|          1|
|4210653355758008|          1|
|4210653389763988|          1|
|4210653328659677|          1|
|4210653359343676|          1|
|4210653373787581|          1|
|4210653310794854|          1|
|4210653311652836|          1|
|4210653335987056|          1|
|4210653343988184|          1|
|4210653345533381|          1|
|4210653350095396|          1|
|4210653371004151|          1|
|4210653391000541|          1|
|4210653396136361|          1|
|4210653321557571|          1|
|4210653329723460|          1|
|4210653335470191|          1|
|4210653337395508|          1|
|4210653341369603|          1|
|4210653366287973|          1|
|4210653370776773|          1|
|4210653371006391|          1|
|4210653373571809|          1|
|4210653380740678|          1|
|4210653381009367|          1|
|4210653325022550|          1|
|4210653326588404|          1|
|4210653334350739|          1|
|4210653368420333|          1|
|4210653310817373|          1|
|4210653315537073|          1|
|4210653340439515|          1|
|4210653347167031|          1|
|4210653347791178|          1|
|4210653364243847|          1|
|4210653376562882|          1|
|4210653398575137|          1|
|4210653334162894|          1|
|4210653337953343|          1|
|4210653347447048|          1|
|4210653351606480|          1|
|4210653363285266|          1|
|4210653385358208|          1|
|4210653315577947|          1|
|4210653321832203|          1|
|4210653330692448|          1|
|4210653351787226|          1|
|4210653368410297|          1|
|4210653371042040|          1|
|4210653392049511|          1|
|4210653350314282|          1|
|4210653360123603|          1|
|4210653398350475|          1|
|4210653366829531|          1|
|4210653383799800|          1|
|4210653399939240|          1|
|4210653335163700|          1|
|4210653352356652|          1|
|4210653368689760|          1|
|4210653325984772|          1|
|4210653338327777|          1|
|4210653343757019|          1|
|4210653349525413|          1|
|4210653364240213|          1|
|4210653389005263|          2|
|4210653393632357|          1|
|4210653315752398|          1|
|4210653332819723|          1|
|4210653346070342|          1|
|4210653348391845|          1|
|4210653360937265|          1|
|4210653362221487|          1|
|4210653363502076|          1|
|4210653312480040|          1|
|4210653324892592|          1|
|4210653330922835|          1|
|4210653331899330|          1|
|4210653379799438|          1|
|4210653311015303|          1|
|4210653373620931|          1|
|4210653316705450|          1|
|4210653344829469|          1|
|4210653346282859|          1|
|4210653355147720|          1|
|4210653357449324|          1|
|4210653358054077|          1|
|4210653391271932|          1|
|4210653320789346|          1|
|4210653326380751|          1|
|4210653346207756|          1|
|4210653385089392|          1|
|4210653389061061|          1|
|4210653319388256|          1|
|4210653343390318|          1|
|4210653354685755|          1|
|4210653357523044|          1|
|4210653313155866|          1|
|4210653322552664|          1|
|4210653347730390|          1|
|4210653386327942|          1|
|4210653354780671|          1|
|4210653354880987|          1|
|4210653376538491|          1|
|4210653316373749|          1|
|4210653322829279|          1|
|4210653322920523|          1|
|4210653337226956|          1|
|4210653341178029|          1|
|4210653341355570|          1|
|4210653365186296|          1|
|4210653375392895|          1|
|4210653388487485|          1|
|4210653389593543|          1|
|4210653313070993|          1|
|4210653325062598|          1|
|4210653341176498|          1|
|4210653350740360|          1|
|4210653384348185|          1|
|4210653321168764|          1|
|4210653350230468|          1|
|4210653357951161|          1|
|4210653370864104|          1|
|4210653315863825|          1|
|4210653342740065|          2|
|4210653377087775|          1|
|4210653379288662|          1|
|4210653397194104|          1|
|4210653314024981|          1|
|4210653314044121|          1|
|4210653324041606|          1|
|4210653336174751|          1|
|4210653341988899|          1|
|4210653347932586|          1|
|4210653348200886|          1|
|4210653356818108|          1|
|4210653325115597|          1|
|4210653328387728|          1|
|4210653379783302|          1|
|4210653385237792|          1|
|4210653334334668|          1|
|4210653359679482|          1|
|4210653368172368|          1|
|4210653312021765|          1|
|4210653354651418|          1|
|4210653384543166|          1|
|4210653392410547|          1|
|4210653392568941|          1|
|4210653310116272|          1|
|4210653333336546|          1|
|4210653353497151|          1|
|4210653357017766|          1|
|4210653363650719|          1|
|4210653346126019|          1|
|4210653383493859|          1|
|4210653349795969|          1|
|4210653383785923|          1|
|4210653311215039|          1|
|4210653313138450|          1|
|4210653330017081|          1|
|4210653357921914|          1|
|4210653365102251|          1|
|4210653369943809|          1|
|4210653374740577|          1|
|4210653312838058|          1|
|4210653363336062|          1|
|4210653372203281|          1|
|4210653379370074|          1|
|4210653396541204|          1|
|4210653313338885|          2|
|4210653335173324|          1|
|4210653335697550|          1|
|4210653365163538|          1|
|4210653385222076|          1|
|4210653325562001|          1|
|4210653357942118|          1|
|4210653378543391|          1|
|4210653325596949|          1|
|4210653328506583|          1|
|4210653330628709|          1|
|4210653332949005|          1|
|4210653352735334|          1|
|4210653380478154|          1|
|4210653383004409|          1|
|4210653389537327|          1|
|4210653397569102|          1|
|4210653344121779|          2|
|4210653349578578|          1|
|4210653375686315|          1|
|4210653389632018|          1|
|4210653397666065|          1|
|4210653314932835|          1|
|4210653338457374|          1|
|4210653343086078|          1|
|4210653367639676|          1|
|4210653382836740|          1|
|4210653386082107|          1|
|4210653315516879|          1|
|4210653354757386|          1|
|4210653316694056|          1|
|4210653325605199|          1|
|4210653348630571|          1|
|4210653367422193|          1|
|4210653393404929|          1|
|4210653327610817|          1|
|4210653342242023|          1|
|4210653343680948|          1|
|4210653349000038|          1|
|4210653351431169|          1|
|4210653367509973|          1|
|4210653379487981|          1|
|4210653395351413|          1|
|4210653314449645|          1|
|4210653315118577|          1|
|4210653323141413|          1|
|4210653363348552|          1|
|4210653381653885|          1|
|4210653317717426|          1|
|4210653319415654|          1|
|4210653332531713|          1|
|4210653365537472|          1|
|4210653374816736|          1|
|4210653311730764|          1|
|4210653326378343|          1|
|4210653328786353|          1|
|4210653331323980|          1|
|4210653362185731|          1|
|4210653385109232|          1|
|4210653386674994|          1|
|4210653390632291|          1|
|4210653344267419|          1|
|4210653349417485|          1|
|4210653363122917|          1|
|4210653369088511|          2|
|4210653318141021|          1|
|4210653354321803|          1|
|4210653362041693|          1|
|4210653387382495|          1|
|4210653312665358|          1|
|4210653315377872|          2|
|4210653343620059|          1|
|4210653348932823|          1|
|4210653392932549|          1|
|4210653313938481|          1|
|4210653319939313|          1|
|4210653337454274|          1|
|4210653368499454|          1|
|4210653312261759|          1|
|4210653371748805|          1|
|4210653388599245|          1|
|4210653324260789|          1|
|4210653376080368|          1|
|4210653337579457|          1|
|4210653356700754|          1|
|4210653316694706|          1|
|4210653318386828|          1|
|4210653382641045|          1|
|4210653322109605|          1|
|4210653357893764|          1|
|4210653391080827|          1|
|4210653329086605|          1|
|4210653314209155|          1|
|4210653315806331|          1|
|4210653331052234|          1|
|4210653345456852|          1|
|4210653352364608|          1|
|4210653364904600|          1|
|4210653380523556|          1|
|4210653396825950|          1|
|4210653338597659|          1|
|4210653372239111|          1|
|4210653384109681|          1|
|4210653386024758|          1|
|4210653394207005|          1|
|4210653326397913|          1|
|4210653389909043|          1|
|4210653313170152|          1|
|4210653313592576|          1|
|4210653320427983|          1|
|4210653320822450|          1|
|4210653326257558|          1|
|4210653345375482|          1|
|4210653369092976|          1|
|4210653391820873|          1|
|4210653316379921|          1|
|4210653338516826|          1|
|4210653356014534|          1|
|4210653357814445|          1|
|4210653376558751|          1|
|4210653387378802|          1|
|4210653332855052|          1|
|4210653346013688|          1|
|4210653351531582|          1|
|4210653361070574|          1|
|4210653361269641|          1|
|4210653312569486|          1|
|4210653374223272|          1|
|4210653388911018|          1|
|4210653394681244|          1|
|4210653399559239|          1|
|4210653367943517|          1|
|4210653369416625|          1|
|4210653395315363|          1|
|4210653335570539|          1|
|4210653347095962|          2|
|4210653361883963|          1|
|4210653378605302|          1|
|4210653382353446|          1|
|4210653397379041|          1|
|4210653322298365|          1|
|4210653328206207|          1|
|4210653337408763|          1|
|4210653365627146|          1|
|4210653380913427|          1|
|4210653384029972|          1|
|4210653386143557|          1|
|4210653382818918|          1|
|4210653388606505|          2|
|4210653393054740|          1|
|4210653373700115|          1|
|4210653375181712|          1|
|4210653391973347|          1|
|4210653315430155|          1|
|4210653345832070|          1|
|4210653349270240|          1|
|4210653355326654|          1|
|4210653363044851|          1|
|4210653363583297|          1|
|4210653379591121|          1|
|4210653384858264|          1|
|4210653320826184|          1|
|4210653367415132|          1|
|4210653371642762|          1|
|4210653378667686|          1|
|4210653310400536|          1|
|4210653316473643|          1|
|4210653335940340|          1|
|4210653362839417|          1|
|4210653370921357|          1|
|4210653373030871|          1|
|4210653379492990|          1|
|4210653386394478|          1|
|4210653316827505|          1|
|4210653365821583|          1|
|4210653370850340|          1|
|4210653386163460|          1|
|4210653310061055|          1|
|4210653344763058|          1|
|4210653348264990|          1|
|4210653386941114|          1|
|4210653343942374|          1|
|4210653363951910|          1|
|4210653325548735|          1|
|4210653330212793|          1|
|4210653366626523|          1|
|4210653380870606|          1|
|4210653386980714|          1|
|4210653312528499|          1|
|4210653337464412|          1|
|4210653349233229|          1|
|4210653363170610|          1|
|4210653387134591|          1|
|4210653393519455|          1|
|4210653311898082|          1|
|4210653318305840|          1|
|4210653340182715|          1|
|4210653348536198|          1|
|4210653352401004|          1|
|4210653323140179|          1|
|4210653334160207|          1|
|4210653386419186|          1|
|4210653314938984|          1|
|4210653326148630|          1|
|4210653310459911|          1|
|4210653324302551|          1|
|4210653338106818|          1|
|4210653319745266|          1|
|4210653361724866|          2|
|4210653320942950|          1|
|4210653333928752|          1|
|4210653372581929|          1|
|4210653388841064|          1|
|4210653339637963|          1|
|4210653340784841|          1|
|4210653348535033|          1|
|4210653351613328|          1|
|4210653344091199|          1|
|4210653353821687|          1|
|4210653379667394|          1|
|4210653387922439|          1|
|4210653321388686|          1|
|4210653353747504|          1|
|4210653358697186|          1|
|4210653376655865|          1|
|4210653314629341|          1|
|4210653335706333|          1|
|4210653327427234|          1|
|4210653333887368|          1|
|4210653363271419|          1|
|4210653368653045|          1|
|4210653394578530|          1|
|4210653397089999|          1|
|4210653328549626|          1|
|4210653329337936|          1|
|4210653335694967|          1|
|4210653349448599|          1|
|4210653346772509|          1|
|4210653312346064|          1|
|4210653349675223|          1|
|4210653357283931|          1|
|4210653323594604|          1|
|4210653325199161|          1|
|4210653353653083|          1|
|4210653359754312|          1|
|4210653384046762|          2|
|4210653384836500|          1|
|4210653347892028|          1|
|4210653348834084|          1|
|4210653362904443|          1|
|4210653368958546|          1|
|4210653369442562|          1|
|4210653399389907|          1|
|4210653336268386|          1|
|4210653317804657|          1|
|4210653338533589|          1|
|4210653344959896|          1|
|4210653350448121|          1|
|4210653355020087|          2|
|4210653372603208|          1|
|4210653378804859|          1|
|4210653381873748|          1|
|4210653391373717|          1|
|4210653329148490|          1|
|4210653344070404|          1|
|4210653365767695|          1|
|4210653366516673|          1|
|4210653375749209|          1|
|4210653381097003|          1|
|4210653311229354|          1|
|4210653311707126|          1|
|4210653335426103|          1|
|4210653344020088|          1|
|4210653355971924|          1|
|4210653393764365|          1|
|4210653398873992|          1|
|4210653317772173|          1|
|4210653342850251|          1|
|4210653356168300|          1|
|4210653365940024|          1|
|4210653366768155|          1|
|4210653378662693|          1|
|4210653379525825|          1|
|4210653387455914|          1|
|4210653398155235|          1|
|4210653398700594|          1|
|4210653312454227|          1|
|4210653314968535|          1|
|4210653316957315|          1|
|4210653338154903|          1|
|4210653358247095|          1|
|4210653359919484|          1|
|4210653361394893|          1|
|4210653383049785|          1|
|4210653323641857|          1|
|4210653351873030|          1|
|4210653314345212|          1|
|4210653347619379|          1|
|4210653364315406|          1|
|4210653387194173|          1|
|4210653387347011|          1|
|4210653310195948|          1|
|4210653364170273|          1|
|4210653364500210|          1|
|4210653364949545|          1|
|4210653381143901|          1|
|4210653383788447|          1|
|4210653385819143|          1|
|4210653399451924|          1|
|4210653316451779|          1|
|4210653329844015|          1|
|4210653342005802|          1|
|4210653351538528|          1|
|4210653369930547|          1|
|4210653374089598|          1|
|4210653382847239|          1|
|4210653383980577|          1|
|4210653336961447|          1|
|4210653337729440|          1|
|4210653352628771|          1|
|4210653399308769|          1|
|4210653310356919|          1|
|4210653336065945|          1|
|4210653357297718|          1|
|4210653379318909|          1|
|4210653319796746|          1|
|4210653321125592|          1|
|4210653321245511|          1|
|4210653322099721|          1|
|4210653334888971|          4|
|4210653341807319|          1|
|4210653360635482|          1|
|4210653361046455|          1|
|4210653317360015|          1|
|4210653317697275|          1|
|4210653327620677|          1|
|4210653375347517|          1|
|4210653387890949|          1|
|4210653398137020|          1|
|4210653356219480|          1|
|4210653363315716|          1|
|4210653364098310|          1|
|4210653336258157|          1|
|4210653389631531|          1|
|4210653317783223|          1|
|4210653364927281|          1|
|4210653366723665|          1|
|4210653378454564|          1|
|4210653320975035|          1|
|4210653328674689|          1|
|4210653348484416|          1|
|4210653355993535|          1|
|4210653360775978|          1|
|4210653348888600|          1|

In [44]:
duplicate_credit_card_df = grouped_df.filter(col('num_records') > 1)
duplicate_credit_card_df.show(30)

+----------------+-----------+
|  CREDIT_CARD_NO|num_records|
+----------------+-----------+
|4210653321728527|          4|
|4210653389719729|          2|
|4210653352282525|          2|
|4210653389005263|          2|
|4210653342740065|          2|
|4210653313338885|          2|
|4210653344121779|          2|
|4210653369088511|          2|
|4210653315377872|          2|
|4210653347095962|          2|
|4210653388606505|          2|
|4210653361724866|          2|
|4210653384046762|          2|
|4210653355020087|          2|
|4210653334888971|          4|
|4210653379430189|          2|
|4210653327270061|          2|
|4210653371353793|          2|
|4210653366885341|          2|
|4210653314812374|          2|
|4210653331576279|          2|
|4210653344416975|          2|
|4210653328441999|          2|
+----------------+-----------+

In [45]:
duplicate_records_df = duplicate_credit_card_df.join(final_df, on='CREDIT_CARD_NO', how='inner')
duplicate_records_df.show(30)
#verifying the duplicates by Credit Card no and dropping the duplicates

+----------------+-----------+---------+----------+-----------+-------------+--------------------+----------+----------+-------------+--------+-------------+--------------------+-------------------+
|  CREDIT_CARD_NO|num_records|      SSN|FIRST_NAME|MIDDLE_NAME|    LAST_NAME| FULL_STREET_ADDRESS| CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|   CUST_PHONE|          CUST_EMAIL|       LAST_UPDATED|
+----------------+-----------+---------+----------+-----------+-------------+--------------------+----------+----------+-------------+--------+-------------+--------------------+-------------------+
|4210653321728527|          4|123452980|      Cora|      myrna|      Bullock|    41 School Street|Wellington|        FL|United States|   33414|(561)124-1537|CBullock@example.com|2018-04-21 11:49:02|
|4210653321728527|          4|123452980|      Cora|      myrna|      Bullock|    41 School Street|Wellington|        FL|United States|   33414|(561)124-1537|CBullock@example.com|2018-04-21 11:49:02|
|4210653321728527|          4|123452980|      Cora|      myrna|      Bullock|    41 School Street|Wellington|        FL|United States|   33414|(561)124-1537|CBullock@example.com|2018-04-21 11:49:02|
|4210653321728527|          4|123452980|      Cora|      myrna|      Bullock|    41 School Street|Wellington|        FL|United States|   33414|(561)124-1537|CBullock@example.com|2018-04-21 11:49:02|
|4210653389719729|          2|123457323|     Clair|       alec|       Harmon|    49 Linden Street|  Bartlett|        IL|United States|   60103|(630)124-0072| CHarmon@example.com|2018-04-21 11:49:02|
|4210653389719729|          2|123457323|     Clair|       alec|       Harmon|    49 Linden Street|  Bartlett|        IL|United States|   60103|(630)124-0072| CHarmon@example.com|2018-04-21 11:49:02|
|4210653352282525|          2|123457129|    Garret|   adrienne|          Roy| 794 Lexington Court|  Bartlett|        IL|United States|   60103|(630)124-1334|    GRoy@example.com|2018-04-21 11:49:02|
|4210653352282525|          2|123457129|    Garret|   adrienne|          Roy| 794 Lexington Court|  Bartlett|        IL|United States|   60103|(630)124-1334|    GRoy@example.com|2018-04-21 11:49:02|
|4210653389005263|          2|123454636|   Garrett|  ellsworth|Hollingsworth|  197 Colonial Drive|  Bartlett|        IL|United States|   60103|(630)123-5360|GHollingsworth@ex...|2018-04-21 11:49:02|
|4210653389005263|          2|123454636|   Garrett|  ellsworth|Hollingsworth|  197 Colonial Drive|  Bartlett|        IL|United States|   60103|(630)123-5360|GHollingsworth@ex...|2018-04-21 11:49:02|
|4210653342740065|          2|123458157|     Pansy|    laverne|         Kemp| 949 Deerfield Drive|  Bartlett|        IL|United States|   60103|(630)123-5342|   PKemp@example.com|2018-04-21 11:49:02|
|4210653342740065|          2|123458157|     Pansy|    laverne|         Kemp| 949 Deerfield Drive|  Bartlett|        IL|United States|   60103|(630)123-5342|   PKemp@example.com|2018-04-21 11:49:02|
|4210653313338885|          2|123458645|     Addie|      scott|     Cisneros|158 Fieldstone Drive|     Osseo|        MN|United States|   55311|(763)123-7706|ACisneros@example...|2018-04-21 11:49:02|
|4210653313338885|          2|123458645|     Addie|      scott|     Cisneros|158 Fieldstone Drive|     Osseo|        MN|United States|   55311|(763)123-7706|ACisneros@example...|2018-04-21 11:49:02|
|4210653344121779|          2|123453765|   Eugenio|    randall|      Pearson|      769 4th Street|  Bartlett|        IL|United States|   60103|(630)124-0632|EPearson@example.com|2018-04-21 11:49:02|
|4210653344121779|          2|123453765|   Eugenio|    randall|      Pearson|      769 4th Street|  Bartlett|        IL|United States|   60103|(630)124-0632|EPearson@example.com|2018-04-21 11:49:02|
|4210653369088511|          2|123458915|      Jody|        kim|        Swain|     807 Arch Street|  Bartlett|        IL|United States|   60103|(630)123-5325|  JSwain@example.com|2018-04-21 11:49:02|
|4210653369088511|          2|123458915|      Jody|        kim|        Swain|     807 Arch Street|  Bartlett|        IL|United States|   60103|(630)123-5325|  JSwain@example.com|2018-04-21 11:49:02|
|4210653315377872|          2|123454003|    Calvin|     angelo|     Hilliard|   757 Parker Street|     Osseo|        MN|United States|   55311|(763)123-6666|CHilliard@example...|2018-04-21 11:49:02|
|4210653315377872|          2|123454003|    Calvin|     angelo|     Hilliard|   757 Parker Street|     Osseo|        MN|United States|   55311|(763)123-6666|CHilliard@example...|2018-04-21 11:49:02|
|4210653347095962|          2|123458185|      Mike|    kaitlin|       Suarez|    227 Depot Street|     Osseo|        MN|United States|   55311|(763)123-8790| MSuarez@example.com|2018-04-21 11:49:02|
|4210653347095962|          2|123458185|      Mike|    kaitlin|       Suarez|    227 Depot Street|     Osseo|        MN|United States|   55311|(763)123-8790| MSuarez@example.com|2018-04-21 11:49:02|
|4210653388606505|          2|123459076|      Chas|        jay|       Blanco| 514 Harrison Street|     Osseo|        MN|United States|   55311|(763)123-5549| CBlanco@example.com|2018-04-21 11:49:02|
|4210653388606505|          2|123459076|      Chas|        jay|       Blanco| 514 Harrison Street|     Osseo|        MN|United States|   55311|(763)123-5549| CBlanco@example.com|2018-04-21 11:49:02|
|4210653361724866|          2|123453261|    Tammie|   kristina|     Williams|   717 Augusta Drive|     Osseo|        MN|United States|   55311|(763)124-3098|TWilliams@example...|2018-04-21 11:49:02|
|4210653361724866|          2|123453261|    Tammie|   kristina|     Williams|   717 Augusta Drive|     Osseo|        MN|United States|   55311|(763)124-3098|TWilliams@example...|2018-04-21 11:49:02|
|4210653384046762|          2|123453985|    Marina|    bernard|         Lutz|  315 Colonial Drive|     Osseo|        MN|United States|   55311|(763)123-8646|   MLutz@example.com|2018-04-21 11:49:02|
|4210653384046762|          2|123453985|    Marina|    bernard|         Lutz|  315 Colonial Drive|     Osseo|        MN|United States|   55311|(763)123-8646|   MLutz@example.com|2018-04-21 11:49:02|
|4210653355020087|          2|123455071|    Darell|   benedict|     Bradshaw|     809 11th Street|     Osseo|        MN|United States|   55311|(763)123-6917|DBradshaw@example...|2018-04-21 11:49:02|
|4210653355020087|          2|123455071|    Darell|   benedict|     Bradshaw|     809 11th Street|     Osseo|        MN|United States|   55311|(763)123-6917|DBradshaw@example...|2018-04-21 11:49:02|
+----------------+-----------+---------+----------+-----------+-------------+--------------------+----------+----------+-------------+--------+-------------+--------------------+-------------------+
only showing top 30 rows

In [46]:
final_customer_dedup_df = final_df.dropDuplicates(['CREDIT_CARD_NO'])
final_customer_dedup_df.count()
final_customer_dedup_df.describe().show()
final_customer_dedup_df.show()
#Once again, we the final deduplicated data frame shows 952 records

+-------+--------------------+----------+-----------+---------+--------------------+-------------------+---------+----------+-------------+------------------+-------------+--------------------+
|summary|                 SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|      CREDIT_CARD_NO|FULL_STREET_ADDRESS|CUST_CITY|CUST_STATE| CUST_COUNTRY|          CUST_ZIP|   CUST_PHONE|          CUST_EMAIL|
+-------+--------------------+----------+-----------+---------+--------------------+-------------------+---------+----------+-------------+------------------+-------------+--------------------+
|  count|                 952|       952|        952|      952|                 952|                952|      952|       952|          952|               952|          952|                 952|
|   mean|1.2345552588130252E8|      NULL|       NULL|     NULL|4.210653353718597...|               NULL|     NULL|      NULL|         NULL|36312.616596638654|         NULL|                NULL|
| stddev|  2561.1858044909427|      NULL|       NULL|     NULL| 2.576300828101659E7|               NULL|     NULL|      NULL|         NULL| 23945.49431677531|         NULL|                NULL|
|    min|           123451007|      Abby|       abby|   Abbott|    4210653310061055|     1 Circle Drive|  Acworth|        AL|United States|             01810|(201)123-5108|AAguilar@example.com|
|    max|           123459988|     Zelma|    zachary|   Zapata|    4210653399939240|     998 Shady Lane|     Zion|        WI|United States|             98908|(989)124-1244|ZStratton@example...|
+-------+--------------------+----------+-----------+---------+--------------------+-------------------+---------+----------+-------------+------------------+-------------+--------------------+

+---------+----------+-----------+---------+----------------+--------------------+-------------+----------+-------------+--------+-------------+--------------------+-------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  CREDIT_CARD_NO| FULL_STREET_ADDRESS|    CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|   CUST_PHONE|          CUST_EMAIL|       LAST_UPDATED|
+---------+----------+-----------+---------+----------------+--------------------+-------------+----------+-------------+--------+-------------+--------------------+-------------------+
|123456100|      Alec|         wm|   Hooper|4210653310061055|656 Main Street N...|      Natchez|        MS|United States|   39120|(601)123-7818| AHooper@example.com|2018-04-21 11:49:02|
|123453023|      Etta|    brendan|   Holman|4210653310102868|   829 Redwood Drive| Wethersfield|        CT|United States|   06109|(860)123-8933| EHolman@example.com|2018-04-21 11:49:02|
|123454487|    Wilber|   ezequiel|   Dunham|4210653310116272|683 12th Street East|      Huntley|        IL|United States|   60142|(847)124-3018| WDunham@example.com|2018-04-21 11:49:02|
|123459758|   Eugenio|      trina|    Hardy|4210653310195948|253 Country Club ...|   New Berlin|        WI|United States|   53151|(262)124-3215|  EHardy@example.com|2018-04-21 11:49:02|
|123454431|   Wilfred|        may|    Ayers|4210653310356919|  301 Madison Street|      El Paso|        TX|United States|   79930|(915)124-2074|  WAyers@example.com|2018-04-21 11:49:02|
|123454202|      Beau|    ambrose|  Woodard|4210653310395982|    3 Colonial Drive|North Olmsted|        OH|United States|   44070|(436)124-2570|BWoodard@example.com|2018-04-21 11:49:02|
|123451799|    Sheila|      larry|     Kemp|4210653310400536|   84 Belmont Avenue|       Vienna|        VA|United States|   22180|(703)123-9685|   SKemp@example.com|2018-04-21 11:49:02|
|123453875|     Wendy|        ora|   Hurley|4210653310459911|    728 Oxford Court|       Duarte|        CA|United States|   91010|(626)123-8213| WHurley@example.com|2018-04-21 11:49:02|
|123457511|      Alec|     tracie|  Gilmore|4210653310773972|    81 Forest Street|       Owosso|        MI|United States|   48867|(989)124-0689|AGilmore@example.com|2018-04-21 11:49:02|
|123457464|    Barbra|    mitchel|      Lau|4210653310794854|    561 Court Street|         Zion|        IL|United States|   60099|(847)123-5222|    BLau@example.com|2018-04-21 11:49:02|
|123457639|   Edmundo|      denny|  Thomson|4210653310817373|   622 Cypress Court|   Youngstown|        OH|United States|   44512|(330)124-1363|EThomson@example.com|2018-04-21 11:49:02|
|123453242|      Elsa|   isabelle|   Truong|4210653310844617| 924 8th Street West|  Summerville|        SC|United States|   29483|(843)123-6228| ETruong@example.com|2018-04-21 11:49:02|
|123454339|     Homer|      henry| McKinney|4210653311015303|     611 East Avenue|      El Paso|        TX|United States|   79930|(915)123-8165|HMckinney@example...|2018-04-21 11:49:02|
|123454537|      Rita|     rickey|     Kidd|4210653311215039|        680 Route 44|       Fenton|        MI|United States|   48430|(810)123-4730|   RKidd@example.com|2018-04-21 11:49:02|
|123452373|    Amalia|  heriberto|  Ballard|4210653311229354|    71 Warren Street|   Grandville|        MI|United States|   49418|(616)124-2113|ABallard@example.com|2018-04-21 11:49:02|
|123455343|     Patty|   angelita|   Thomas|4210653311652836|    195 Jones Street|    Yuba City|        CA|United States|   95993|(530)123-9888| PThomas@example.com|2018-04-21 11:49:02|
|123451533|  Josefina|   dorothea|   Morrow|4210653311707126|      500 New Street|   Cape Coral|        FL|United States|   33904|(239)124-0158| JMorrow@example.com|2018-04-21 11:49:02|
|123459278|    Nelson|  jefferson|  Andrews|4210653311730764| 989 Division Street|   Brookfield|        WI|United States|   53045|(262)124-1408|NAndrews@example.com|2018-04-21 11:49:02|
|123456915|    Miquel|     maximo|Schneider|4210653311898082|    810 Maple Street|     Richmond|        VA|United States|   23223|(686)123-8390|MSchneider@exampl...|2018-04-21 11:49:02|
|123453807|    Parker|    arnulfo|  Tidwell|4210653312021765|      649 Eagle Road| West Chester|        PA|United States|   19380|(484)123-5067|PTidwell@example.com|2018-04-21 11:49:02|
+---------+----------+-----------+---------+----------------+--------------------+-------------+----------+-------------+--------+-------------+--------------------+-------------------+
only showing top 20 rows

### **Writing the final_customer_dedup_df directly to the creditcard_capstone DB is key. Below, you will notice several code blocks in which I tried roundabout methods of loading data. TRANSFORMING INTO A PANDAS DATAFRAME AND THEN READING TO JSON FILES CREATES AN INFINITE NUMBER OF ISSUES. DO NOT ATTEMPT THIS APPROACH!!

In [47]:
final_customer_dedup_df.write.format("jdbc") \
  .mode("overwrite") \
  .option("url", "jdbc:mysql://localhost:3306/creditcard_capstone") \
  .option("dbtable", "creditcard_capstone.CDW_SAPP_CUSTOMER ") \
  .option("user", cred.user) \
  .option("password", cred.password) \
  .save()

#### For the sake of verification, I copied the final_customer_dedup_df to a pandas dataframe to review the set up of the columns and format of the table to ensure the mysql table matches.

In [48]:
pandas_df = final_customer_dedup_df.toPandas()
pandas_df.head()

,SSN,FIRST_NAME,MIDDLE_NAME,LAST_NAME,CREDIT_CARD_NO,FULL_STREET_ADDRESS,CUST_CITY,CUST_STATE,CUST_COUNTRY,CUST_ZIP,CUST_PHONE,CUST_EMAIL,LAST_UPDATED
0,123456100,Alec,wm,Hooper,4210653310061055,656 Main Street North,Natchez,MS,United States,39120,(601)123-7818,AHooper@example.com,2018-04-21 11:49:02
1,123453023,Etta,brendan,Holman,4210653310102868,829 Redwood Drive,Wethersfield,CT,United States,06109,(860)123-8933,EHolman@example.com,2018-04-21 11:49:02
2,123454487,Wilber,ezequiel,Dunham,4210653310116272,683 12th Street East,Huntley,IL,United States,60142,(847)124-3018,WDunham@example.com,2018-04-21 11:49:02
3,123459758,Eugenio,trina,Hardy,4210653310195948,253 Country Club Road,New Berlin,WI,United States,53151,(262)124-3215,EHardy@example.com,2018-04-21 11:49:02
4,123454431,Wilfred,may,Ayers,4210653310356919,301 Madison Street,El Paso,TX,United States,79930,(915)124-2074,WAyers@example.com,2018-04-21 11:49:02

In [49]:
!pip list

Package                   Version
------------------------- -----------
asttokens                 2.4.1
attrs                     23.2.0
blinker                   1.8.2
branca                    0.7.2
certifi                   2024.2.2
cffi                      1.16.0
charset-normalizer        3.3.2
click                     8.1.7
colorama                  0.4.6
comm                      0.2.2
contourpy                 1.2.1
cryptography              42.0.8
cycler                    0.12.1
dash                      2.17.0
dash-core-components      2.0.0
dash-html-components      2.0.0
dash-table                5.0.0
debugpy                   1.8.1
decorator                 5.1.1
executing                 2.0.1
fastjsonschema            2.19.1
findspark                 2.0.1
Flask                     3.0.3
folium                    0.17.0
fonttools                 4.51.0
greenlet                  3.0.3
grpcio                    1.64.1
grpcio-tools              1.64.1
idna                      3.7
importlib_metadata        7.1.0
ipykernel                 6.29.4
ipython                   8.23.0
itsdangerous              2.2.0
jedi                      0.19.1
Jinja2                    3.1.4
joblib                    1.4.2
jsonschema                4.22.0
jsonschema-specifications 2023.12.1
jupyter_client            8.6.1
jupyter_core              5.7.2
kiwisolver                1.4.5
MarkupSafe                2.1.5
matplotlib                3.9.0
matplotlib-inline         0.1.7
more-itertools            10.2.0
mysql-connector           2.2.9
mysql-connector-python    9.0.0
nbformat                  5.10.4
nest-asyncio              1.6.0
numpy                     1.26.4
packaging                 24.0
pandas                    2.2.2
parso                     0.8.4
pillow                    10.3.0
pip                       24.1.2
platformdirs              4.2.1
plotly                    5.22.0
prompt-toolkit            3.0.43
protobuf                  5.27.2
psutil                    5.9.8
pure-eval                 0.2.2
py4j                      0.10.9.7
pyarrow                   16.1.0
pycparser                 2.22
Pygments                  2.17.2
PyMySQL                   1.1.1
pyparsing                 3.1.2
pyspark                   3.5.1
python-dateutil           2.9.0.post0
pytz                      2024.1
pywin32                   306
pyzmq                     26.0.2
referencing               0.35.1
requests                  2.31.0
retrying                  1.3.4
rpds-py                   0.18.1
scikit-learn              1.5.0
scipy                     1.13.1
seaborn                   0.13.2
setuptools                65.5.0
six                       1.16.0
SQLAlchemy                2.0.31
stack-data                0.6.3
tenacity                  8.3.0
threadpoolctl             3.5.0
tornado                   6.4
traitlets                 5.14.3
typing_extensions         4.11.0
tzdata                    2024.1
urllib3                   2.2.1
wcwidth                   0.2.13
Werkzeug                  3.0.3
xyzservices               2024.6.0
zipp                      3.19.1